// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$ff-playfair-display: 'Playfair Display', serif;

$ff-open-sans: 'Open Sans', sans-serif;

$ff-cinzel-decorative: 'Cinzel Decorative', cursive;
/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;
$text-color-dark: rgb(39, 41, 50) !default;
$text-color-dark2: rgb(5, 10, 1) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(58, 170, 150) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// White Color
///@type Color
$white-color: rgb(255, 255, 255) !default;

/// Blue Color
///@type Color
$blue-color: rgb(0, 0, 255) !default;

/// Black Color
///@type Color
$black-color: rgb(0, 0, 0) !default;

/// Section Colors
$approx-snow-color: #f9f9f9 !default;

/// text colors
$pine-green-color: #027273 !default;

$pantone-color: #ff8400 !default;

$orange-color: #ff5400 !default;

$crimson-color: rgb(237, 20, 61) !default;

$dodgerblue-color: rgb(30, 144, 255) !default;

/// Container's maximum width
/// @type Length
$max-width: 73.125rem !default; //1170px

$lg-container: 1300px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': (min-width : 320px),
  'small-2' : (min-width: 480px),
  'small-2-only' : (max-width: 480px),
  'small-3-only' : (max-width: 600px),
  'medium': (min-width: 768px),
  'medium-only' : (max-width: 767px),
  'large': (min-width: 992px),
  'large-only' : (max-width: 991px),
  'large-2' : (min-width: 1200px),
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;


// This is the px value of the main unit - rem base - on which all sizing and
// layout depends. Every single rem value is calculated using this value.
$rem-base: 16px;


/// images base path
$images-path: '../images/';
