// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font: normal 100% / 1.75 $text-font-stack;
}

@include respond-to(small) {
  html {
    font-size: rem(14px) !important;
  }
}

@include respond-to(medium) {
  html {
    font-size: rem(16px) !important;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
}

/**
 * Basic styles for links
 */
a {
  outline: none !important;
  color: $text-color;
  text-decoration: none;

  @include on-event {
    color: $brand-color;
    text-decoration: underline;
  }
}

/**
 * Basic styles for unordered list
 */
ul {
  padding: rem(0px);
  margin: rem(0px);
}
ul li {
  color: $text-color;
}


input, button, img, .btn, select {
  outline: none;
}

p {
  margin: rem(0px);
}

/* Bootstrap overrides */
.form-group {
  margin-bottom: 0;
}
.row {
  margin: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: $brand-color;
}

/* slick slider overrides */
.slick-initialized .slick-slide {
  outline: none;
}


.site-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100%;
  z-index: 999;
}
