// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
 }



/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* padding */
.padding-0 {
  padding : rem(0px);
}


/* common title */
.title {
  font-weight: 700;
  font-family: $ff-playfair-display;
  font-size: rem(16px);
  color: $text-color-dark;
}

.section-title {
  text-align: center;
  margin-bottom: $double-unit-layout;
  &:after {
    content: '';
    background-image: url($images-path + 'section-title-separator.png');
    display: inline-block;
    height: rem(45px);
    width: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: $half-unit-layout;
  }
  .title {
    font-weight: 700;
    font-family: $ff-playfair-display;
    font-size: rem(24px);
    line-height: rem(41px);
    color: $text-color-dark;
  }
  .desc {
    font-weight: 300;
    line-height: rem(28px);
  }
}

.brand-color {
  color: $brand-color;
}


.inline-element {
  display: inline;
}

.field-error {
  color: $crimson-color;
  display: inline-block;
  font-size: rem(12px);
}

.light-text {
  font-weight: 300;
}

.pin-error {
  color: $crimson-color;
}

.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

//animations
@keyframes zoomin {
  from {
    -webkit-transition: all 0.5s ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 0.5s ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 0.5s ease-in;
    -moz-transform: scale(1);
    transition: all 0.5s ease-in;
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
  
@include respond-to(medium) {
  .section-title {
    .title {
      font-size: rem(30px);
    }
    &:after {
      width: 100%;
    }
  }
}


