/**
 * Basic typography style for copy text
 */

// This is the basic font-size unit. It has been set to 16px because most
// browsers set 16px as a default font-size. Dependent on this unit is the
// horizontal visual grid and all font-sizes and layout units.
$base-unit-font-size: rem($rem-base);

// This is the basic line-height unit. This setting makes sure that typography
// is not cluttered.
$base-unit-line-height: 1.75;

// This is the basic layout unit. It is inherited from font-size base unit,
// as all sizing is relative to it. All modules, i.e. div containers, their
// proportions, padding, margin, etc. will be dependent on this unit as the aim
// is to increase consistency throughout the whole visual feel
$base-unit-layout: rem($rem-base);
$unit-layout: $base-unit-layout;

// These are the different unit proportions derived from the base layout unit.
$quarter-unit-layout: rem($rem-base / 4);
$half-unit-layout: rem($rem-base / 2);
$double-half-unit-layout: rem($rem-base * 1.5);
$double-unit-layout: rem($rem-base * 2);
$triple-unit-layout: rem($rem-base * 3);
$quadruple-unit-layout: rem($rem-base * 4);


body {
  color: $text-color;
  font: normal 100% / 1.75 $text-font-stack;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: rem(48px);
}

h2 {
  font-size: rem(36px);
}

h3 {
  font-size: rem(30px);
}

h4 {
  font-size: rem(24px);
}

h5{
  font-size: rem(20px);
  line-height: rem(24px);
}

h6 {
  font-size: rem(18px);
}

p {
  font-size: rem(14px);
}

button, .btn {
  font-size: rem(15px);
}
