svg(width='30px', height='45px', viewbox='0 0 43 55', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
  desc Created with Sketch.
  defs
    polygon#path-1(points='0 59.5549913 46.8834783 59.5549913 46.8834783 0.999165217 0 0.999165217')
  g#Page-1(stroke='none', stroke-width='2', fill='none', fill-rule='evenodd')
    g#Lock(transform='translate(-2.255900, -3.000000)')
      path#108b3c(d='M12.6928696,14.5122087 C12.6928696,8.63533913 17.4615652,3.86873043 23.3405217,3.86873043 C29.2132174,3.86873043 33.981913,8.63533913 33.981913,14.5122087', stroke='#3AAA96')
      path#Stroke-3(d='M30.9172174,40.0763826 C30.9172174,44.2064696 27.5697391,47.5560348 23.4417391,47.5560348 C19.3116522,47.5560348 15.962087,44.2064696 15.962087,40.0763826 C15.962087,35.9462957 19.3116522,32.5988174 23.4417391,32.5988174 C27.5697391,32.5988174 30.9172174,35.9462957 30.9172174,40.0763826 Z', stroke='#3AAA96')
      mask#mask-2(fill='white')
        use(xlink:href='#path-1')
      g#Clip-6
      polygon#Stroke-5(stroke='#3AAA96', mask='url(#mask-2)', points='2.86956522 56.6854261 44.013913 56.6854261 44.013913 22.175513 2.86956522 22.175513')
