// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
/*subscribe*/
.signup_toget_acces{
  padding-top: rem(20px);
  padding-bottom: rem(30px);
}
.signup_toget_acces>.newsletter{
  justify-content: center;
  display: flex;
}
.signup_toget_acces>.newsletter>div>h3 {
  font-family: $brand-font;
  margin: 50px 0;
  padding-left: 0;
  line-height: 45px;
  font-size: rem(32px);
  color: $brand-color;
  text-align: center;
  letter-spacing: 1px;
}
.newsletter>div>.input-group>.newsletterTextbox {
    border-radius: 0;
    border-color: $brand-color;
    padding: 20px;
    height: rem(55px);
    box-shadow: none;
    -webkit-appearance: none;
    font-family: $ff-open-sans;
    font-size: rem(13px);
    font-style: italic;
    text-transform: capitalize;
}
.input-group>.input-group-btn>.newsletterButton {
    font-size: rem(15px);
    padding: 14.5px 25px;
    border-radius: 0;
    color: $white-color;
    background: $brand-color;
    font-family: $ff-open-sans;
    height: rem(55px);
    width: rem(172px);
    outline: 0;
}
/*links*/
.links{
  padding-top: rem(53px);
}
.links ul{
  list-style-type: none;
}
.links ul .active, .social p, .need_help .contact{
  color: $brand-color;
  font-family: $brand-font;
  font-weight: bold;
  font-size: rem(18px);
}
.footer_links, .need_help p{
  font-size: rem(13px);
  font-family:$ff-open-sans;
  color:$grey;
  line-height: 2.077;
}
.footer_links:hover, .footer_links:focus {
  text-decoration: none;
  background-color:transparent;
  color:$grey;/*change color #878787*/
}
.experience_on_mobile{
  margin-top: rem(19px);
}
.experience_on_mobile > a> img{
  margin-top: rem(10px);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.services{
  display:flex;
  margin-bottom: rem(20px)
}
.icon{
  margin-top:rem(10px);
}
.descrptn{
  margin-left:rem(15px);
}
.descrptn .heading{
 font-size: rem(13px);
 color: $brand-color;
 font-weight: bold;
 font-family: $ff-open-sans;
}
.descrptn p:nth-of-type(2){
 font-size: rem(13px);
 font-family: $ff-open-sans;
 color: $grey;
}
.socail_logos{
  display: flex;
}
.socail_logos a{
  margin-right: auto;
}
.need_help{
  margin-top:rem(50px);
}
.need_help span{
  font-weight: bold;
  color: $brand-color;
}
/*about kashmirbox*/
.about_kashmirbox{
  padding-top: rem(53px);
  padding-bottom: rem(1px);
}
.Your_Convenient_Connection {
  font-size: rem(18px);
  font-family: $brand-font;
  color: $brand-color;
  font-weight: bold;
  margin-bottom: rem(15px);
  margin-left: rem(15px);
}
.about_kashmirbox .descptn {
  font-size: rem(13px);
  font-family: $ff-open-sans;
  color: $grey;
  line-height: 1.471;
  text-align: justify;
  max-width: rem(970px);
}
.descptn:nth-of-type(2){
  margin-top: 15px;
}
.descptn span{
  font-weight: bold;
  color:$brand-color;
}
/*payment partners*/
.payment_partners{
  padding-bottom: rem(27px);
}
 .payment_partners img{
  margin-left:auto;
  margin-right:auto;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
 }
 .payment_partners p{
  font-size: rem(18px);
  font-family: $brand-font;
  color: $brand-color;
  text-align: center;
  font-weight: bold;
  margin: 0px 0px 25px 0px;
}
/*copyright*/
.copyright{
  background-color: $brand-color;
  height: rem(49px);
  width: 100%;
  padding: rem(15px);
 }
 .copyright p{
  font-size: rem(12px);
  text-align: center;
  font-family:$ff-open-sans;
  color:$white-color;
 }
