#site-header-checkout {
  padding: $unit-layout * 1.25 0;
  .container {
    width: 100%;
  } 
  .logo-wrap {
    text-align: center;
    img {
      max-width: 90%;
    }
  }
  .safe-and-secure {
    text-align: right;
    font-size: rem(13px);
    font-weight: 300;
  }
}

@include respond-to('small-2') {
  #site-header-checkout { 
    .safe-and-secure {
      line-height: rem(60px);
    }
  }
}

@include respond-to(medium) {
  #site-header-checkout {
    .logo-wrap {
      text-align: left;
    } 
  }
}
