// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/*top nav*/
header a:hover, a:active, a:focus {
  text-decoration: none;
}
.top_nav
{
  background-color: $brand-color;
  height: rem(36px);
  width: 100%;
}
.top_nav_row {
 list-style-type: none;
 display: inline-flex;
}
.top_nav_row:nth-of-type(2){
 float:right;
 height: rem(36px);
 margin-right: rem(-30px);
}
.top_nav_li{
  padding-top:rem(4px); 
}
.nav_text:hover {
  background-color: $white-color;
  height:rem(10px);
}
.top_nav_active {
  background-color: $white-color;
  width: rem(46px);
  height: rem(36px);
  font-size: rem(12px);
  color: $brand-color;
  font-family: $ff-open-sans;
  font-style:normal;
  text-align:center;
  font-weight:bold;
  padding: rem(8px);
  text-transform:uppercase;
}
.nav_text{
   text-align:center;
   font-size: rem(12px);
   color: $white-color;
   font-family: $ff-open-sans;
   font-style:normal;
   padding-top: rem(10px);
   padding-right: rem(11px);
   padding-bottom: rem(10px);
   padding-left: rem(11px);
   text-transform:capitalize;
   line-height:rem(1px);
}
.divider{
   font-size: rem(12px);
   color: $white-color;
   font-family: $ff-open-sans;
   font-style:normal;
   padding: 5px 0px;
}
/*Header*/
.search{
    float: left;
    width: rem(275px);
    border-bottom: 2px solid $brand-color;
    margin-top: rem(16px);
}
.search-input{
    width: rem(255px);
    font-weight: 500;
    border: aliceblue;
    font-size: rem(15px);
    font-family: $ff-open-sans;
    font-style:italic;
    font-weight:normal;
    padding-left: rem(5px);
}
.logo h1{
  font-size: rem(40px);
  font-family: $brand-font;
  font-style:normal;
  color: $brand-color;
  text-transform: uppercase;
  text-align: center;
  margin-top:rem(12px);
}
/*ul:nth-of-type(3){
    float:right;
}*/
.login ul{
  list-style-type: none;
  display: inline-flex;
  margin-top:rem(27px);
  float:right;
  margin-right: rem(-15px);
}
.login ul li
{
   font-size: 13px;
   font-family: $ff-open-sans;
   font-style:normal;
   color: $brand-color;
   text-transform: uppercase;
   font-weight: bold;
}
.login ul li{
  padding:0px 12px;
}
.login ul li a{
  margin-top: rem(12px);
  cursor:pointer;
}
.login ul li span{
  margin-left: 5px;
}
.cart{
   border-radius: 50%;
   background-color: $crimson-color;
   width: rem(22px);
   height: rem(22px);
   float: right;
   text-align: center;
   color: $white-color;
   font-family: $ff-open-sans;
   font-style:normal;
   font-weight: bold;
   margin-top: rem(-11px);
   margin-left: rem(-14px);
   line-height: rem(23px);
 }
 /*navbar*/
.navbar-center{
  display: flex!important;
  justify-content: center;
  width: 100%;
  background: #fff;
  margin-top: rem(20px);
}
.nav.navbar-nav li{
  font-size: rem(14px);
  font-family: $ff-open-sans;
  font-style:normal;
  color: $brand-color;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0px 5px 0px 5px;
}
#sale {
  color: $crimson-color;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: transparent;
}
/*.navbar-nav>li>a:hover,.navbar-nav>li>a:hover {
    background: 0 0;
    border-bottom: 2px solid #2b2b2b;
}*/
/*currency dropdown styling*/
.currency,{
  text-align:center;
  font-size: rem(15px);
  font-family: $ff-open-sans;
  font-style:normal;
  min-width: rem(80px);
  padding: rem(0px) ;
  margin: rem(0px);
}
.currency>li>a:hover, .currency>li>a:focus {
  background-color: $mid-grey;
}
.currency a{
   padding: rem(0px);
}  
.help{
  text-align:left;
  font-size: rem(15px);
  font-family: $ff-open-sans;
  font-style:normal;
  min-width: rem(80px);
  padding: rem(0px) ;
  margin: rem(0px);
  right: 0;
  left: initial;
}
.help a{
   padding: rem(0px);
} 
.help>li>a:hover, .help>li>a:focus {
  background-color: $mid-grey;
} 
