// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


// default style
#site-header {

}

#site-header-top {
  display: none;
  background-color: $approx-snow-color;
  padding: $quarter-unit-layout rem(0px);
  border-bottom: rem(2px) solid #f0f0f0;

  .container {
    max-width: rem($lg-container);
  }

  .tagline {
    font-size: rem(14px);
    max-width: 40%;
    display: inline-block;
  }  

  .quick-links {
    list-style-type: none;
    float: right;
    li {
      float: left;
      color: $pine-green-color;
      margin-right: $double-unit-layout;
      a {
        font-size: rem(13);
        font-weight: 300;
      }
    }
    li:last-child{
      margin-right: rem(0px);
    }
    a {
      padding: 0 $quarter-unit-layout;
      border-right: rem(1px) solid $pine-green-color;
    }
    a:last-child {
      border-right: none;
    }
  }
}


#site-header-primary{
  padding: $unit-layout 0;

  .container {
    max-width: rem($lg-container);
  }

  .kbsearch {
    margin: rem(10px) 0;
  }
  .logo-wrap {
    height: rem(57px);
    display: table;
    a {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      max-width: 100%;
    }
  }
  .mini-cart-wrap {
    text-align: right;
    .wishlist-icon {
      display: inline-block;
      vertical-align: top;
      margin-top: $unit-layout;
      margin-right: 1rem;
      span {
        color: $brand-color;
        font-size: rem(32px);
      }
    }
    .cart {
      display: inline-block;
      .wishlist-icon, .mini-cart-icon {
        float: right;
        line-height: 0;
        color: $brand-color;
      }
      .mini-cart-icon {
        position: relative;
        .mini-cart-count {
          position: absolute;
          left: -10px;
          bottom: -10px;
          background-color: #f25c5b;
          display: inline-block;
          height: rem(30px);
          width: rem(30px);
          border-radius: 50%;
          line-height: rem(30px);
          text-align: center;
          color: white;
          font-size: rem(16px);
          font-style: normal;
        }
        &.mobile {
          margin-top:  $half-unit-layout;
        }
      }
      .wishlist-icon {
        margin-right: 70px;
      }
    }
  }
}




#site-header-mobile-menu {
  background-color: $light-grey;
  .icons {
    .icon {
      width: 33.33%;
      float: left;
      cursor: pointer;
      &.open {
        #Avatar-icon, #Hamburger-icon, #Search-icon {
          stroke: white;
        }
      }
      &:hover {
        background-color: $brand-color;
      }
      a {
        display: block;
        text-align: center;
        height: 50px;
        line-height: 50px;
        color: $brand-color;
        font-size: rem(20px);
        border: 0;
        &:hover {
          color: white;
        }
      }
      > a {
        > svg {
          margin-top: $unit-layout * 0.8;
          pointer-events: none;
        }
        &:hover {
          #Avatar-icon, #Hamburger-icon, #Search-icon {
            stroke: white;
          }
        }
      }
      .kbsearch {
        a {
          background-color: white;
          display: inline-block;
          svg {
            margin-top: $unit-layout * 0.8;
          }
          #Search-icon {
            stroke: $brand-color;
          }
        }
      }
    }
    .profile-dd-toggle {
      position: static;
      .dropdown-toggle {
        padding: 0;
      }
      .dropdown-menu {
        padding: 0;

        top: inherit;
        width: 100%;
        border: 0;  
        border-radius: 0;
        margin:0;
        li {
          &:hover {
            background-color: $brand-color;
          }
        }
        > li:hover a {
          background-color: $brand-color;
          color: white;
        } 
      }
    }
    .profile-dd-toggle.open {
      background-color: $brand-color;
      color: $white-color;
      > a {
        .fa {
          color: $white-color;
        }
      }
      .dropdown-menu {
        > li {
          > a {
            font-size: rem(16px);
          }
        }
      }
    }
    .search-toggle {
      .kbsearch {
        border: 2px solid $brand-color;
        width: 100%;
        max-width: 100%;
        z-index: 50;
        left: 0;
        position: absolute;
        min-height: 54px;
        display: none;
        input {
          float: left;
          min-height: 50px;
        }
        .btn {
          float: left; 
        }
      }
    }
    .search-toggle.open {
       background-color: $brand-color;
       color: white;
      > a {
        background-color: $brand-color;
        color: $white-color;
      }
      .kbsearch {
        display: block;
      }
    }
  }
}

#site-header-navigation {
  width: 83%;
  height: 100%;
  .navbar-default {
    border-radius: 0;
  }
}

@include respond-to('small-2') {
  #site-header-primary{ 
    .mini-cart-wrap {
      .wishlist-icon {
        margin-top: $unit-layout;
        margin-left: 1rem;
        margin-right: 1rem;
        span {
          font-size: rem(32px);
        }
      }
      .cart {
        margin-left: $unit-layout;
      }
    }
  }
}

@include respond-to('large-only') {
  #site-header-navigation {
    left: -100%;
    position: absolute;
    transition: left 0.5s;
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-direction: alternate;
    &.open {
      left: 0%;
    }
    position: absolute;
    top:0;
    z-index: 1000;
    .container {
      padding: 0;
    }
    .navbar-default {
      margin-bottom: 0;
      min-height: auto;
      border:0;
      .navbar-nav {
        margin: 0;
      }
      .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
      }
      .navbar-header {
        display: none;
      }
      .menu-toggle {
        position: relative;
        .nav-pills {
          > li {
            width: 50%;
            margin:0;
            text-align: center;
            > a {
              font-weight: 300;
              text-transform: lowercase;
              border-radius: 0;
            }
          }
        }
        .close-menu {
          position: absolute;
          background-color: $white-color;
          height: rem(50px);
          width: rem(50px);
          line-height: rem(50px);
          text-align: center;
          top: 0;
          right: rem(-55px);
          cursor: pointer;
          a {
            display: block;
            svg {
              margin-top: $half-unit-layout;
              pointer-events: none;
            }
          }
          .fa {
            font-size: rem(20px);
            color: $mid-grey;
          }
        }
      }
    }
  }
}

@include respond-to(large) {
  #site-header-top {
    display: block;
  }
  #site-header-primary {
     padding: $unit-layout * 1.5 0;
     .logo-wrap {
      img {
        max-width: 90%;
      }
     }
  }
  #site-header-navigation {
    width: 100%;
  }
}

@include respond-to(large) {
  #site-header-top {
    .tagline {
      max-width: 50%;
    }
  }
}
