#tagline-strip {
  background-color: #272932;
  color: white;
  font-family: $ff-playfair-display;
  font-style: italic;
  text-align: center;
  padding: $unit-layout * .75;
  h6 {
    line-height: rem(28px);
  }
}

@include respond-to(medium) {
  #tagline-strip {

    line-height: rem(21px);
  }
}
