.checkout-steps {
  .step {
    .step-title {
      border: 1px solid #ededed;
      margin: $unit-layout 0;
      padding: $half-unit-layout;
      background-color: $white-color;
      span {
        font-size: rem(17px);
        font-weight: 500;
      }
      .index {
        width: rem(30px);
        height: rem(30px);
        line-height: rem(30px);
        display: inline-block;
        margin-right: $unit-layout;
        text-align: center;
      }
    }

    .step-complete-panel {
      display: none;
      background-color: $brand-color;
      padding: $unit-layout;
      margin-bottom: $unit-layout;
      cursor: pointer;
      .index {
        max-width: rem(20px);
        width: 100%;
        float: left;
        span {
          color: white;
        }
      }
      .details {
        display: inline-block;
        width: 85%;
        .step-complete-title {
          .fa {
            display: inline-block;
            margin-left: $quarter-unit-layout;
          }
        }
        p {
          color: white;
          font-size: rem(17px);
        }
      } 
    }
  }

  .step.open {
    .step-title {
      border: 0;
      background-color: $approx-snow-color;
      padding: $half-unit-layout 0;
      .index {
        background-color: $brand-color;
        color: white;
      }
    }
  }

  .step.done {
    .step-title {
      display: none;
    }
    .step-complete-panel {
      display: block;
    }
  }

  .step#step1 {
    .step-complete-panel {
      .details {
        .name, .email {
          padding-right: $unit-layout;
          display: inline-block;
        }
        .email {
          font-weight: 300;
        }
      }
    }
    .step-content {
      .view.logged-out {
        border: 1px solid #ededed;
        background-color: $white-color;
        padding: $double-unit-layout $unit-layout;
        .col-left,.col-right {
          > h6 {
            margin-bottom: $unit-layout;
          }
        }
        .col-right {
          .checkout-options .radio label{
            font-size: rem(14px);
          }
          #checkout-type-btn {
           font-size: rem(16px);
           margin: $unit-layout 0;
           border-radius: 0;
          }
          #checkout-options-forms.open {
            padding-top: $unit-layout;
            #checkout-type-btn {
              display: none;
            }
          }
        }
        form {
          .form-group {
            margin: $unit-layout 0;
          }
          .form-control {
            border-radius: 0;
            height: rem(45px);
          }
          .submit-btn{
            width: 100%;
            border-radius: 0;
            height: rem(45px);
            display: block;
          }
          .forgot-password-link, .signin-link {
            color: $crimson-color;
            cursor: pointer;
          }
        }
      }
      .view.logged-in {
        border: 1px solid #ededed;
        background-color: $white-color;
        padding: $double-unit-layout $unit-layout;
        .userdetails {
          p {
            padding: $unit-layout 0;
            span:first-child {
              color: $mid-grey;
              display: inline-block;
              padding-right: $quarter-unit-layout;
            }
          }
          .logout-link {
            color: $blue-color;
          }
        }
        .nextstep {
          height: rem(45px);
          line-height: rem(45px);
          max-width: rem(250px);
          width: 100%;
          text-transform: uppercase;
          border-radius: 0;
          margin: $unit-layout 0;
        }
        .disclaimer {
          color: $mid-grey;
        }
      }
    }
  }

  .step#step2 {
    .step-complete-panel {
      .details {
        span {
          font-weight: 300;
          padding-right: $quarter-unit-layout;
        }
        span:after {
          content: ',';
        }
        span:last-child:after {
          content: '';
        }
      }
    }
    .step-content {
      .address-form-wrap {
        padding: $unit-layout 0;
        background-color: $white-color;
        margin-bottom: $half-unit-layout;
        .address-form-edit-panel {
          @include clearfix;
          background-color: $white-color;
          padding: $unit-layout;
          margin-bottom: $half-unit-layout;
          .address-toggle {
            width: 5%;
            float: left;
          }
          .address-summary {
            float: left;
            width: 85%;
            padding-left: $unit-layout;
            span {
              font-weight: 400;
            }
            span.phone {
              font-weight: 500;
            }
            span.name {
              font-weight: 500;
              padding-right: $unit-layout;
              display: inline-block;
            }
            p.delivery-address {
              span:after {
                content: ', ';
              }
              span:last-child:after{
                display: none;
              }
            }
          }
          .address-edit {
            float: right;
            cursor: pointer;
            width: 10%;
            a {
              color: $dodgerblue-color;
              text-decoration: none;
              span {
                display: block;
                text-align: center;
              }
            }
          }
        }
        .address-form {
          @include clearfix;
          display: none;
          form {
            .form-group {
              > div {
                margin-bottom: $unit-layout;
                &:last-child {
                  margin-bottom: 0;
                }
              }
              @include clearfix;
              margin: $unit-layout 0;
              label {
                font-size: rem(14px);
              }
              input {
                height: rem(45px);
                border-radius: 0;
                background-color: $white-color;
              }
              textarea {
                height: rem(100px);
              }
            }
            .save-address {
              margin-right: $quarter-unit-layout;
            }
            .save-address, .cancel-address {
              width: rem(40px);
              height: rem(40px);
              width: rem(100px);
            }
          }
        }
      }
      .address-form-wrap.editing {
        .address-form-edit-panel {
          display: none;
        }
        .edit-label {
          display: inline;
        }
        .new-label {
          display: none;
        }
        .address-form {
          border: 1px solid #ededed;
          display: block;
        }
      }
      .address-form-wrap.new {
        .edit-label {
          display: none;
        }
        .new-label {
          display: inline;
        }
      }
      .address-form-wrap.first {
        .edit-label {
          display: none;
        }
        .new-label {
          display: inline;
        }
      }
      .address-form-wrap.first.new {
        .cancel-address {
          display: none;
        }
      }
      #proceed-to-payment-step {
        margin: $unit-layout 0;
        button {
          max-width: rem(235px);
          width: 100%;
          height: rem(40px);
          border-radius: 0;
          font-size: rem(16px);
          line-height: rem(40px);
        }
      }
      #add-new-address {
        padding: $unit-layout;
        margin: $unit-layout 0;
        background-color: $white-color;
        cursor: pointer;
        a {
          text-decoration: none; 
          span {
            color: $dodgerblue-color
          }
          span:first-child {
            display: inline-block;
            margin-right: $quarter-unit-layout;
          }
        }
      }
    }

  } // .step#step2

  .step#step3 {
    .step-content {
      .payment-gateway {
        background-color: white;
        padding-right: $unit-layout;
        margin-bottom: $half-unit-layout;
        label {
          width: 100%;
          img {
            float: right;
          }
        }
      }
    }
    #proceed-to-payment-gateway {
      a {
        max-width: rem(235px);
        height: rem(40px);
        width: 100%;
        font-size: rem(16px);
        border-radius: 0;
        line-height: rem(40px);
      }
    }
  }
}


@include respond-to(medium) {
  .checkout-steps{
    .step#step1 {
      .step-content {
        .view.logged-out {
          form {
            .form-control {
              max-width: rem(300px);
            }
            .submit-btn{ 
              max-width: rem(300px);
            }
          }
        }
      }
    }

    .step#step2 {
      .step-content {
        .address-form-wrap {
          .address-form {
            form {
              .form-group {

              }
            }
          }
        }
      }
    }

  }      

}
