//-Breadcrumb
.container-fluid
  .row
    .col-lg-12.col-md-12.Bread_crumb.padding-0
      nav.path(aria-label="breadcrumb")
        ol.breadcrumb.productbreadcrumb
          li.breadcrumb-item
            a(href="#") Home
          li.breadcrumb-item
            a(href="#") Women
          li.breadcrumb-item
            a(href="#") Women Clothing
          li.breadcrumb-item
            a(href="#") Home