li.top_nav_li.dropdown
    a.dropdown-toggle.nav_text(data-toggle='dropdown') Currency:USD 
      span.fa.fa-angle-down
      ul.dropdown-menu
        li hi
        li hi
        //-make color white of .fafa-angle-down
        