li.top_nav_li.dropdown
    a.dropdown-toggle.nav_text(data-toggle='dropdown') Currency 
      span.fa.fa-angle-down.fa-lg
      ul.dropdown-menu.currency
        li
         a(href="#") €
        li
         a(href="#") £
        li
         a(href="#") Rs.
        li
         a(href="#") $       
        //-make color white of .fafa-angle-down