li.top_nav_li.dropdown.on_hover_dropdown
    a.dropdown-toggle.nav_text(href="" data-toggle='dropdown') Help 
      span.fa.fa-angle-down.fa-lg
      ul.dropdown-menu.help
        li 
         a(href="#") #[b Call:]+91-979-665-9999
        li 
         a(href="#") #[b Email:]care@kashmirbox.com