.hero-slider
  .slide
    .slide-frame(style="background-image: url('images/banner-1.jpg')")
      .slide-content
        .container
          h1 a tea escapade!
          h5 Delight yourself to a steaming cup of Kashmiri Kehwa
          a(href='#' class='btn btn-border btn-border-pink') Indulge Now 
  .slide
    .slide-frame(style="background-image: url('images/banner-2.jpg')")
      .slide-content
        .container
          h1 a tea escapade!
          h5 Delight yourself to a steaming cup of Kashmiri Kehwa
          a(href='#' class='btn btn-border btn-border-pink') Indulge Now 
  .slide
    .slide-frame(style="background-image: url('images/banner-1.jpg')")
      .slide-content
        .container
          h1 a tea escapade!
          h5 Delight yourself to a steaming cup of Kashmiri Kehwa
          a(href='#' class='btn btn-border btn-border-pink') Indulge Now 
