.hero-slider
  .slide.active
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/homepage/slideshow/green_saree.jpg')")
  .slide
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/homepage/slideshow/Food-Festival.jpg')")
  .slide
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/homepage/slideshow/easter_arrival.jpg')")