#mega-menu.navbar.navbar-default.navbar-default(role='navigation')
  .container
    // Menu toggle Icon
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.menu-wrapper')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .menu-wrapper.collapse
      // Menu Toggle
      .menu-toggle
        ul.nav.nav-pills
          li.active
            a(data-toggle='pill', href='#shop-by-menu') Shop By
          li
            a(data-toggle='pill', href='#service-menu') Services
        .close-menu
          a(type='button', data-toggle='collapse', data-target='.menu-wrapper')
            include svgicons/cross.pug
      // Menus
      .menu-content.tab-content
        // Shop Menu
        #shop-by-menu.tab-pane.fade.in.active
          .collapse.navbar-collapse.in
            ul.nav.navbar-nav
              li.active
                span.fa.fa-angle-right
                a(href='#') Women
              li
                span.fa.fa-angle-right
                a.dropdown-toggle(href='#', data-toggle='dropdown') Men
                ul.dropdown-menu.multi-level
                  li.dropdown-submenu
                    a.dropdown-toggle.active-submenu(href='#', data-toggle='dropdown')
                      span Accessories 
                      span.fa.fa-angle-right
                    ul.dropdown-menu
                      li
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Wraps
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Pashmina
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Heading
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Paper Mache
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                      li
                        .offer-box
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                  li.dropdown-submenu
                    a.dropdown-toggle.active-submenu(href='#', data-toggle='dropdown') 
                      span Clothing
                      span.fa.fa-angle-right
                    ul.dropdown-menu
                      li
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Wraps
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Pashmina
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Crewel
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Flowers
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                      li
                        .offer-box
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                  li.dropdown-submenu
                    a.dropdown-toggle.active-submenu(href='#', data-toggle='dropdown')
                      span Electronics
                      span.fa.fa-angle-right
                    ul.dropdown-menu
                      li
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Wraps
                            ul
                              li
                                a(href='#') wrap1
                              li
                                a(href='#') wrap2
                              li
                                a(href='#') wrap3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Pashmina
                            ul
                              li
                                a(href='#') wrap1
                              li
                                a(href='#') wrap2
                              li
                                a(href='#') wrap3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Paper Mache
                            ul
                              li
                                a(href='#') wrap1
                              li
                                a(href='#') wrap2
                              li
                                a(href='#') wrap3
                      li
                        .offer-box
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
              li
                span.fa.fa-angle-right
                a(href='#') Children
              li
                span.fa.fa-angle-right
                a.dropdown-toggle(href='#', data-toggle='dropdown') Healthy Living
                ul.dropdown-menu.multi-level
                  li.dropdown-submenu
                    a.dropdown-toggle.active-submenu(href='#', data-toggle='dropdown') 
                      span Accessories 
                      span.fa.fa-angle-right
                    ul.dropdown-menu
                      li
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Wraps
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Pashmina
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Heading
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Paper Mache
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                      li
                        .offer-box
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                  li.dropdown-submenu
                    a.dropdown-toggle.active-submenu(href='#', data-toggle='dropdown')
                      span Clothing 
                      span.fa.fa-angle-right
                    ul.dropdown-menu
                      li
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Wraps
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Pashmina
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Crewel
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                        ul.sub-submenu
                          li
                            a.sub-submenu-title Flowers
                            ul
                              li
                                a(href='#') item1
                              li
                                a(href='#') item2
                              li
                                a(href='#') item3
                      li
                        .offer-box
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
                          .offer
                            .offer-heading 
                              span Offer in Men's Section
                            .offer-image 
                              img(src='images/offer.png')
              li
                span.fa.fa-angle-right
                a(href='#') Home
              li
                span.fa.fa-angle-right
                a(href='#') Unique in box
              li
                span.fa.fa-angle-right
                a(href='#') Treasure box
              li
                span.fa.fa-angle-right
                a(href='#') Sports
              li
                span.fa.fa-angle-right
                a(href='#') Shop By
              li
                span.fa.fa-angle-right
                a(href='#') New Arrivals
        // Services Menu
        #service-menu.tab-pane.fade
          .collapse.navbar-service.in
            ul.nav.navbar-nav
              li.active
                span.fa.fa-angle-right
                a(href='#') Service 1
              li
                span.fa.fa-angle-right
                a(href='#') Service 2
              li
                span.fa.fa-angle-right
                a(href='#') Service 3
