.container-fluid.padding-0
    .col-md-12.navbar-center(data-spy="affix" data-offset-top="197")  
       ul.nav.navbar-nav
        li.menu.dropdown
         a.dropdown-toggle.menulist(href='#', data-toggle='dropdown' data-hover="dropdown") Men
         ul.dropdown-menu.mega-dropdown-menu.submenulist
           li.col-sm-2.col-md-offset-1
             ul
               li.dropdown-header Features
               li.nav
                a(href="https://www.kashmirbox.com/men-clothing/kurta-pyjamas") Kurtas  Pyjamas
               li.nav
                a(href="https://www.kashmirbox.com/men-clothing/suiting") Suiting 
               li.nav
                a(href="#") Left & Right Navigation 
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="category.html") Auto Carousel              
               li.nav
                a(href="category.html") Carousel Control
               li.nav
                a(href="category.html") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="category.html") Auto Carousel              
               li.nav
                a(href="category.html") Carousel Control
               li.nav
                a(href="category.html") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="category.html") Auto Carousel              
               li.nav
                a(href="category.html") Carousel Control
               li.nav
                a(href="category.html") Left & Right Navigation           
        li.menu.dropdown
         a.dropdown-toggle.menulist(href='#', data-toggle='dropdown' data-hover="dropdown") Women
         ul.dropdown-menu.mega-dropdown-menu.submenulist
           li.col-sm-2.col-md-offset-1
             ul
               li.dropdown-header Features
               li.nav
                a(href="category.html") Auto Carousel              
               li.nav
                a(href="category.html") Carousel Control
               li.nav
                a(href="category.html") Left & Right Navigation 
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="category.html") Auto Carousel              
               li.nav
                a(href="category.html") Carousel Control
               li.nav
                a(href="category.html") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
        li.menu.dropdown
         a.dropdown-toggle.menulist(href='#', data-toggle='dropdown' data-hover="dropdown") Food
         ul.dropdown-menu.mega-dropdown-menu.submenulist
           li.col-sm-2.col-md-offset-1
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation 
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation

        li.menu.dropdown
         a.dropdown-toggle.menulist(href='#', data-toggle='dropdown' data-hover="dropdown") Beauty
         ul.dropdown-menu.mega-dropdown-menu.submenulist
           li.col-sm-2.col-md-offset-1
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation 
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation

        li.menu.dropdown
         a.dropdown-toggle.menulist(href='#', data-toggle='dropdown' data-hover="dropdown") Decor
         ul.dropdown-menu.mega-dropdown-menu.submenulist
           li.col-sm-2.col-md-offset-1
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation 
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation

        li.menu.dropdown
         a.dropdown-toggle.menulist(href='#', data-toggle='dropdown' data-hover="dropdown") Shop By
         ul.dropdown-menu.mega-dropdown-menu.submenulist
           li.col-sm-2.col-md-offset-1
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation 
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
           li.col-sm-2 
             ul
               li.dropdown-header Features
               li.nav
                a(href="#") Auto Carousel              
               li.nav
                a(href="#") Carousel Control
               li.nav
                a(href="#") Left & Right Navigation
        li.menu.dropdown
          a.dropdown-toggle.menulist(href='new_arrivals.html') new
        li.menu.dropdown
          a.dropdown-toggle.menulist(href='blog.html') Blog
        li.menu.dropdown
          a(href='sale.html').dropdown-toggle#sale.menulist Sale!
        li.menu.dropdown.hidden
          .tostify_div
            p hello  