.container
    .col-md-12.navbar-center  
       ul.nav.navbar-nav
        li.menu.dropdown
         a.dropdown-toggle.menulist(href='#', data-toggle='dropdown' data-hover="dropdown") Men
         ul.dropdown-menu.submenulist
           li Clothing 
           li  
             a(href="") Kurta Pyjamas
           li  
             a(href="") Kurta Pyjamas
           li  
             a(href="") Kurta Pyjamas
           
        li.menu.dropdown
          a.dropdown-toggle.menulist(href='#').dropdown-toggle Women

        li.menu.dropdown
          a.dropdown-toggle.menulist(href='#') Food

        li.menu.dropdown
          a.dropdown-toggle.menulist(href='#') Home&Decor

        li.menu.dropdown
          a.dropdown-toggle.menulist(href='#') Beauty

        li.menu.dropdown
          a.dropdown-toggle.menulist(href='#') New
       
        li.menu.dropdown
          a.dropdown-toggle.menulist(href='#') Blog

        li.menu.dropdown
          a(href='#').dropdown-toggle#sale.menulist Sale!