.container
    .col-md-12.navbar-center  
       ul.nav.navbar-nav
        li.dropdown
         a.dropdown-toggle(href='#', data-toggle='dropdown') Men
         ul.dropdown-menu
           li hi
           li hi
        li
          a(href='#').dropdown-toggle Women

        li
          a(href='#').dropdown-toggle Food   

        li
          a(href='#').dropdown-toggle Home&Decor

        li
          a(href='#').dropdown-toggle Beauty

        li
          a(href='#').dropdown-toggle New
       
        li
          a(href='#').dropdown-toggle Blog

        li
          a(href='#').dropdown-toggle#sale Sale!