.hero-slider
  .slide.active.per_gift
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/infromation/gifting/Customize-Your-Gifts-1.jpg')")
  //--.Rectangle_841
    p.CorporatesCustomize Now
    p.Gift_your_employees_lorem_ipsum_dolor_sit_amet_ Add a name and Logo
    .Starts_at_just_399 Insert your business card
    .Rectangle_842
      a(href="#" target="_blank")
        p.customise_now Customise now-->
  .slide.active.per_gift
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/infromation/gifting/Customize-Your-Gifts-2.jpg')")
  .slide.active.per_gift
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/infromation/gifting/Customize-Your-Gifts-3.jpg')")          