.similar_products_slider
  .slide
    .slide-content
      a(href="#")
        img(src="images/Gift-for-him.jpg" alt="Kashmir Box").img-responsive
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/Gift-for-her.jpg" alt="Kashmir Box").img-responsive
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/Gift-for-festival.jpg" alt="Kashmir Box").img-responsive
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/Healthy-hamper.jpg" alt="Kashmir Box").img-responsive    
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/Woolen-wraps.jpg" alt="Kashmir Box").img-responsive