.modal.fade#register-login-modal(tabindex='-1', role='dialog', aria-labelledby='RegisterLoginModalLabel')
  .modal-dialog.modal-lg.padding-0(role='document')
    .modal-content.padding-0.clearfix
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') ×
      .col-sm-6.col-left.padding-0
        .content
          h4 Welcome to KashmirBox
          p KashmirBox is your destination for genuine Kashmiri products served directly from the  heart of Kashmir
      .col-sm-6.col-right.padding-0
        ul.links
          li
            a.active Login
          li
            a.href('#') Register
        form#popup-login-form
          .form-group
              input.form-control(type='email' name='email' placeholder='Email')
          .form-group
              input.form-control(type='password' name='password' placeholder='Password')
          .form-group
            .col-xs-6.padding-0
              .checkbox.checkbox-circle.checkbox-primary
                input#remember-me(type='checkbox' value="")
                label(for='remember-me') Keep me logged in
            .col-xs-6.padding-0.forgot-password-link
              a(href='#') Forgot Password?
          .form-group.btn-wrap
            .col-xs-6.padding-0
              a.btn.btn-white.register-btn(href='#') Register
            .col-xs-6.padding-0
              button.btn.btn-orange.login-btn(type='submit') Login
        .separator 
          span OR    
        .social-login-btns
          a.btn.btn-white.google-login-btn(href='#') Connect with <strong>Google</strong>
          a.btn.btn-white.facebook-login-btn(href='#') Connect with <strong>Facebook</strong>  
