.search-tag-buttons
  button.add_to_cart(type="button" onclick="")
    .wrapper_for_button
      input( type="checkbox" value="Suits")
  button.add_to_cart(type="button" onclick="")
    .wrapper_for_button
      input( type="checkbox" value="Suits")
  button.add_to_cart(type="button" onclick="")
    .wrapper_for_button
      input( type="checkbox" value="Suits")
  button.add_to_cart(type="button" onclick="")
    .wrapper_for_button
      input( type="checkbox" value="Suits")