
<div class="search-tag-buttons">
  <button class="add_to_cart" type="button" onclick="location.href='cart.html';">
    <div class="wrapper_for_button">
      <p>Add to Cart</p>
    </div>
  </button>
  <button class="add_to_cart" type="button" onclick="location.href='cart.html';">
    <div class="wrapper_for_button">
      <p>Add to Cart</p>
    </div>
  </button>
  <button class="add_to_cart" type="button" onclick="location.href='cart.html';">
    <div class="wrapper_for_button">
      <p>Add to Cart</p>
    </div>
  </button>
  <button class="add_to_cart" type="button" onclick="location.href='cart.html';">
    <div class="wrapper_for_button">
      <p>Add to Cart            </p>
    </div>
  </button>
</div>