.similar_products_slider
  .slide
    .slide-content
      a(href="#")
        img(src="images/product.png" alt="Kashmir Box").img-responsive
        p.product_text Aftab Garden Silk Saree
          center 
            span.price Rs. 3,344
            strike Rs. 4,500
            span.discount (10% OFF)
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive
          p.product_text Aftab Garden Silk Saree
            center
              span.price Rs. 3,344
              strike Rs. 4,500
              span.discount (10% OFF)  
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive
          p.product_text Aftab Garden Silk Saree
            center
              span.price Rs. 3,344
              strike Rs. 4,500
              span.discount (10% OFF)
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive
          p.product_text Aftab Garden Silk Saree
            center
              span.price Rs. 3,344
              strike Rs. 4,500
              span.discount (10% OFF)       
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive
          p.product_text Aftab Garden Silk Saree
            center
              span.price Rs. 3,344
              strike Rs. 4,500
              span.discount (10% OFF)