.similar_products_slider
  .slide
    .slide-content
      a(href="#")
        img(src="images/product.png" alt="Kashmir Box").img-responsive 
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive       
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img(src="images/product.png" alt="Kashmir Box").img-responsive