#social-connect-wrap
  .title-wrap 
    p.title Connect with us
  ul.social-icons
    li: a.social-icon(href='#' class="social-icon-fb"): span(class='fa fa-facebook')
    li: a.social-icon(href='#' class="social-icon-tw"): span(class='fa fa-twitter')
    li: a.social-icon(href='#' class="social-icon-in"): span(class='fa fa-instagram') 
    li: a.social-icon(href='#' class="social-icon-gp"): span(class='fa fa-google-plus') 
    li: a.social-icon(href='#' class="social-icon-li"): span(class='fa fa-linkedin') 
    li: a.social-icon(href='#' class="social-icon-pi"): span(class='fa fa-pinterest') 
