ul.top_nav_row.sort_order
  li.top_nav_li.dropdown
    a.dropdown-toggle(data-toggle='dropdown') We Recommend 
      span.fa.fa-angle-down.fa-lg
      ul.dropdown-menu.sort
        li
          a(href="#") Newest
        li
          a(href="#") Lowest
        li
          a(href="#") Highest