.testimonial-slider
  .slide.active
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/homepage/customer_diaries/siriwatana.jpg')")
  .slide
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/homepage/customer_diaries/kanchan.jpg')")
  .slide
    a(href="https://www.kashmirbox.com")
      .slide-frame(style="background-image: url('https://www.kashmirbox.com/image/catalog/kb1/homepage/customer_diaries/talat-Aziz.jpg')")