.trending_in_craft_slider
  .slide
    .slide-content
      a(href="#")
        img.slide-img(src='https://www.kashmirbox.com/image/catalog/kb1/homepage/Trending_in_craft/Phirans-trc.jpg') 
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img.slide-img(src='https://www.kashmirbox.com/image/catalog/kb1/homepage/Trending_in_craft/Rugs-hangings-trc.jpg')
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img.slide-img(src='https://www.kashmirbox.com/image/catalog/kb1/homepage/Trending_in_craft/Winters-Suits-trc.jpg')
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img.slide-img(src='https://www.kashmirbox.com/image/catalog/kb1/homepage/Trending_in_craft/Phirans-trc.jpg')
  .slide
    .slide-content
      a(href="#")
        img.slide-img(src='https://www.kashmirbox.com/image/catalog/kb1/homepage/Trending_in_craft/Embroidered-Pashmina-Shawls-trc.jpg')       
  .slide
    .slide-frame
      .slide-content
        a(href="#")
          img.slide-img(src='https://www.kashmirbox.com/image/catalog/kb1/homepage/Trending_in_craft/Rugs-hangings-trc.jpg')