.four_o_four .go_to_homeage{
   margin-top: rem(40px);
}
.four_o_four .go_to_homeage img{
	margin-left: auto;
	margin-right: auto;
}
.four_o_four .go_to_homeage button{
    background: $brand-color;
    width: 20%;
    border: none;
    height: rem(55px);
    text-transform: uppercase;
    color: $white-color;
    font-family: $ff-open-sans;
    margin-left: auto;
    justify-content: center;
    display: flex;
    margin-right: auto;
}
.four_o_four .go_to_homeage .heading{
	font-family: $ff-open-sans;
	color:$brand-color;
	font-size: rem(22px); 
	text-align: center;
	font-weight: bold;
	margin-top: rem(10px);
	text-transform: uppercase;
}
.four_o_four .go_to_homeage .descrptn{
	font-size: rem(28px);
    font-family: $brand-font;
    color:$brand-color;
    font-weight: bold;
    line-height: 1.607;
    text-align: center;
}
.four_o_four .go_to_homeage .products{
	margin-top:rem(60px);
}
.four_o_four .go_to_homeage .products img{
	margin-bottom: 30px; 
}
