.cart-content {
  .breadcrum-section {
    background-color: $approx-snow-color;
    padding: $unit-layout 0;
    text-align: center;
    a {
      font-size: rem(13px);
    }
  }
  
  .trust-label-section {
    background-color: $approx-snow-color;
    padding: $unit-layout 0;
    .container {
      > div {
        padding: 0 $quarter-unit-layout;
      }
    }
    .trust-label {
      position: relative;
      display: table;
      width: 90%;
      margin-left: 5%;
      span:first-child {
        display: inline-block;
        background: white;
        width: rem(60px);
        height: rem(60px);
        border-radius: 50%;
        line-height: rem(60px);
        text-align: center;
        box-shadow: 0 0 10px;
        position: absolute;
        top: -8px;
        left: -10px;
        z-index: 10;
      }
      span:last-child {
        display: inline-block;
        height: rem(45px);
        display: table-cell;
        vertical-align: middle;
        padding-right: 0;
        padding-left: $unit-layout * 4;
        background-color: #d1ffe1;
        font-family: $ff-playfair-display;
        font-size: rem(10px);
        color: #096e5c;
        width: 100%;
        font-weight: 700;
      }
    }
  }
  
  .box-section {
    background-color: $approx-snow-color;
    padding: $unit-layout*2 0;
    .cart-summary {
      .features {
        display: none;
        padding-top: $unit-layout;
        .features-list {
          list-style-type: none;
          padding: $unit-layout 0;
          li {
            padding: $unit-layout * 1 0;
            span {
              color: $brand-color;
              font-size: rem(15px);
              display: inline-block;
              vertical-align: top;
            }
            span:last-child {
              width: 80%;
              font-weight: 300;
            }
            .fa {
              margin-right: rem(10px);
              background-color: $brand-color;
              color: white;
              width: rem(30px);
              height: rem(30px);
              line-height: rem(30px);
              text-align: center;
              border-radius: 50%;
            }
          }
        }
      }

      .order-summary {
        h6 {
          line-height: 1.75;
          padding: $quarter-unit-layout 0;
        }
        > div {
          background-color: $white-color;
          border: 1px solid $light-grey;
          padding: $double-unit-layout $unit-layout * 1.25;
        }
        .summary-footer {
          .process-checkout-btn {
            position: fixed;
            bottom: -15px;
            width: 100%;
            z-index: 500;
            left: -1;
            right: 0;
            opacity: 1;
            width: 100%;
            height: rem(50px);
            line-height: rem(50px);
            font-size: rem(16px);
            border-radius: 0;
            margin-top: $unit-layout * 2;
            margin-bottom: $unit-layout;
            &:hover {
              opacity: 1;
            }
          }
          span {
            display: block;
            color: #a4a4a4;
            font-size: rem(13px);
            font-weight: 300;
            text-align: center;
            padding: $quarter-unit-layout;
          }
          img {
            display: block;
            margin: auto;
            padding: $quarter-unit-layout;
          }
        }
        .order-summary-list {
          list-style-type: none;
          .item {
            line-height: 2;
            .item-title, .item-value {
              font-weight: 300;
              font-size: rem(14px);
            }
            .item-value {
              float: right;
            }
            &.discount-coupon {
              .item-value a {
                color: $blue-color;
              }
            }
          }
          .item:last-child {
            padding: $unit-layout * 0.625 0;
            .item-title, .item-value { 
              font-weight: 500;
            }
          }
        }
      }
    }

    .cart-products {
      h6 {
        font-size: rem(17px);
        padding: $unit-layout 0;
        font-weight: 400;
      }
      .empty-cart-msg {
        padding: $unit-layout 0;
        text-align: center;
      }
      .box-products {
        .product {
          position: relative;
          background-color: $white-color;
          padding: $unit-layout;
          border: 1px solid $light-grey;
          margin-bottom: $half-unit-layout;
          > div {
            box-sizing: border-box;
          }
          > .product-img {
            width: 15%;
            position: absolute;
            float: left;
            img {
              max-width: 100%;
            }
          }
          > .product-info {
            width: 80%;
            margin-left: 17%;
            float: left;
            padding-left: $half-unit-layout;
            .name, .kbcode {
              font-size: rem(15px);
              font-weight: 300;
              display: block;
            }
            .kbcode {
              color: $mid-grey;
            }
          }
          > .product-counter {
            width: 10%;
            float: left;
            margin-left: 17%;
            height: rem(60px);
            display: table;
            .counter-input {
              display: table-cell;
              vertical-align: middle;
              input {
                padding: 0;
              }
            }
          }
          > .product-price {
            width: 80%;
            margin-left: 17%;
            float: left;
            > span {
              display: block;
              padding: $quarter-unit-layout 0;
            }
            .tax-value, .discount-value {
              color: $mid-grey;
              font-weight: 300;
            }
          }
          > .product-delete {
            width: 5%;
            float: left;
            text-align: right;
            position: absolute;
            right: 2%;
            top: 35%;
            > div {
              display: table;
              height: rem(60px);
              width: 100%;
              > span {
                display: table-cell;
                vertical-align: middle;
                color: $crimson-color;
                cursor: pointer;
                font-size: rem(18px);
              }
            }
          }
        }
      }
    }

    .box-offers {
      h6 {
        font-size: rem(17px);
        padding: $unit-layout 0;
         font-weight: 400;
      }
      .box-offers-content {
        border: 1px solid #ededed;
        @include clearfix;
        padding: $unit-layout;
        background-color: $white-color;
        > p {
          font-size: rem(15px);
          font-weight: 500;
          padding: $unit-layout 0;
        }
        .offer-items {
          .offer-item {
            background: #f6f6f6;
            padding: $unit-layout;
            border: 1px solid $light-grey;
            margin-bottom: $unit-layout * 2;
            @include clearfix;
            .radio-wrap {
              width: 5%;
              float: left;
              .radio {
                margin-top:  $unit-layout;
              }
            }
            .item-image {
              width: 15%;
              float: left;
              img {
                max-width: 100%;
              }
            }
            .item-info {
              width: 80%;
              float: left;
              padding-left: $half-unit-layout;
              height: rem(60px);
              line-height: rem(60px);
              p {
                color: $text-color-dark;
              }
            }
          }
        }
      }
    }

  }

  .social-impact-section {
    padding: $unit-layout*2 0;
    background-color: $white-color;
    .img-wrap {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    .content {
      margin-top: $unit-layout * 2;
      h6 {
        font-family: $ff-playfair-display;
      }
      p {
        padding: $unit-layout *1 0;
        color: #7e7e7e;
      }
    }
  }

}



@include respond-to(medium) {
  .cart-content {
    .breadcrum-section {
      text-align: left;
    }
  }

  .cart-content {
    .trust-label-section  {
      .trust-label {
        span:last-child {
          font-size: rem(18px);
        }
      }
    }
    .social-impact-section {
      padding: $unit-layout*4 0;
      .img-wrap {
        text-align: right;
      }
      .content {
        margin-top: 0;
        p {
          padding: $unit-layout *2 0;
        }
      }
    }
    .box-section {
      .cart-summary {
        .order-summary {
          .summary-footer {
            .process-checkout-btn {
              position: static;
              &:hover {
                opacity: 0.9;
              }
            }
          }
        }
      }
      .cart-products {
        .box-products {
          .product {
            
            > .product-img {
              width: 15%;
              float: left;
              position: static;
            }
            > .product-info {
              width: 45%;
              float: left;
              margin-left: 0;
            }
            > .product-counter {
              width: 15%;
              float: left;
              margin-left: 0;
            }
            > .product-price {
              width: 20%;
              float: left;
              text-align: right;
              margin-left: 0;
            }
            > .product-delete {
              width: 5%;
              float: left;
              position: static;
            }
          }



        }
      }
    }
  }
}

@include respond-to(large) {
  .cart-content {
    .trust-label-section {
      .trust-label {
        width: auto;
        span:first-child {
          left: -20px;
        }
        span:last-child {
          padding-right: $unit-layout;
        }
      }
      .container {
        > div {
          padding: 0;
        }
      }
    }
    .box-section {
      .cart-summary {
        float: right;
        .features {
          display: block;
        }
      }
      .cart-products {
        float: left;
      }
    }
    .social-impact-section {
      .content {
        margin-top: $unit-layout * 2;
      }
    }
  }
}

@include respond-to('large-2') { 
  .cart-content { 
    .trust-label-section { 
      .trust-label {
        span:last-child {
          width: auto;
        }
      }
    }
  }
}

@include respond-to('medium-only') {
  .cart-content {
    .trust-label-section  {
      .trust-label {
        span:last-child {
          font-size: rem(14px);
        }
      }
    }
  }
}

@include respond-to('small-3-only') {
  .cart-content {

    .box-section {
      
      .cart-products {
        .box-products {
          .product {
            > .product-img {
              img {
                max-width: 100%;
              }
            }
            > .product-info {
              width: 85%;
            }
            > .product-counter {
              width: 20%;
              clear: left;
            }
            > .product-price {
              width: 50%;
            }
            > .product-delete {
              width: 20%;
            }
          }
        }
      }

      .box-offers {
        .box-offers-content {
          .offer-items {
            .offer-item {
              .radio-wrap { 
                width: 10%;
              }
              .item-image {
                width: 20%;
                padding-left: $quarter-unit-layout;
                img {
                  max-width: 100%;
                }
              }
              .item-info {
                width: 70%;
                height: auto;
                line-height: rem(24px);
              }
            }
          }
          #gift-card-form {
            .form-control {
              max-width: 55%;
              margin-right: 5%;
              margin-bottom: $unit-layout;
            }
            button {
              max-width: 35%;
              display: block;
            }
          }
        }
      }

    }
  }
}


@include respond-to('small-2-only') {
  .cart-content {

    .box-section {
      .box-offers {
        .box-offers-content {
          .offer-items {
            .offer-item {
              .item-image {
                width: 40%;
              }
              .item-info {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }

}
