.category-page-content {
  
  .breadcrums-wrap {
    padding: $unit-layout * 1.25 0;
    background-color: $white-color;
  }

  .offer-banner {
    padding: $unit-layout * 2 0;
    .offer {
      img {
        width: 100%;
      }
    }
  }

  .top-rated-products {
    .product {
      padding: $unit-layout $half-unit-layout;
      margin-bottom: $half-unit-layout;
      background-color: white;
      .product-img {
        width: 35%;
        float: left;
        img {
          width: 100%;
        }
      }
      .product-details {
        padding-left: $quarter-unit-layout;
        width: 65%;
        float: left;
        .rating {
          color: $pantone-color;
        }
      }
    }
  }

  .category-sticky-filter {
    background-color: $white-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: $half-unit-layout;
    z-index: 100;
    @include kb-box-shadow(0, -3px, 5px, $mid-grey)  
    > div {
      width: 50%;
      float: left;
      text-align: center;
      > a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-size: rem(14px);
        color: $dark-grey;
        &:focus, &:active {
          color: $brand-color;
        }
      }
      &:first-child a {
        border-right: 1px solid $mid-grey;
      }
      .fa {
        display: inline-block;
        margin-right: $half-unit-layout;
        font-size: rem(24px);
      }
    }
  }

  #product-filter-modal {
    padding: 0 !important;
    background-color: $approx-snow-color;
    .modal-dialog {
      background-color: $approx-snow-color;
      margin: 0;
      width: 100%;
      .modal-content {
        background-color: $approx-snow-color;
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .modal-header {
      background-color: $approx-snow-color;
      > div:last-child {
        text-align: right;
      }
      .clear-btn, .apply-btn {
        width: rem(100px);
        height: rem(40px);
        line-height: rem(40px);
        padding: 0px;
        margin: 0 rem(5px);
      }
    }
    .category-products-filter {
      display: block;
      .checkbox {
        label:before {
          top: 0;
        }
        label:after {
          top: 0;
        }
      }
      .product-category-filter {
        .filter-label {
          .fa {
            font-size: rem(20px);
          }
        }
      }
    }
  }

  #product-sort-modal {
    .modal-dialog {
      max-width: rem(250px);
      margin-left: auto;
      margin-right: auto;
      top: 30%;
    }
    .modal-header {
      text-align: center;
    }
    .modal-body {
      padding: 0;
      .sortby-list {
        list-style-type: none;
        li {
          padding: $half-unit-layout;
          border-bottom: 1px solid $light-grey;
          text-align: center;
          a {
            text-decoration: none;
            font-weight: 300;
            font-size: (14px);
          }
        }
      }
    }
  }

}

.category-products-section {
  padding: $unit-layout*1 0 $unit-layout*1 0;
  background-color: $approx-snow-color;
}

.category-products-list {
  max-width: 580px;
  margin: 0 auto;

  .list-header {
    .views {
      display: none;
      list-style-type: none;
      li {
        float: left;
        width: rem(30px);
        height: rem(30px);
        cursor: pointer;
        text-align: center;
        background-color: white;
        span {
          display: block;
          line-height: rem(30px);
          font-size: rem(18px);
        }
      }
      li.active {
        background-color: $black-color;
        color: white;
      }
    }
    .white-selector {
      display: none;
      float: right;
      select {
        font-size: rem(14px);
        font-weight: 300;
      }
    }
  }

  /* Grid View */
  .grid-view {
    .grid-item {
      width: 50%;
      float: left;
      margin-bottom: $unit-layout;
      animation: zoomin;
      animation-duration: 1s;
    }
    
    .grid-item:nth-child(2n+1) {
      clear: left;
    }
    .product {
      background-color: $white-color;
      position: relative;
      max-width: 96%;
      width: 100%;
      margin: 0 auto;
      .product-img{
        overflow: hidden;
        position: relative;
        &:hover .overlay {
          top: 0;
        }
        &:hover+.product-footer .name{
          text-decoration: underline;
          color: $brand-color;
        }
        &:hover .add-to-wishlist{
          display: block;
        }
        img {
          width: 100%;
          margin: 0 auto;
          display: block; 
          height: auto;
        }
      }
      .product-link:hover + .slide-footer .name{
        color: $brand-color;
        text-decoration: underline;
      }
      .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 100%;
        z-index: 100;
        text-align: center;
        background-color: rgba(175, 127, 97, 0.5);
        -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
        -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
        transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
        .overlay-vertical {
          display: table;
          height: 100%;
          width: 100%;
        }
        .overlay-content {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 100%;
          .view-products {
            width: rem(160px);
            height: rem(45px);
            line-height: rem(45px);
            display: inline-block;
          }
        }
      }
      .add-to-wishlist.liked {
        position: absolute;
        right: $unit-layout;
        top: $unit-layout;
        cursor: pointer;
        .fa-heart {
          color: $white-color;
        }
      }
      .add-to-wishlist {
        display: none;
        position: absolute;
        right: $unit-layout;
        top: $unit-layout;
        transition: all 0.5s linear;
        cursor: pointer;
        .fa-heart-o {
          color: $white-color;
        }
      }
      .for-sale {
        position: absolute;
        top:0;
        border-top: rem(110px) solid #000;
        border-right: rem(110px) solid transparent;
        span {
          position: absolute;
          color: white;
          font-family: $ff-cinzel-decorative;
          font-weight: 700;
          top: 0;
          margin-top: rem(-110px);
          padding: $quarter-unit-layout*1.25;
          font-size: rem(14px);
        }
      }
      .ready-to-ship {
        position: absolute;
        bottom: $unit-layout;
        right: $unit-layout;
        color: $white-color;
        .fa {
          display: inline-block;
          vertical-align: top;
          margin-right: rem(3px);
          margin-top: rem(5px);
        }
        .text {
          font-weight: 300;
          font-size: rem(12px);
          max-width: rem(50px);
          display: inline-block;
          vertical-align: top;
        }
      }
      .product-footer {
        padding: $unit-layout;
        .name {
          font-size: rem(15px);
          color: $text-color-dark;
          display: inline-block;
          width: 70%;
          &:hover {
            color: $brand-color;
          }
        }
        .price {
          font-size: rem(15px);
          color: $text-color-dark;
          float: right;
          font-weight: 500;
          width: 30%;
          text-align: right;
        }
        .rating {
          color: $pantone-color;
        }
      }
    }
  }
  
  /* List View */
  .list-view {
    .list-item {
      background-color: $white-color;
      padding: $unit-layout;
      margin-bottom: $unit-layout;
      animation: zoomin;
      animation-duration: 1s;
    }
    .product {
      .name {
        font-size: rem(16px);
        color: $text-color-dark;
        &:hover {
          color: $brand-color;
        }
      }
      .product-img {
        width: 35%;
        float: left;
        a {
          display: block;
          text-align: center;
        }
        img {
          max-width: rem(270px);
          width: 100%;
        }
      }
      .product-details {
        float: left;
        width: 65%;
        padding-left: $half-unit-layout;
        vertical-align: top;
        .left-col {
          float: left;
          width: 50%;
          .rating {
            color: $pantone-color;
          }
          .price-box {
            del {
              color: $mid-grey;
            }
            del, span {
              display: inline-block;
              margin-right: 5px;
              font-size: rem(15px);
            }
          }
        }
        .right-col {
          float: left;
          width: 50%;
          text-align: right;
          .add-to-wishlist {
            cursor: pointer;
            font-size: rem(14px);
            font-weight: 300;
          }
          .ready-to-ship {
            span {
              font-size: rem(12px);
              font-weight: 300;
              display: inline-block;
              vertical-align: top;
            }
            span.fa {
              margin-top: rem(5px);
              font-size: rem(30px);
              color: $mid-grey;
            }
            span.text {
              width: rem(40px);
              text-align: left;
              display: inline-block;
              margin-left: $quarter-unit-layout;
            }
          }
        }
        .description {
          margin-top: $unit-layout;
          clear: both;
          display: inline-block;
          width: 100%;
          p {
            font-weight: 300;
          }
        }
        .shop-now {
          display: inline-block;
          margin-top: $unit-layout*1.5;
        }
      }
    }
  }

  .loadmore {
    margin-top: $unit-layout*4;
    text-align: center;
    #loadmore {
      width: rem(180px);
    }
  }
}

.category-products-filter {
  display: none;
  .title {
    padding: $unit-layout 0;
    font-family: $ff-playfair-display;
    color: $text-color-dark;
  }
  .filters {
    margin: $unit-layout 0;
    .price-filter {
      margin-bottom: $half-unit-layout;
      background-color: $white-color;
      padding: $unit-layout;
      .range-from {
        margin-right: 2%;
      }
      .range-to {
        margin-left: 2%;
      }
      .range-from, .range-to {
        width: 48%;
        float: left;
        height: rem(45px);
        line-height: rem(45px);
        input {
          height: rem(45px);
          line-height: rem(45px);
          padding-left: rem(5px);
          background-color: $approx-snow-color;
          border-radius: 0;
          font-size: rem(13px);
        }
        .counter {
          height: rem(45px);
        }
      }
    }
    .product-category-filter {
      margin-bottom: $half-unit-layout;
      background-color: $white-color;
      padding: $unit-layout;
      .category-list {
        list-style-type: none;
        .checkbox {
          label {
            font-size: rem(13px);
            font-weight: 300;
          }
        }
      }
      &.open {
        .toggle-list {
          display: none;
        }
      }
      .filter-label {
        .toggle-list {
          float: right;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }
    .filter-label {
      font-size: rem(13px);
      font-weight: 500;
    }
  }
}


@include respond-to(medium) {
  .category-page-content {
    #product-filter-modal {
      .category-products-filter {
        display: block;
        .checkbox {
          label:before {
            top: 5px;
          }
        }
      }
    }
  }
  .category-products-section {
    padding: $unit-layout*2 0 $unit-layout*3 0;
  }
 .category-products-list{
    max-width: 100%;
    .list-header {
      padding: $unit-layout 0;
      .views {
        display: block;
      }
    }
    .grid-view {
      .grid-item {
        width: 33.33%;
        float: left;
      }
      .grid-item:nth-child(2n+1) {
        clear: none;
      }
      .grid-item:nth-child(3n+1) {
        clear: left;
        .product {
          float: left;
        }
      }
      .grid-item:nth-child(3n+3) {
        .product {
          float: right;
        }
      }
      .product {
        margin: 0 auto;
        max-width: 96%;
      }
    }
  }
  .category-products-filter {
    .filters {
      .price-filter {
        .range-from, .range-to {
          input {
            height: rem(34px);
            line-height: rem(34px);
          }
          .counter {
            height: rem(34px);
          }
        }
      }
    }
  }
}

@include respond-to('large') {
  .category-page-content {
    .category-sticky-filter {
      display: none;
    }
  }
  .category-products-list {
    .list-header {
      .white-selector {
        display: block;
      }
    }
  }
  .category-products-filter {
    display: block;
  }
}

@include respond-to('large-2') {
  .category-products-list{ 
    .grid-view {
      .product {
        max-width: rem(270px);
      }
    }
  }
}
