.checkout-page-content {
  
  .checkout-steps-section {
    background-color: $approx-snow-color;
    padding: $unit-layout * 3 0 $unit-layout * 3 0;
    .container {
      width: 100%;
    }
    .checkout-sidebar {
      padding-top: $unit-layout;
      .features {
        .features-list {
          list-style-type: none;
          padding: $unit-layout 0;
          li {
            padding: $unit-layout * 1 0;
            span {
              color: $brand-color;
              font-size: rem(15px);
              display: inline-block;
              vertical-align: top;
            }
            span:last-child {
              width: 80%;
              font-weight: 300;
            }
            .fa {
              margin-right: rem(10px);
              background-color: $brand-color;
              color: white;
              width: rem(30px);
              height: rem(30px);
              line-height: rem(30px);
              text-align: center;
              border-radius: 50%;
            }
          }
        }
      }

      .order-summary {
        h6 {
          line-height: 1.75;
          padding: $quarter-unit-layout 0;
        }
        .order-summary-list {
          list-style-type: none;
          background-color: $white-color;
          padding: $double-unit-layout $unit-layout * 1.25;
          border: 1px solid $light-grey;
          .item {
            line-height: 2;
            .item-title, .item-value {
              font-weight: 300;
              font-size: rem(14px);
            }
            .item-value {
              float: right;
            }
          }
          .item:last-child {
            padding: $unit-layout * 0.625 0;
            .item-title, .item-value { 
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@include respond-to(medium) { 
  .checkout-page-content {
    .checkout-steps-section {
      padding: $unit-layout * 3 0 $unit-layout * 12 0;
      .checkout-sidebar {
        padding-top: 0;
      }
    }
  }
}

@include respond-to(large) {
  
  .checkout-page-content {
    .checkout-steps-section {
      .checkout-sidebar {
        .features {
          .features-list {
            span:last-child {
              width: 82%;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

}
