// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
/*sale*/
.hero-slider-section {
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}
/*Sale*/
.sale_container{
  margin-top: rem(52px);
}
.sale_container .row:nth-of-type(2){
  margin-top:rem(32px);
}
.imageadjust{
  margin-left: auto;
}
.secondimage .slide-frame,
.secondimage .fullwidth{
   height: rem(383px) !important;
 }
 /**Best Seller**/
.bestseller_container{
  margin-top: rem(52px);
}
.bestseller_row{
  margin-top:rem(20px);
}
.bestseller_div{
  float: left;
  width: 33.33%;
  padding: 0 1rem;
  margin-top: rem(20px);
}
.bestseller_row img{
  margin-left: auto;
  margin-right: auto;
}
.recently_viewed_container > p{
  margin-bottom: rem(-15px);
}
p.Heading{
  font-size: rem(30px);
  font-family: $brand-font;
  color: $brand-color;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
p.Heading2 {
  font-size: rem(16px);
  font-family: $ff-open-sans;
  color: $grey;
  line-height: 1;
  text-align: center;
}
/**Food**/
.food_container{
  margin-top: rem(52px);
}
.food_row{
  margin-top:rem(40px);
}
.food_row img{
  margin-left: auto;
  margin-right: auto;
}
/**Craft**/
.craft_container{
  margin-top: rem(52px);
}
.craft_row{
  margin-top:rem(40px);
}
/*Beauty*/
.beauty_container{
  margin-top: rem(52px);
}
.beauty_row{
  margin-top:rem(40px);
}
.beauty_row img{
  margin-left: auto;
  margin-right: auto;
}
/*Featured*/
.everythingelse_container{
  margin-top: rem(52px);
}
.everythingelse_row{
  margin-top:rem(20px);
}
.everythingelse_row{
  margin-top:rem(20px);
}
.everythingelse_div{
  float: left;
  width: 33.33%;
  padding: 0 1rem;
  margin-top:rem(20px);
}
.everythingelse_row img{
  margin-left: auto;
  margin-right: auto;
}
/*recently viewed*/
.recently_viewed_container{
  margin-top: rem(60px);
}
.recently_viewed_row img{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width:rem(234px);
  height:rem(390px);
}
.recently_viewed_row>div>a{
  text-decoration: none;
}
.recently_viewed_row>.recently_div>div{
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 17px 0px rgba(143, 143, 143, 0.11);
}
.recently_viewed_row>div>.name_price{
  left: 15%;
  bottom: 0%;
  width: 70%;
  padding: 10px 10px 10px 10px;
}
.recently_viewed_row>div>.name_price>p{
  color:$brand-color;
  font-size: rem(16px);
  font-family: $brand-font;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 5px;
}
.recently_viewed_row>div>.name_price>center{
  color: $brand-color;
  font-size: rem(12px);
  font-family: $ff-open-sans;
  font-weight:bold;
}
.recently_viewed_row>div>.name_price>center> strike{
  margin-right: rem(5px);
}
/*Social*/
.social_container{
  margin-top: rem(52px);
}
.social_row{
  margin-top:rem(40px);
}
.greyshade{
  display: block;
  position: relative;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.imageborder {
  display: inline-block;
  position: relative;
}
.imageborder::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 0 rgba(255,255,255,.5);
  transition: box-shadow .1s ease;
}
.imageborder:hover::after {
  box-shadow: inset 0 0 0 20px rgba(255,255,255,.5);
}
.adjustment{
   bottom:0;
}
/****Include*****/
/*1199*/
@include respond-to(large-1-1){
 .firstimage img{
   height: rem(383px) !important;
 }
}
/*991*/
@include respond-to(large-only){
 .secondimage .fullwidth
 .secondimage .slide-frame{
   height: rem(319px) !important;
 }
}
