.cart_breadcrumb{
  margin-top: rem(20px);
}
.logo_wrap > a > h1{
  font-size: rem(40px);
  font-family: $brand-font;
  font-style:normal;
  color: $brand-color;
  text-transform: uppercase;
  text-align:left;
}
.logo_wrap > a:hover,.logo_wrap > a:focus, .logo_wrap > a:active{
  text-decoration: none;
  border:none;
}
.safe-and-secure > p,.continue_shopping > p{
  font-family: $ff-open-sans;
  color:$grey;
  font-size: rem(15px);
  text-align: right;
  margin-top: rem(10px);
}
.continue_shopping > .trust_label{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, $grey 30%, $brand-color 100%);
  height: rem(40px);
  display: flex;
  margin-top: rem(30px);
}
.continue_shopping > .trust_label > .trustimage{
  margin-left: rem(-10px);
}
.continue_shopping > .trust_label>span>img{
  margin-top: rem(-10px);
}
.continue_shopping > .trust_label >.text{
  margin-left: auto;
  margin-right: auto;
}
.continue_shopping > .trust_label >span>p{
  text-align: center;
  font-family: $ff-open-sans;
  font-size: rem(20px);
  color:$white-color;
}
.continue_shopping >.continue_icon{
  display: flex;
}
.continue_shopping >.continue_icon > span{
 margin-top: rem(5px);
 font-size: rem(15px);
 margin-right: rem(5px);
}
.continue_shopping >.continue_icon> p{
  text-align: center;
  margin-top: 0px;
  font-size: rem(15px);
  text-transform: capitalize;
  font-family: $ff-open-sans;
}
.cartproducts{
  margin-top: rem(50px);
  margin-bottom: rem(50px);
}
/*product details*/
.product_wrapper{
  margin-top: rem(20px);
}
.cartproducts>.rate_details{
  flex-flow: column;
  position: sticky;
  top: 64px;
  bottom: 0;
  z-index: 2;
}
.product_wrapper,.rate_details{
  border: 1px solid $grey;
}
.offers_blockquote {
  margin: 0 0 0px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  border-left: 5px solid $grey;
}
.offers_blockquote>ul>li{
  font-family:$ff-open-sans;
  line-height: 1.7;
  font-size:rem(13px);
  color: $grey;
}
.offers_blockquote h4{
  font-family: $brand-font;
  color: $brand-color;
  font-size: rem(18px);
  font-weight: bold;
}
.free_delivery_alert{
  margin-bottom: 0px;
  margin-top:rem(10px);
  font-family: $ff-open-sans;
  font-size:rem(15px);
  background-color: #ffa5006e;
  border-color: $orange;
  color: $brand-color;
}
.free_delivery_alert > span{
  margin-right: 5px;
}
.product_details_incart> h3{
  font-family: $ff-open-sans;
  font-size: rem(18px); 
  font-weight: bold;
  margin-top: rem(20px);
  margin-bottom: rem(20px);
}
.product_details_incart>.product_wrapper>div{
  margin-top: rem(20px);
  margin-bottom: rem(20px);
}
.product_details_incart>.product_wrapper>div>.name_and_rate{
  display: flex;
}
.product_details_incart>.product_wrapper>div>.name_and_rate>p,div>.type>p{
  color: $brand-color;
  font-weight: bold;
  font-size: rem(15px);
  font-family: $ff-open-sans;
}
.product_details_incart>.product_wrapper>div>.name_and_price>p:nth-of-type(2){
  margin-left: auto;
}
.product_details_incart>.product_wrapper>div>.name_and_rate>.rate{
  margin-left: auto;
  display: flex;
}
.product_details_incart>.product_wrapper>div>.sold_by>.rate>p{
  margin-left: rem(5px);
  border-left: 1px solid $grey;
  padding-left: rem(5px);
  color: $red-color;
  font-size: rem(14px);
  font-family: $ff-open-sans;
}
.product_details_incart>.product_wrapper>div>.name_and_rate>.rate>s{
  color: $brand-color;
  font-size: rem(14px);
  font-family: $ff-open-sans;
}
.product_details_incart>.product_wrapper>div>.sold_by>p,div>.type>p{
  font-weight: normal;
  margin-bottom: rem(5px);
  color:$grey;
  font-size: rem(13px);
}
.divider{
  margin-top: rem(50px);
}
.product_details_incart>.product_wrapper>div>.remove_and_wishlist>p{
  color: $grey;
  font-size: rem(14px);
  font-family: $ff-open-sans;
  text-transform: uppercase;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}
.product_details_incart>.product_wrapper>div>.remove_and_wishlist>span{
  color: $orange;
  font-size: rem(14px);
  font-family: $ff-open-sans;
  text-transform: uppercase;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}
.product_details_incart>.product_wrapper>div>.size_and_quantity>p:nth-of-type(2){
  margin-left: rem(20px);
}
.product_details_incart>.product_wrapper>div>.size_and_quantity>input{
  width:rem(50px);
  margin-left: rem(10px);
}
.size_and_quantity>input[type="text"] {
  font-size:rem(20px);
}
/*rate details*/
.rate_details{
 padding: 10px 30px 10px 30px;
}
.rate_details>p{
  font-family: $ff-open-sans;
  font-size: rem(15px);
  text-transform: uppercase;
  margin-bottom: rem(10px);
}
.rate_details>.rate_feature{
  display: flex;
}
.rate_details>.rate_feature>p{
  color: $brand-color;
  font-size: rem(15px);
  font-family: $ff-open-sans;
}
.rate_details>.bag_discptn>p:nth-of-type(2){
  margin-left: auto;
  font-family: $ff-open-sans;
  font-size: rem(14px);
}
.rate_details>.apply_coupon>p>a{
  color: $red-color;
}
.rate_details>.total{
  font-weight: bold;
  margin-bottom: rem(10px);
}
.rate_details>.total>p{
  font-size: rem(18px);
}
/*checkout*/
.rate_details>.checkout{
  background: $brand-color;
  width: 100% !important;
  border:none;
  height: rem(55px);
  text-transform: uppercase;
  text-align: center;
  color: $white-color;
  text-align: center;
  font-family: $ff-open-sans;
}
.applyModal .modal-title{
  font-family:  $ff-open-sans;
  color: $brand-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size:rem(15px);
}
.apply_coupon_body{
  margin-top:rem(20px);
}
.apply_coupon_body >h3,.apply_coupon_body>h4{
  font-family:  $ff-open-sans;
  color: $brand-color;
  font-weight: bold;
  text-transform: capitalize;
  font-size:rem(13px);
  margin-bottom: rem(10px);
}
.apply_form > input{
  width: 100%;
}
.apply_coupon_body>p{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: rem(20px);
}
.modal-footer .button_form{
  display:flex;
  justify-content: center;
}
.button_form > a{
  text-decoration: none;
}
.button_form > a > p{
  font-size: rem(16px);
  font-family: $ff-open-sans;
  color:$orange;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: rem(20px);
  margin-top: rem(5px);
}
.button_form > input{
  width: rem(130px);
  height: rem(40px);
  background-color: $brand-color;
  color: $white-color;
  text-transform: uppercase;
  font-size: rem(14px);
  border: none;
  font-family: $ff-open-sans;
}
.applyModal .coupon-code{
  font-style:italic;
  font-family: $ff-open-sans;
  height: rem(40px);
  padding: 8px 10px;
  font-size: rem(15px);
  font-weight: 500;
  color: $grey;
}
.couponcontainer{
  background-color: #ffa5006e;/*coupon*/
  border: 1px solid $orange;
  padding: 10px 20px 10px 35px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.couponcontainer >.couponcode{
  display: flex;
}
.couponcontainer >.couponcode>input{
    color: #94969f;
    font-size: 20px;
    margin-top: rem(15px);
}
.couponcontainer >.couponcode> .codebox{
  border: 1px dashed $grey;
  background: $white-color;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  margin-right: rem(10px);
  font-family: $ff-open-sans;
  color:$grey;
  margin-left: rem(10px)
}
.couponcontainer >.couponcode > p{
  font-family: $ff-open-sans;
  font-size:rem(14px);
  font-weight:bold;
  text-transform: uppercase;
  margin-left: rem(5px);
  margin-top: rem(10px);
  margin-right: rem(5px);
}
.couponcontainer >.couponcode > p> span{
  font-size:rem(16px);
  color:$orange-color;
  margin-left: rem(5px);
}
.couponcontainer >.couponcode >.amount{
  color:$orange-color;
  margin-left: rem(0px);
}
.couponcontainer > .info{
  font-family: $ff-open-sans;
  font-size:rem(14px);
  margin-left: rem(15px);
  margin-top: rem(10px);
  max-width: 300px;
}
.couponcontainer > .info > span{
  color: $brand-color;
  margin-left: rem(5px);
  font-weight: bold;
}
/*footer*/
.footer_section{
  margin-top: rem(20px);
  margin-bottom: rem(20px);
}
.footer_section > p{
 text-align: center;
 margin-bottom: 20px;
 font-family: $ff-open-sans;
 font-size: rem(15px);
 color: $grey;
}
.partner_images{
  display: flex;
  justify-content: center;
}
.partner_images >img{
  width: 40px;
  height: 20px;
  margin-right: 5px;
}
@include respond-to(large-1-1){
.continue_shopping > .trust_label{
  width: 75%;
 }
}