/*body*/
.contact_info>h2{
	font-family: $brand-font;
	font-weight: bold;
	color: $brand-color;
	font-size: rem(30px);
}
.contact_wrapper{
	background-color: $light-shade;
    border: 1px solid $grey;
    margin-top: rem(20px);
    padding: 20px 20px;
}
.contact_wrapper:hover{
	border: 1px solid $brand-color;
}
.single_wrapper>p{
	font-family: $ff-open-sans;
	color: $brand-color;
}
.single_wrapper> .name,.single_wrapper> .address{
	font-weight: bold;
}