.product_images{
    margin-top: rem(10px);
    margin-bottom: rem(20px);
    text-align: center;
}
.product_images img{
    width: rem(100px);
    height: auto;
    margin-right: rem(5px);
}
.product_image>div{
    padding-left: 0px;
    padding-right: 5px;
}
.features{
    background-color: $grey;
    height: 50px;
}
.features> p{
    font-family: $ff-open-sans;
    font-size: rem(16px);
    color: $white-color;
    text-align: center;
    padding-top: rem(10px);
}
/*product info*/
.product_info h3,.similar_products >h3{
	font-family: $brand-font;
    font-size: rem(30px);
    color: $brand-color;
    font-weight: bold;
}
.product_info> .product_name{
   font-family: $ff-open-sans;
   color: $grey;
   font-size: rem(20px);
   margin-top: rem(5px);
   margin-bottom: rem(5px);
}
.product_info>.share>.share_popover{
    float: right;
    display: flex;
}
.product_info>.share>.share_popover>h6{
   font-size: rem(14px);
   font-family: "Open Sans",sans-serif;
   text-decoration: none;
}
.product_info>.share>.share_popover>span{
    color:$grey;
    margin-right: rem(5px);
}
.product_info >.share>.share_popover:hover{
    text-decoration: none;
}
.product_info >.rating >.checked{
	color: $orange;
}
.share>.content{
    display: none;
}
.product_info>.product_price>strong{
	font-size: rem(23px);
    color: $brand-color;
    font-family: $ff-open-sans;
    font-weight: bold;
    margin-right: rem(10px);
}
.product_info>.product_price>s{
    font-size: rem(18px);
    color: $grey;
    font-family: $ff-open-sans;
    margin-right: rem(10px);
}
.product_info>.product_price>.discount{
  font-size: rem(18px);
  font-family: $ff-open-sans;
  color:$red-color;
  font-weight: bold;
}
.product_info>.buttons{
    margin-top: rem(25px);
    display: flex;
}
.product_info>.buttons>.add_to_cart{
	border: 1px solid $orange;
    box-shadow: none;
    outline: none;
    height: 52px;
    width: 50%;
    background: $brand-color;
    color:$white-color;
    margin-right: rem(20px);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: rem(8px);
}
.product_info>.buttons>.add_to_cart>.wrapper_for_button,
.product_info>.buttons>.add_to_wishlist>.wrapper_for_button{
    display: flex;
    justify-content: center;
}
.product_info>.buttons>.add_to_cart>.wrapper_for_button>p,
.product_info>.buttons>.add_to_wishlist>.wrapper_for_button>p{
    font-family: $ff-open-sans;
    font-size: rem(15px);
}
.product_info>.buttons>.add_to_cart>.wrapper_for_button>span,
.product_info>.buttons>.add_to_wishlist>.wrapper_for_button>span{
    margin-right: rem(15px);
}
.product_info>.buttons>.add_to_cart>.wrapper_for_button>span{
   color:$orange;
}
.product_info>.buttons>.add_to_wishlist{
	border: 1px solid $grey;
    box-shadow: none;
    outline: none;
    height: 52px;
    width: 50%;
    background-color: $light-shade;
    text-transform: uppercase;
    border-radius: rem(8px);
    font-weight: bold;
}
.product_info>.buttons>.add_to_cart:hover{
    opacity: 0.8;
}
.product_info>.buttons>.add_to_wishlist:hover{
    border-color: $brand-color;
}
/*.product_info>.share_options{
	margin-top: rem(25px);
	display: flex;
}
.product_info>.share_options>p{
	font-size: rem(15px);
    color: $brand-color !important;
    font-family:$ff-open-sans;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: rem(25px);
}
.product_info>.share_options>a>img{
	margin-right: rem(15px);
}*/
.product_info>.more_colors{
	margin-top: rem(20px);
}
.product_info>.more_colors>h5{
	font-size: rem(15px);
    color: $brand-color !important;
    font-family:$ff-open-sans;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: rem(2px);
}
.product_info>.more_colors>img{
	width: 20%;
    height: auto;
    padding: 15px 0px 15px 0px;
    margin-right: rem(15px);
}
.product_info>.size{
    margin-top: rem(25px);
}
.product_info>.size>h5{
    font-size: rem(15px);
    color: $brand-color !important;
    font-family:$ff-open-sans;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: rem(2px);
}
.product_info>.size>.buttons>.size_buttons{
    margin: 15px 10px 15px 0px;
    background-color: $light-shade;
    border: 1px solid $grey;
    border-radius: 50px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    color: $brand-color;
    font-size: rem(15px);
    font-family: $ff-open-sans;
}
.product_info>.size>.buttons>.size_buttons:hover{
    border-color: $brand-color;
}
.size >h5 >button{
    color: $red-color;
    font-size: rem(13px);
    margin-left: rem(15px);
    border:none;
    background-color: $white-color;
    text-transform: uppercase;
}
.product_info>.cod{
	margin-top: rem(20px);
}
.product_info>.cod>.input_field>input{
	width: 170px;
    border: none;
    padding: 15px 0px 15px 0px;
    font-family:$ff-open-sans;
    font-size: rem(14px);
}
.product_info>.cod>.input_field{
	width: 200px;
    box-shadow: none;
    border-bottom: 1px solid $grey;
}
.product_info>.description>.heading>h5,.product_info>.cod>.heading>h5{
    font-size: rem(15px);
    color: $brand-color !important;
    font-family:$ff-open-sans;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: rem(2px);
}
.product_info>.description>.heading>span,.product_info>.cod>.heading>span{
    margin-left: rem(10px);
    margin-top: rem(-3px);
}
.product_info>.description{
	margin-top: rem(25px);
	/*margin-bottom: rem(35px);*/
}
.product_info>.description>.heading,.product_info>.cod>.heading{
    display: flex; 
}
/*description*/
.product_info>.description>.accordionRight,.about_craft_and_reviews{
	padding: 15px 0px 15px 0px;
}
.product_info>.description>p {
    font-size: rem(14px);
    font-family: $ff-open-sans;
    line-height: rem(24px);
    color: $grey;
}
/*moreinfo*/
.product_info>.description>.product_details{
  margin-top:rem(10px);
}
.product_info>.description>.product_details>h6{
    font-family:$ff-open-sans;
    font-size: rem(14px);
    text-transform: uppercase;
    font-weight: bold;
}
.product_info>.description>.product_details>ul{
   padding: 10px 0px 0px 30px;
   line-height: rem(26px);
}
.product_info>.description>.product_details >ul>li,.product_details>p{
   color: $grey !important;
   font-size: rem(13px);
   font-family:$ff-open-sans;
}
.product_details>p{
   padding: 10px 0px 0px 0px;
}
/*about craft and reviews
.about_craft_and_reviews{
    margin-top: rem(40px);
}*/
/*view similar products*/
.similar_products{
    margin-top: rem(20px);
}
.similar_products h3{
    margin-bottom: rem(20px);
    margin-left: rem(15px);
}
.similar_products img{
    margin-left:auto;
    margin-right: auto;
}