/*.product .alert_container{
  font-family: $ff-open-sans;
  font-size: rem(14px);
}
.alert_container .btn-black{
  margin-left:rem(10px);
}*/
.product_images{
  margin-top: rem(10px);
  margin-bottom: rem(20px);
  text-align: center;
}
.product_images img{
  width: rem(100px);
  height: auto;
  margin-right: rem(5px);
}
.product_image{
  flex-flow: column;
  position: sticky;
  top: 50px;
  bottom: 0;
}
.product_image>div{
  padding-left: 0px;
  padding-right: 5px;
}
.features{
  background-color: #f7f7f7;
  height: 50px;
}
.features> p{
  font-family: $ff-open-sans;
  font-size: rem(13px);
  color: $brand-color;
  text-align: center;
  padding-top: rem(10px);
}
/*product info*/
.product_info{
  padding-top:rem(4px);
}
.product_info>a{
  text-decoration:none;
}
.product_info>a> h3{
	font-family: $ff-open-sans;
  font-size: rem(25px);
  color: $brand-color;
  position: absolute;
  font-weight:bold;
}
.product_info> .product_name{
  font-family: $brand-font;
  color: #494949;
  font-size: rem(28px);
  margin-top: rem(35px);
  margin-bottom: rem(5px);
}
.product_info>.share>.share_popover{
  float: right;
  display: flex;
}
.product_info>.share>.share_popover>h6{
  font-size: rem(14px);
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
}
.product_info>.share>.share_popover>span{
  color:$grey;
  margin-right: rem(5px);
}
.product_info >.share>.share_popover:hover{
  text-decoration: none;
}
.popover-content{
  display: flex;
  margin: rem(10px);
}
.popover-content >a >img{
  margin-right: rem(5px);
  margin-left:rem(5px);
  border-radius: 50%;
}
.shareicon:hover{
  color: $brand-color;
}
.product_info >.rating >.checked{
	color: $orange;
}
.share>.content{
  display: none;
}
.rating>.fa.fa-star.checked{
  color:$brand-color;
}
.rating>.fa.fa-star{
  color:$grey;
}
.product_info>.product_price>strong{
	font-size: rem(23px);
  color: $brand-color;
  font-family: $ff-open-sans;
  margin-right: rem(10px);
}
.product_info>.product_price>s{
  font-size: rem(18px);
  color: $grey;
  font-family: $ff-open-sans;
  margin-right: rem(10px);
}
.product_info>.product_price>.discount{
  font-size: rem(18px);
  font-family: $ff-open-sans;
  color:$red-color;
  font-weight: bold;
}
.product_info>.buttons{
  margin-top: rem(25px);
  display: flex;
}
.product_info>.buttons>.add_to_cart{
	border: none;
  box-shadow: none;
  outline: none;
  height: 52px;
  width: 50%;
  background: $brand-color;
  color:$white-color;
  margin-right: rem(40px);
  text-transform: uppercase;
  font-weight: bold;
}
.product_info>.buttons>.add_to_cart>.wrapper_for_button,
.product_info>.buttons>.add_to_wishlist>.wrapper_for_button{
  justify-content: center;
}
.product_info>.buttons>.add_to_cart>.wrapper_for_button>p,
.product_info>.buttons>.add_to_wishlist>.wrapper_for_button>p{
  font-family: $ff-open-sans;
  font-size: rem(15px);
}
.product_info>.buttons>.add_to_wishlist{
	border: 1px solid $grey;
  box-shadow: none;
  outline: none;
  height: 52px;
  width: 40%;
  background-color: $light-shade;
  text-transform: uppercase;
  font-weight: bold;
}
.product_info>.buttons>.add_to_wishlist:hover{
  border-color: $brand-color;
}
/*.product_info>.share_options{
	margin-top: rem(25px);
	display: flex;
}
.product_info>.share_options>p{
	font-size: rem(15px);
  color: $brand-color !important;
  font-family:$ff-open-sans;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: rem(25px);
}
.product_info>.share_options>a>img{
	margin-right: rem(15px);
}*/
.product_info>.more_colors{
	margin-top: rem(20px);
}
.product_info>.more_colors>h5{
	font-size: rem(15px);
  color: $brand-color !important;
  font-family:$ff-open-sans;
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: rem(2px);
}
.product_info>.more_colors>img{
	width: 19%;
  height: auto;
  padding: 15px 0px 15px 0px;
  margin-right: rem(15px);
}
.product_info>.size{
  margin-top: rem(25px);
}
.product_info>.size>h5{
  font-size: rem(15px);
  color: $brand-color !important;
  font-family:$ff-open-sans;
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: rem(2px);
}
.product_info>.size>.buttons{
  margin-bottom:rem(15px);
}
.product_info>.size>.quantity input{
  font-family:$ff-open-sans;
  width: 10%;
  padding: 3px 8px;
}
.product_info>.size>.quantity input:hover,
.product_info>.size>.quantity input:active,
.product_info>.size>.quantity input:focus{
  border-color: #151414 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product_info>.size>.buttons>.size_buttons{
    margin: 5px 10px 15px 0px;
    background-color: $light-shade;
    border: 1px solid $grey;
    border-radius: 50px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    color: $brand-color;
    font-size: rem(15px);
    font-family: $ff-open-sans;
}
.product_info>.size>.buttons>.size_buttons:hover{
    border-color: $brand-color;
}
.size >h5 >button{
    color: $red-color;
    font-size: rem(13px);
    margin-left: rem(15px);
    border:none;
    background-color: $white-color;
    text-transform: uppercase;
}
.size >.type{
 font-size: rem(16px) !important;
 font-family: $ff-open-sans;
}
.type>.product-type{
  font-family: $ff-open-sans;
  text-transform: capitalize;
  margin-bottom: rem(25px);
  color: $grey;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #d3d3d3;
    color: #151414;
    margin-bottom: 1.875rem;
    font-family: "Open Sans",sans-serif;
    font-size: .875rem;
    padding: 0;
    max-width: 15.3125rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url(https://image.flaticon.com/icons/svg/60/60781.svg);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 12px;
}
.product_info>.cod{
	margin-top: rem(20px);
}
.product_info>.cod>.input_field>input{
	width: 170px;
    border: none;
    padding: 15px 0px 15px 0px;
    font-family:$ff-open-sans;
    font-size: rem(14px);
}
.product_info>.cod>.input_field{
	width: 200px;
    box-shadow: none;
    border-bottom: 1px solid $grey;
}
.product_info>.description>.heading>h5,.product_info>.cod>.heading>h5{
    font-size: rem(15px);
    color: $brand-color !important;
    font-family:$ff-open-sans;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: rem(2px);
}
.product_info>.description>.heading>span,.product_info>.cod>.heading>span{
    margin-left: rem(10px);
    font-size: rem(20px);
}
.product_info>.description{
	margin-top: rem(25px);
	/*margin-bottom: rem(35px);*/
}
.product_info>.description>.heading,.product_info>.cod>.heading{
    display: flex; 
}
/*description*/
.product_info>.description>.accordionRight,.about_craft_and_reviews{
	padding: 15px 0px 15px 0px;
}
.product_info>.description>p {
    font-size: rem(14px);
    font-family: $ff-open-sans;
    line-height: rem(24px);
    color: $grey;
}
/*moreinfo*/
.product_info>.description>.product_details{
  margin-top:rem(10px);
  margin-bottom:rem(20px);
}
.product_info>.description>.product_details>h6{
    font-family:$ff-open-sans;
    font-size: rem(14px);
    text-transform: uppercase;
    font-weight: bold;
}
.product_info>.description>.product_details>ul{
   padding: 10px 0px 0px 30px;
   line-height: rem(26px);
}
.product_info>.description>.product_details >ul>li,.product_details>p{
   color: $grey !important;
   font-size: rem(14px);
   font-family:$ff-open-sans;
}
.product_details>p{
   text-align: justify;
   padding: 10px 0px 0px 0px;
}
.description>.product_description{
  margin-top:0px !important;
  padding:0px;
  margin-bottom: rem(20px);
}
.description>.heading>h5{
  margin-bottom:0px;
}
/*about craft and reviews
.about_craft_and_reviews{
    margin-top: rem(40px);
}*/
/*view similar products*/
.goes_with .column{
  margin-bottom: 0px;
}
.column > a{
  text-decoration: none;
}
.column > a > img{
  margin-left: auto;
  margin-right: auto;
}
.product_text{
  font-size: rem(14px);
  font-family: $ff-open-sans;
  color:  $brand-color;
  line-height: 1.529;
  text-align: center;
  margin: 15px 0 8px;
  max-width: 219px;
  margin-left: auto;
  margin-right: auto;
}
center{
  max-width: 219px;
  margin-left: auto;
  margin-right: auto;
  color:$grey;
}
.column > a > center > .price{
  font-size: rem(14px);
  color: $brand-color;
  font-family: $ff-open-sans;
  font-weight:bold;
  margin-right: rem(5px);
}
.column>a>center strike{
  font-size: rem(13px);
  color: $grey;
  font-family: $ff-open-sans;
  margin-right: rem(5px);
}
.column>a>center > .discount{
  font-size: rem(13px);
  color: $grey;
  font-family: $ff-open-sans;
  color:$red-color;
}
/*view similar products*/
.similar_products{
  margin-bottom: rem(35px);
}
.similar_products,.goes_with{
  margin-top: rem(50px);
}
.similar_products h3,.goes_with h3{
    margin-bottom: rem(30px);
    margin-left: rem(15px);
    font-family: $brand-color;
    font-size: rem(20px);
    color: $brand-color;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.similar_products img,.goes_with img{
    margin-left:auto;
    margin-right: auto;
}
.product-img >.three_features{
    margin-top: rem(20px);
    display: flex;
    justify-content: center;
}
.product-img >.three_features >.features{
    margin-right: auto;
    width: 28%;
    margin-left: auto;
}
/*slider*/
.left-col {
      > #product-img-slider {
        .slick-slide {
          text-align: center;
          img {
            max-width: 90%;
            width: 100%;
            display: block;
            margin: 0 auto;
          }
        }
        .slick-arrow {
          color: black;
          position: absolute;
          top: 50%;
          font-size: 23px;
          z-index: 100;
        }
        .slide-back {
          left: 20px;
        }
        .slide-next {
          right: 20px;
        }
      }
      > #product-img-gal {
        display: none;
      }
      > .product-img {
        display: none;
      }
    }

/*.affix {
    top: 0px;
    width: 50%;
    z-index: 9999 !important;
    flex-flow: column;
    position: sticky;
  }

.affix + .container-fluid {
    padding-top: 70px;
  }*/
@include respond-to(medium){
    .left-col {
        > #product-img-slider {
          display: none;
        }
        > #product-img-gal {
          display: block;
          width: 14%;
          float: left;
          > a {
            display: block;
            margin-bottom: $half-unit-layout;
            img {
              width: 100%;
            }
            &.active, &:hover {
              border: rem(2px) solid #e3e3e3;
            }
          }
        }
        > .product-img {
          width: 86%;
          float: left;
          display: block;
          img {
            max-width: 95%;
            width: 100%;
            display: block;
            margin: 0 auto;
          }
        }
        > .product-img-footer {
          display: none;
        }
    }
}    