.container
  .row
    .col-lg-12.col-md-12.footer_section
      p (inclusive of shipping, handling and taxes)
      .partner_images
        img(src="images/d.png").img-responsive
        img(src="images/m.png").img-responsive
        img(src="images/v.png").img-responsive
        img(src="images/a.png").img-responsive