//-site Footer
footer
  .container
    .row.signup_toget_acces
      .col-lg-12.col-md-12
        h3.subscribe Sign up to get first access, curated notes about new styles, sales and events.
        .email
          input.emailsearch.center-block(type="text" placeholder="your email address") 
          span
            button(type="submit").btn subscribe
  hr
  .container
    .row.links
      .col-lg-2.col-md-2
        ul
          li.active Our Company
          li 
            a(href="").footer_links About Us
          li
            a(href="").footer_links Careers
          li
            a(href="").footer_links Shipping
          li
            a(href="").footer_links Return Policy
          li
            a(href="").footer_links Terms & Conditions
          li
            a(href="").footer_links Privacy
          li
            a(href="").footer_links Contact Us
          li
            a(href="").footer_links Gift Vouchers
          li
            a(href="").footer_links About Us
          li
            a(href="").footer_links Affiliate

      .col-lg-2.col-md-2
        ul
          li.active Top Categories
          li 
            a(href="").footer_links Paper Mache
          li
            a(href="").footer_links Walnut Wood
          li
            a(href="").footer_links Chain Sitch
          li
            a(href="").footer_links Timeless Tilla
          li
            a(href="").footer_links Paper Mache
          li
            a(href="").footer_links Walnut Wood
          li
            a(href="").footer_links Chain Sitch
          li
            a(href="").footer_links Timeless Tilla

      .col-lg-2.col-md-2
        ul
          li.active More..
          li
            a(href="").footer_links About Us
          li
            a(href="").footer_links Careers
          li
            a(href="").footer_links Shipping
          li
            a(href="").footer_links Return Policy
          li
            a(href="").footer_links Terms & Conditions

      .col-lg-3.col-md-3
        .services
          .icon
            img(src="images/Layer 28.png" alt="service icon")
          .descrptn
            p.heading 100% original guarantee
            p for all products at kashmirbox.com
        .services
          .icon
            img(src="images/Layer_29.png" alt="service icon")
          .descrptn
            p.heading 30 Days easy return
            p policy for all orders placed
        .services
          .icon
            img(src="images/Layer 30.png" alt="service icon")
          .descrptn
            p.heading Free delivery
            p for all orders above Rs.499   

      .col-lg-3.col-md-3
        .social
          p Connect with us
          .socail_logos
            a(href="https://www.facebook.com/kashmirbox" target="_blank")
             img(src="images/Layer_22.png" alt="social_icons")
            a(href="https://twitter.com/kashmirbox" target="_blank")
             img(src="images/Layer__23.png" alt="social_icons")
            a(href="https://www.instagram.com/kashmirboxofficial/" target="_blank")
             img(src="images/Layer 24.png" alt="social_icons")
            a(href="https://plus.google.com/+Kashmirbox/" target="_blank")
             img(src="images/Layer 25.png" alt="social_icons")
            a(href="https://www.linkindin.com/company/kashmir-box" target="_blank")
             img(src="images/Layer 26.png" alt="social_icons")
            a(href="https://in.pinterest.com/kashmirbox/" target="_blank")
             img(src="images/Layer 27.png" alt="social_icons")

        .need_help
          p.contact Need Help?
          b Email: 
          span care@kashmirbox.com
          b Contact: 
          span +91-9796-659-999  
  .container
    .row.payment_partners
      p Payment Partners
      img.img-responsive(src="images/Layer 31.png" alt="paymemt_partners")

  .container-fluid.padding-0
    .row.copyright
      p Copyright @ KashmirBox.com 2017-18. All Rights Reserved