//-site Footer
footer
  //-subscribe
  .container
    .col-md-10.col-xs-12.col-md-offset-1
      .row.signup_toget_acces
        .col-lg-12.col-md-12.newsletter
          .col-lg-8.col-md-8
            h3.subscribe Sign up to get first access, curated notes about new styles, sales and events.
            .input-group#subscribeMobile
              input(type="text" placeholder="your email address").form-control.newsletterTextbox
              span.input-group-btn
                button.btn.newsletterButton(type="button") SUBSCRIBE         
  hr
  //-links 
  .container
    .row.links
      .col-lg-2.col-md-2.col-sm-2
        ul
          li.active Our Company
          li 
            a(href="aboutus.html").footer_links About Us
          li
            a(href="careers.html").footer_links Careers
          li
            a(href="").footer_links Shipping
          li
            a(href="").footer_links Return Policy
          li
            a(href="").footer_links Terms & Conditions
          li
            a(href="").footer_links Privacy
          li
            a(href="contact.html").footer_links Contact Us
          li
            a(href="").footer_links Gift Vouchers
          li
            a(href="").footer_links About Us
          li
            a(href="").footer_links Affiliate

      .col-lg-2.col-md-2.col-sm-2
        ul
          li.active Top Categories
          li 
            a(href="").footer_links Paper Mache
          li
            a(href="").footer_links Walnut Wood
          li
            a(href="").footer_links Chain Sitch
          li
            a(href="").footer_links Timeless Tilla
          li
            a(href="").footer_links Paper Mache
          li
            a(href="").footer_links Walnut Wood
          li
            a(href="").footer_links Chain Sitch
          li
            a(href="").footer_links Timeless Tilla

      .col-lg-2.col-md-2.col-sm-2
        ul
          li.active More..
          li
            a(href="").footer_links About Us
          li
            a(href="").footer_links Careers
          li
            a(href="").footer_links Shipping
          li
            a(href="").footer_links Return Policy
          li
            a(href="").footer_links Terms & Conditions
        .experience_on_mobile
          a(href="#" target="_blank")
            img(src="images/icons/get-google_play.png" alt="image").img-responsive
          a(href="#" target="_blank")
            img(src="images/icons/get-apple_store.png" alt="image").img-responsive
      .col-lg-3.col-md-3.col-sm-3
        .services
          .icon
            img(src="images/Layer 28.png" alt="service icon")
          .descrptn
            p.heading 100% original guarantee
            p for all products at kashmirbox.com
        .services
          .icon
            img(src="images/Layer_29.png" alt="service icon")
          .descrptn
            p.heading 30 Days easy return
            p policy for all orders placed
        .services
          .icon
            img(src="images/Layer 30.png" alt="service icon")
          .descrptn
            p.heading Free delivery
            p for all orders above Rs.499   

      .col-lg-3.col-md-3.col-sm-3
        .social
          p Connect with us
          .socail_logos
            a(href="https://www.facebook.com/kashmirbox" target="_blank")
             img(src="images/facebook.png" alt="facebook")
            a(href="https://twitter.com/kashmirbox" target="_blank")
             img(src="images/twitter.png" alt="twitter")
            a(href="https://www.instagram.com/kashmirboxofficial/" target="_blank")
             img(src="images/instagram.png" alt="instagram")
            a(href="https://plus.google.com/+Kashmirbox/" target="_blank")
             img(src="images/google+.png" alt="google")
            a(href="https://www.linkindin.com/company/kashmir-box" target="_blank")
             img(src="images/linkedin.png" alt="linkedin")
            a(href="https://in.pinterest.com/kashmirbox/" target="_blank")
             img(src="images/pinterest.png" alt="pinterest")

        .need_help
          p.contact Need Help?
          p #[span Email:] care@kashmirbox.com
          p #[span Contact:] +91-9796-659-999

  //-about kashmirbox
  .container
    .row.about_kashmirbox
        p.Your_Convenient_Connection Your Convenient Connection to the best of Kashmir
        .col-lg-2.col-md-2.col-sm-2
            image.img-responsive(src="https://kb.kashmirbox.com/catalog/view/theme/kashmirbox_1_5/images/kb-logo-BRANDS-5.gif" 
            alt="kb")
        .col-lg-10.col-md-10.col-sm-10
          p.descptn Kashmir Box prides itself for being an artisan family of more than 1000 artisans, 200 producers and 50+ local brands from the remotest corners of Kashmir. We aim to bring the most cherished and glorious of authentic Kashmiri Crafts and produce to our valued customers, giving them the most seamless shopping experience ever. Whether you are looking for the soft embrace of Pashmina & Cashmere, or to charm up your attire with the best of Kashmiri Embroideries like Aari, Sozni & Tilla or to décor up your home with Paper Machie & Walnut Wood beauties or simply to treat yourself to the exquisite Kashmiri Kahwa, Dry Fruits, Saffron and Wazwan, or to benefit from the age old health boosters like Mountain Shilajit, we have got you covered. We are your convenient connection to the best of Kashmir, an easy way to get all the beautiful products as easily and hassle free as is possible.
          p.descptn
           span GSTIN: 
           | 01AAECK9299A1ZN
       
  hr
  //-payment partners  
  .container
    .row.payment_partners
      p Payment Partners
      img.img-responsive(src="images/payment_partners.png" alt="paymemt_partners")

  //-copyright
  .copyright
   .container
     .row
      p Copyright @ KashmirBox.com 2017-18. All Rights Reserved