// Site Header
header#site_header
  #site-header-top
    .container
      span.tagline Over $70 million sent to artisans arround the world! - offering &amp; Empowering Kashmir
      ul.quick-links
        li
          a(href='#')
            span help 
        li
          a(href='#')
            span service
        li
          a(href='#' data-toggle='modal' data-target='#register-login-modal')
            span register
        li
          a(href='#' data-toggle='modal' data-target='#register-login-modal')
            span sign-in
  #site-header-primary
    .container
      .logo-wrap(class='col-xs-6 col-sm-6 col-md-4 padding-0')
        a(href='#')
          img(src='images/logo.png' alt="Kashmir Box")
      .search-wrap(class='col-xs-6  col-md-4 hidden-xs hidden-sm padding-0')
        .kbsearch
          input(type='text' placeholder='What can Kashmir offer you today?')
          a(class='search-btn')
            include ../components/svgicons/search.pug 
      .mini-cart-wrap(class='col-xs-6 col-sm-6 col-md-4 padding-0')  
          .dropdown.currency-dropdown
            button.btn.btn-white.dropdown-toggle(type='button', data-toggle='dropdown')
              span.text INR ₹
              span.fa.fa-angle-down
            ul.dropdown-menu
              li.active
                a(href="#" data-currency="INR").text INR ₹
              li
                a(href="#" data-currency="USD").text USD $ 
              li
                a(href="#" data-currency="GBP").text GBP £
          .wishlist-icon
            a(href="#")
              span.fa.fa-heart-o  
          .cart
            a.mini-cart-icon.hidden-xs(href='#')
              include ../components/svgicons/shoppingbag.pug
              i(class='mini-cart-count') 6 
            a.mini-cart-icon.mobile.visible-xs(href='#')
              include ../components/svgicons/shoppingbag-small.pug
              i(class='mini-cart-count') 6 
          
  #site-header-mobile-menu(class='visible-xs visible-sm clearfix')
    .icons
      .icon.menu-toggle
        a(type='button', data-toggle='collapse', data-target='.menu-wrapper')
          include ../components/svgicons/hamburger.pug
      .icon.search-toggle
        a
          include ../components/svgicons/search.pug
        .kbsearch.clearfix
          input(type='text' placeholder='What can Kashmir offer you today?')
          a(class='search-btn')
            include ../components/svgicons/search.pug
      .icon.dropdown.profile-dd-toggle 
        a(class='btn dropdown-toggle' type='button' data-toggle='dropdown')
          include ../components/svgicons/user.pug
          
        ul.dropdown-menu
            li
              a(href='#' data-toggle='modal' data-target='#register-login-modal') Register
            li
              a(href='#' data-toggle='modal' data-target='#register-login-modal') Sign In
            li
              a(href='#') Profile

  #site-header-navigation
    include ../components/mega-menu.pug
        


