//-site header
header
  //-top navigation 
  .col-lg-12.col-md-12.top_nav
    .container
      .row.padding-0
        ul.top_nav_row
          li.top_nav_active        
            a(href='#') KB
          li.top_nav_li
            a(href='https://cashmere.kashmirbox.com/' target="_blank").nav_text KB cashmere pashmina 
          li.top_nav_li
            a(href='https://www.kashmirwholesale.com/' target="_blank").nav_text KB wholesale
        ul.top_nav_row
          li.top_nav_li
            a(href='#').nav_text Track orders         
          span.top_divider |
          //-currency  
          include ../components/currency.pug
          span.top_divider |
          //-help
          include ../components/help.pug
  //-sticky-header
  .headerr#myHeader.hidden
    h2 header    
  //-Header
  .container
     .col-lg-4.col-md-4.col-sm-4
      .search
        span.fa.fa-search
        input.search-input(type="search" placeholder="What can Kashmir Offer You Today?")
     .col-lg-4.col-md-4.col-sm-4.logo 
       a(href="https://kashmirbox.com/")
        h1 Kashmir Box
     .col-lg-4.col-md-4.col-sm-4.login
        ul
         li
           a(data-toggle="modal" data-target="#register-login-modal") Login  &  Signup
            span.fa.fa-user-circle.fa-lg
         li 
           a(href="login_panel.html") Wishlist
            span.fa.fa-heart-o.fa-lg     
         li 
           a(href="empty_cart.html") Cart
            span.fa.fa-shopping-cart.fa-lg
            .cart 2
  include ../components/menu.pug