.container
  .row.cart_breadcrumb
    .col-lg-6.col-md-6.logo_wrap
      a(href="index.html")
        h1 kashmir box
    .col-lg-6.col-md-6.safe-and-secure
      p 100% Safe &amp; Secure Payment Process
hr