.container
  .row.cart_breadcrumb
    .col-lg-6.col-md-6.logo_wrap
      a(href='#')
        h1 kashmirbox
    .col-lg-6.col-md-6.safe-and-secure
      p 100% Safe &amp; Secure Payment Process
hr
//-cart strip
.container
  .row
    .col-lg-12.col-md-12.continue_shopping
      .continue_icon
        span.fa.fa-chevron-left
        p continue shopping
      .trust_label
        span.trustimage
          img(src="images/shield.png" alt="image").img-responsive 
        span.text
          p KashmirBox is trusted by more than 1 million customers worldwide    
