@import url('https://fonts.googleapis.com/css?family=Cormorant|Open+Sans');
@import url('https://fonts.googleapis.com/css?family= 'Muli', sans-serif;');
@import url('https://fonts.googleapis.com/css?family= 'Muli', sans-serif;:200,300,900');
/* Your app styles here */
/*menu*/
.top_nav{
	background-color: #fff !important;
}
.view > .menubackground{
	background-color: rgb(255, 255, 255) !important;
}
.header_icons i{
  font-size: 21px;
  color: #151414;
}
.top_nav .logo{
  color: #151414;
}
.page img{
  width: 100%;
  height: auto;
}
.page-content >.block>.block-title{
 text-transform: uppercase;
 font-size: 10px;
 color: #151414 !important;
 font-weight: bold;
}
.item-inner>.menu_item{
  text-transform: uppercase;	
  font-size: 13px;
  color:#151414;
  font-family:  'Muli', sans-serif;
}
/*sub menu*/
.item-inner>.submenu_item,
.accordion-item-content>.particular_item>a>p{
  font-size: 13px;
  text-transform: capitalize;
  color: #151414;
}
.home_footer{
 background-color: #fff !important; 
}
.home_footer a{
  color:#151414 !important;
}
/*sign in sign up*/
.sign_in_up{
  margin-left: 13px !important;
}
.sign_in_up>p{
  font-family:  'Muli', sans-serif;
}
.sign_in_up>p>a{
   color: #151414;
}
/*sale*/
.sale_block2 .secondimage{
  margin-top: 10px;
}
/*block-title block_heading*/
.block_heading{
	text-align: center;
  font-family: Cormorant !important;
  font-size: 25px;
  color: #151414 !important;
  line-height: 0;
  text-transform: capitalize;
  font-weight: bold;
}
.subtitle{
  font-size: 16px;
  font-family:  'Muli', sans-serif;
  color: #878787 !important;
  line-height: 1;
  text-align: center;
}
.home .new_arrivals,.home .trending_in_food,
.home .trending_in_beauty,.home .kashmirtales,
.home .subscribe
{
  margin-top: 50px !important;
}
.subscribe{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.subscribe p{
  font-family: Cormorant !important;
  color: #151414 !important;
  text-align: center;
  font-size: 30px;
  max-width: 600px;
}
.subscribe .textboxHead input{
  border: 1px solid #151414;
  width: 100%;
  padding: 20px;
  height: 55px;
  font-family:  'Muli', sans-serif;
  font-size: 13px;
  color: #878787;
  font-style: italic;
}
.subscribe .textboxHead button{
  border-radius: 0px;
  background-color: #151414;
  color:#fff;
  font-size: 13px;
  border-color: #151414;
  font-family:  'Muli', sans-serif;
  height: 55px;
  border-color:#151414 !important;
  text-transform:uppercase;
  width: 100% !important;
}
/*.featured_craft,.trending_in_craft{
  margin-top: -36px !important;
}*/
/*footer*/
.home .more_about,
.product .more_about,
.contact .more_about{
  margin:0px;
  padding: 0px;
}
.home .more_about .accordion-item, 
.product .more_about .accordion-item,
.contact .more_about .accordion-item{
  height: 0px;
}
.home .more_about .list,
.product .more_about .list,
.contact .more_about .list{
  margin: 0px;
}
.home .more_about .accordion-item-content,
.product .more_about .accordion-item-content,
.contact .more_about .accordion-item-content{
  margin-left: auto;
  margin-right: auto;
}
.more_about .list .footer_links{
  width: 100%;
}
.more_about .list .footer_links:before,
.more_about .list .footer_links:after{
  height: 0px !important;
}
.more_about .accordion-item .item-title{
  font-family:  'Muli', sans-serif;;
  color: #151414;
  font-size: 14px;
  margin-left: auto;
  margin-right:auto;
}
.more_about .accordion-item .item-link{
   background: #f7f7f7;
}
.more_about .accordion-item-content .headings{
  color: #151414;
  font-family:  'Muli', sans-serif;;
  font-size: 14px;
  font-weight: bold;
}
.more_about .accordion-item-content{
  color: #151414 !important;
  text-align: center;
}
.more_about .accordion-item-content a{
  color: #878787 !important;
  padding: 0px 10px;
  font-size: 13px;
}
.more_about .accordion-item-content .first_image{
  display: flex;
  justify-content: center;
}
.more_about .more img{
  margin-left: auto;
  margin-right: auto;
  width: 158px;
  height: 48px;
}
.more_about .more div{
  margin-top: 15px;
}
.more_about .images_accordian
{
  margin-top: 40px;
}
.more_about .need_help,.more_about .convenient_connection{
  margin-top: 25px;
}
.more_about .first_image{
  margin-bottom: 15px;
}
.more_about .first_image img{
  width: 46px;
  height: 47px;
}
.more_about .first_image .text{
  margin-left: 10px;
}
.more_about .first_image .text > .heading{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  font-weight: bold;
  color: #151414;
}
.more_about .first_image .text > p{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  color:#878787;
  margin-top: 0px;
  margin-bottom: 0px;
}
.more_about .social_images{
  display: flex;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}
.more_about .social_images a img{
  width:30px;
  height:30px;
  margin-right: auto;
  margin-left: auto;
}
.more_about .need_help .text{
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
  color: #151414;
}
.more_about .need_help span{
  font-weight: bold;
}
.more_about .convenient_connection img{
  max-width: 140px;
  float: left;
  margin-right: 10px;
}
 .more_about .convenient_connection p{
  font-weight: 500;
  text-align: justify;
  line-height: 21px;
  color: #878787;
  font-family:  'Muli', sans-serif;;
  font-size:13px;
}
 .more_about .convenient_connection .gstin{
  font-size: 14px;
 }
 .more_about .convenient_connection .gstin > b{
   color: #151414;
 }
.more_about .convenient_connection hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0.7px solid #e3e3e3 !important;
}
.more_about .payment_partners h2{
  font-size: 14px;
  color: #151414;
  font-family:  'Muli', sans-serif;;
  margin: 0px 0px 25px 0px;
}
.more_about .payment_partners img{
  margin-left: auto;
  margin-right: auto;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 238px;
  padding-bottom: 20px;
}
.more_about .copyright{
  background-color: #151414 !important;
}
.more_about .copyright p{
  color: #fff;
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
  margin: 5px;
}
/*category page*/
.second_nav{
  background-color: #f7f7f7 !important;
}
.second_nav .block{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: #151414;
  font-size: 12px;
  text-transform: uppercase;
  font-family:  'Muli', sans-serif;
}
.category .category_list{
  margin-bottom: 60px;
}
.category_card{
  margin:0px !important;
  border-radius: 0px;
}
.category_card > .card-footer{
  position: static;
  display:block;
  text-transform: capitalize;
  min-height: 120px;
  max-height: 130px;
}
.category_card >.card-footer>/*.name_container*//*used for wishlist icon*/{
  display: flex;
}
.name_container,.price-container{
  text-align: center;
}
.name_container> h3{
  margin: 0px;
  font-size:13px;
  font-family:  'Muli', sans-serif;
  color:#151414;
  max-width: 100%;
}
.price-container span{
  font-family:  'Muli', sans-serif;
}
.price-container .price{
  font-weight: bold;
  margin-right:5px;
  color:#151414;
  font-size:12px;
}
.price-container strike{
  margin-right: 5px;
  font-size: 11px;
}
.price-container .discount{
  font-size: 11px;
  color: red;
}
/*.name_container >a> .wishlist_icon {
  color: #151414 !important;
  display: inline-block;
  position: absolute;
  bottom: 43px;
  right: 4px;
  top: 1px;
  font-size: 18px;
}*/
.md .card-footer a.link, .md .card-header a.link{
  height: auto;
}
.sort_filter_icons .f7-demo-icon{
  color:#151414;
}
.sort_filter_icons .f7-demo-icon-label{
  color:#151414;
}
.sort_filter_icons .f7-demo-icon-cell{
  display: flex;
}
.sort_filter_icons >.tab-link.tab-link-active{
  padding-top: 18px !important;
}
.sort_filter_icons .f7-icons{
  font-size: 21px;
  font-weight: bold;
}
.sort_filter_icons .f7-demo-icon-label{
  margin-left: 10px;
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
  font-weight: bold;
}
.sort_filter_icons a:nth-of-type(1){
  border-right: 1px solid #e3e3e3;
}
.footer{
  background: #fff !important;
}
.category_card .ratings, 
.account .account-address-view .ratings{
  display: flex;
  justify-content: center;
}
.category_card .f7-icons,
.account .account-address-view .ratings .f7-icons{
    color: #878787;
    font-size: 16px;
}
.category_card .active,
.account .account-address-view .ratings .active
 {
    color: rgb(255, 165, 0) !important;
}
.category .sort_links a{
  font-size:13px !important;
  font-family:  'Muli', sans-serif;
}
/*signin popup*/
.signin_popup{
  overflow: auto;
}
.signin_popup .popup-close{
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 17px;
  font-weight: lighter;
  color: #878787;
}
.signin_popup .card{
  padding: 20px 10px;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  border-radius: 0px;
}
.signin_popup .card .login-title{
  font-size: 18px;
  margin-top: 15px;
  color: #151414;
  font-family:  'Muli', sans-serif;;
  letter-spacing: -1px;
}
.signin_popup .card .textboxHead{
  margin: 35px 0;
  border-bottom: 1px solid #878787;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.signin_popup .card .textboxHead .password{
  width:75% !important;
}
.signin_popup .textboxHead input{
  font-family:  'Muli', sans-serif;;
  font-size:12px;
  padding: 10px;  
  width: 100%;
}
.signin_popup .textboxHead > a {
  float: right;
  margin-right:5px;
  font-family:  'Muli', sans-serif;;
  color: red;
  position: absolute;
  top: 10px;
  right: 0px;
  font-weight: bold;
  font-size: 12px;
}
.signin_popup .buttons{
  display: flex;
  justify-content: center;
}
.signin_popup .buttons button{
  background: #151414 !important;
  border: 1px solid #151414 !important;
  margin-bottom: 20px;
  border-radius: 0px !important;
  font-family:  'Muli', sans-serif;
  color: #fff;
  height: 52px;
  font-size: 13px;
  text-transform: uppercase;
}
.signin_popup .buttons a{
  width: 40%;
  margin-right: 5px;
  margin-left: 5px;
}
.signin_popup .buttons .connectfb{
  background: #4267b2 !important; 
  padding: 13px 17px;
  margin-right: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
  font-family:  'Muli', sans-serif;;
  width: 67%;
}
.product_page{
  padding-bottom: 40px;
}
.second_nav .product_block{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: #151414;
  font-size: 12px;
  text-transform: uppercase;
  font-family:  'Muli', sans-serif;
  display:flex;
}
.second_nav .product_block >p:nth-of-type(2){
  margin-top: 0px;
}
.product_image .view_similar{
   float:right;
   margin-right:5px;
}
.view_similar .chip-label{
  font-family:  'Muli', sans-serif;
}
.product_features .col{
  background: #f7f7f7;
  height: 64px;
  text-align: center;
  padding-top: 10px;
}
.product_features p{
  font-family:  'Muli', sans-serif;
  color: #151414;
  font-size: 16px;
  text-transform: capitalize;
}
.social_share{
  top: 205.094px !important;
}
.social_share > .popover-inner{
  margin:15px;
}
.product_name_container .share{
  float: right;
  margin-right:10px;
}
.product_name_container .share >a{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  text-decoration: none;
  color: #151414;
  text-transform: capitalize;
}
.share_links{
  display: flex !important;
}
.share_links img{ 
  border-radius: 50%;
}
.share_links li{
  margin-left: auto;
  margin-right: auto;
}
.product_name_container h5{
 text-transform: capitalize;
 font-family:  'Muli', sans-serif;
 margin: 0px;
 font-size: 18px;
 color: #878787;
 font-weight: normal;
}
.product_name_container h3{
  font-family:  'Muli', sans-serif;
  font-size: 18px;
  color: #151414;
  font-weight: bold;
  margin-bottom: 0px;
}
.product_name_container,.product_price-container
{
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.type_size{
   margin-left: 10px;
}
.product_price-container span,.product_price-container strike{
 text-transform: capitalize;
 font-family:  'Muli', sans-serif;
 color: #151414;
 font-size: 13px;
 font-weight: normal;
}
.product_price-container .price{
  font-weight: bold;
  color:#151414;
  font-size: 18px;
  font-family:  'Muli', sans-serif;
  margin-right: 10px;
}
.product_price-container strike{
  margin-right: 10px;
  font-size: 18px;
  color: #878787;
  font-family:  'Muli', sans-serif;
}
.product_price-container .discount{
  font-size: 18px;
  font-family:  'Muli', sans-serif;
  color: red;
  font-weight: bold;
}
.product_name_container .ratings{
  display: flex;
}
.product_name_container .active{
  color: rgb(255, 165, 0) !important;
}
.product_name_container .f7-icons{
  color: #878787;
  font-size: 18px;
}
.product_border{
  border: 0.5px solid #e3e3e3;
  margin-left: 10px;
  margin-right: 10px;
}
.choose_type{
  max-width: 125px;
}
.choose_type h3,.choose_size h3,
.more_colors h3,.cod h3,.product_details h3,
.more_info h3{
  font-size: 15px;
  color: #151414 !important;
  font-family:  'Muli', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: 2px;
}
.choose_type select{
  width: 125px;
}
.choose_type .input-dropdown-wrap{
  min-height: 26px;
}
.choose_type option{
  color: #151414;
  font-size: 13px;
  font-family:  'Muli', sans-serif;
  /*background: #f7f7f7;*/
}
.choose_size > .size_buttons{
  display: flex;
}
.choose_size > .size_buttons > button{
  width: 10px !important;
  min-width: 40px !important;
  border-radius: 50% !important;
  background-color: #fdfdfd !important;
  border: 1px solid #878787 !important;
  margin-right: 5px;
  color:#151414 !important;
  font-family:  'Muli', sans-serif;
}
.size_buttons > .button-outline:hover{
  border: 1px solid #151414 !important;
}
/*buttons*/
.more_colors,.cod,
.product_details,.more_info{
  margin-bottom: 20px;
}
.ios .product .cart_wishlist{
  padding: 0px !important;
}
.product .cart_wishlist .wishlist{
  width:40%;
}
.product .cart_wishlist .wishlist,
.product .cart_wishlist .wishlist > button{
  background-color: #fff !important;
  color: #151414;
  font-weight: bold;
  font-size: 14px;
}
.product .cart_wishlist .cart{
  width: 60%;
}
.product .cart_wishlist .cart,
.product .cart_wishlist .cart > button{
  background-color: #151414;
  color: #fff;
  font-size: 15px;
  height: 100%;
}
.product .cart_wishlist button{
  background: #151414 !important;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px;
  font-family:  'Muli', sans-serif;
}
.product .cart_wishlist button{
  width: 95%;
  border-radius: 0px !important;
}
.product .cart_wishlist .add_to_wishlist{
  width: 70%;
}
/*more colors and delivery options*/
.product .more_colors{
  margin-top: 40px;
}
.product .cod{
  margin-top:20px;
  margin-bottom: 20px;
}
.more_colors h3,.cod h3,.product_details h3,.more_info h3{
  margin-top: 0px;
  margin-bottom: 0px;
}
.more_colors img{
  width: 20%;
  height: auto;
  padding: 15px 0px 15px 0px;
  margin-right: .9375rem;
}
.cod input{
  border-bottom: 1px solid #878787;
  width: 170px;
  padding: 15px 0px 15px 0px;
  font-family:  'Muli', sans-serif;
  font-size: 14px;
}
.cod .col{
  display: flex;
}
.cod i{
  margin-top: 20px;
  font-weight: bold;
  margin-left: -20px;
  font-size: 15px;
}
/*more info*/
.more_info p{
  font-weight: bold;
}
.more_info p,.more_info li{
  font-size: 13px;
  color: #878787 !important;
  font-family:  'Muli', sans-serif;
  text-transform: uppercase;
  word-spacing: 2px;
}
/*product_details*/
.product_details p{
  text-align: justify;
  color: #878787;
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
}
.goes_with_this h2,.similar_products h2{
    margin-bottom: 20px;
    font-family:  'Muli', sans-serif;;
    font-size: 1.25rem;
    color: #151414;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.similar_products{
  margin-top: 50px !important;
}
.similar_products .swiper-pagination-bullets{
  bottom: 0px;
}
/*cart*/
.cart_page .card,.checkout_1_page .card{
  border-radius: 0px;
}
.cart_page hr,.checkout_1_page hr,
.checkout_2_page hr,
.checkout_3_page hr{
  border: 1px solid #eee;
  margin-top: 25px;
}
.cart_page .cart_heading,
.checkout_1_page .cart_heading,
.checkout_2_page .cart_heading,
.checkout_3_page .cart_heading
{
  margin: 10px !important;
}
.cart_page .cart_footer{
  margin-bottom: 58px !important;
  margin-top: 0px !important;
}
.cart_page .cart_footer p, 
.checkout_1_page .checkout_footer p,
.checkout_2_page .checkout_footer p,
.checkout_3_page .checkout_footer p {
  font-family:  'Muli', sans-serif;;
  color: #151414;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}
.cart_page .cart_heading p,
.checkout_1_page .cart_heading p,
.checkout_2_page .cart_heading p,
.checkout_3_page .cart_heading p{
  font-family:  'Muli', sans-serif;;
  color: #878787;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.cart_page .checkout,
.cart_page .checkout a,
.cart_page .checkout button{
  background-color: #151414 !important;
  text-transform: uppercase;
}
.cart_page .tagline,
.checkout_1_page .tagline,
.checkout_2_page .tagline,
.checkout_3_page .tagline{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom: 10px;
}
/*offers_card*/
.cart_page .offers_card > .card{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #eee;
  border-right: 2px solid #eee;
  border-left: 5px solid #878787;
}
.offers_card > .card > .card-header{
  font-family: Cormorant !important;
  color: #151414 !important;
  font-size: 18px;
  font-weight: bold;
}
.cart_page .offers_card >.card > .card-content{
  padding-bottom: 2px;
}
.offers_card li{
  font-family:  'Muli', sans-serif;;
  line-height: 1.7;
  font-size: 13px;
  color: #878787 !important;
}
/*message_box*/
.cart_page .message_box > .card{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family:  'Muli', sans-serif;;
  font-size: .9375rem;
  background-color: #fdfdfd !important;
  border:1px solid #151414 !important;
  color: #151414 !important;
}
.cart_page .message_box > .card p{
  padding: 3px;
}
.cart_page .message_box .card-content{
    text-align: center;
}
/*order item*/
.cart_page .order_items,
.cart_page .rate_items,
.cart_page .applycoupon{
  margin-left: auto;
  margin-right: auto;
}
.order_items h3{
  font-family:  'Muli', sans-serif;;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left;
}
.order_items > .product_wrapper{
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.order_items .order_details >.name,.qty,.rate{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #151414;
  font-weight: bold;
  font-size: 13.5px;
  font-family:  'Muli', sans-serif;;
}
.order_items .order_details >.type{
  font-weight: normal;
  margin-bottom: 5px;
  color: #878787;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.order_items .order_details >.quantity{
  display: flex;
}
.order_details >.quantity input{
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  padding: 6px 12px;
  width: 50px;
}
.product_wrapper .card-footer{
  justify-content: center;
}
.product_wrapper .card-footer > a{
  margin-left: auto;
  margin-right: auto;
}
.product_wrapper .card-footer > a >p{
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  text-transform: uppercase;
  font-weight: normal;
}
.product_wrapper .card-footer > a >.remove{
  color: #878787;
}
.product_wrapper .card-footer > a >.wishlist{
  color: orange;
}
/*rate deatils*/
.cart_page .rate_items > .card{
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.cart_page .rate_items>.card{
  border: 1px solid #878787;
  background-color: #fdfdfd;
  margin: 0px;
  padding: 18px 20px 10px 20px;
}
.cart_page .rate_items .heading{
  font-family:  'Muli', sans-serif;;
  font-size: 15px;
  text-transform: uppercase;
  color:#151414;
}
.cart_page .rate_items .details{
  display: flex;
}  
.cart_page .rate_items .details >.left_side{
  color: #151414;
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
  margin-top:5px;
  margin-bottom:5px;
}
.cart_page .rate_items .details >.apply_coupon > .popover-open{
  color: red !important;
}
.cart_page .rate_items .details > .total{
  font-weight: bold;
}
.cart_page .details .apply_coupon a{
  color: red;
}
.cart_page .rate_items .details >p:nth-of-type(2){
  margin-left: auto;
  color: #878787;
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
  margin-top:5px;
  margin-bottom:5px;
} 
.cart_page .rate_items .details > button{
  height: 52px;
  background: #151414 !important;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px;
  font-family:  'Muli', sans-serif;
  border:none;
  margin-top: 8px;
}
.cart_page .rate_items .footer_section{
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart_page .rate_items .footer_section > p{
  text-align: center;
  margin-bottom: 20px;
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
  color: #878787;
}
.cart_page .footer_section > .partner_images{
  display: flex;
  justify-content: center;
}
 .footer_section > .partner_images >img{
  width: 40px;
  height: 20px;
  margin-right: 5px;
}
/*cart popup*/
.cart_page .applycoupon .card-header{
  font-family:  'Muli', sans-serif;;
  color: #151414;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}
.cart_page .applycoupon .card-content{
  padding: 15px;
}
.cart_page .card-content h3{
  font-family:  'Muli', sans-serif;;
  color: #151414;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 13px;
  margin-bottom: 10px;
}
.cart_page .applycoupon .card{
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.cart_page .applycoupon .coupon-code{
  font-style: italic;
  font-family:  'Muli', sans-serif;;
  padding: 8px 10px;
  font-size: 13px;
  font-weight: 500;
  color: #878787;
  border: 1px solid #878787;
  width: 100%;
}
.cart_page .applycoupon .or{
  font-family:  'Muli', sans-serif;;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 13px;
}
.cart_page .applycoupon h4{
  font-family:  'Muli', sans-serif;;
  color: #151414;
  font-weight: bold;
  text-transform: capitalize;
  font-size:13px;
  margin-bottom:5px;
  margin-top: 5px;
}
.cart_page .applycoupon .couponcontainer{
  background-color: #fdfdfd;
  border: 1px solid #151414;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.cart_page .couponcode{
  display: flex;
}
.cart_page .couponcode input{
  color: #94969f;
  font-size: 20px;
  margin-top:15px;
}
.cart_page .couponcode .codebox{
  border: 1px dashed #878787;
  background: #fff;
  padding: 10px 5px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  font-family:  'Muli', sans-serif;;
  color: #878787;
  margin-left: 5px;
  max-width: 58px;
  font-size:12.5px;
  height:20px;
}
.cart_page .couponcode p{
  font-family:  'Muli', sans-serif;;
  font-size: 11.5px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 5px;
}
.cart_page .couponcode span, .amount{
  color:red;
  margin-left: 3px;
}
.cart_page .applycoupon .info{
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 10px;
  max-width: 300px;
}
.cart_page .applycoupon .info span{
  font-weight: bold;
}
.applycoupon .card-footer p{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
  margin-top:8px;
}
.applycoupon .card-footer{
  justify-content: center;
}
.applycoupon .card-footer button{
  border-radius: 0px;
  background: #151414 !important;
  border: 1px solid #151414 !important;
  width: 35% !important;
  text-transform: uppercase;
}
/**checkout_1_page**/
.checkout_1_page .checkout_footer,
.checkout_2_page .checkout_footer,
.checkout_3_page .checkout_footer
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkout_1_page .login_details,
.checkout_2_page .login_details,
.checkout_3_page .login_details
{
  margin-left: auto;
  margin-right: auto;
}
.checkout_1_page .login_details h3,
.checkout_2_page .login_details h3,
.checkout_3_page .login_details h3
 {
  font-family:  'Muli', sans-serif;;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left;
}
.checkout_1_page .checkout_wrapper,
.checkout_2_page .checkout_wrapper,
.checkout_3_page .checkout_wrapper
{
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.checkout_1_page .login_details input{
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
  font-family:  'Muli', sans-serif;;
  font-size: 15px;
}
.checkout_1_page .login_details input{
  margin-bottom: 40px;;
}
.checkout_1_page .login_details .login_col{
  padding: 30px 30px;
}
.checkout_1_page .login_details .login_col a{
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
  font-family:  'Muli', sans-serif;;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.login_details .continue{
  background: #151414 !important;
  border: 1px solid #151414 !important;
}
.login_details .connect_with_fb{
  background: #4267b2 !important;
  border: 1px solid #4267b2 !important;
}
.login_details .heading
{
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
  color: #878787;
  line-height: 1.733;
  text-align: left;
  margin-bottom: 15px;
}
.login_details .text_with_icons p{
  font-size: 12.5px;
  font-family:  'Muli', sans-serif;;
  color: #151414;
  line-height: 2;
  text-align: left;
  font-weight: bold;
  margin-left: 8px;
}
.login_details .text_with_icons  >p{
  margin-top: 10px;
  margin-bottom: 0px;
}
.login_details .text_with_icons{
  display: flex;
}
.text_with_icons img{
  margin-top: 10px;
  width: 20px;
  height: 21px;
}
/*checkout_2_page*/
.checkout_2_page .checkout_wrapper {
  padding: 20px 30px;
}
.checkout_wrapper .addressbox .name{
  font-weight: bold;
  color: #151414;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  line-height: 1.7;
}
.checkout_wrapper .addressbox .number{
  margin-bottom: 5px;
}
.checkout_wrapper .addressbox .availability{
  font-size: 13px;
  margin-top:15px;
  color: #151414;
}
.checkout_wrapper .addressbox p,
.checkout_wrapper .plus_address a{
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
  color: #151414;
  color: #878787;
  line-height: 1.7;
}
.checkout_wrapper .addressbox .address,
.checkout_wrapper .addressbox .pincode{
  max-width: 250px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.checkout_wrapper .addressbox input{
  position: absolute;
  top: 14px;
  left: -21px;
}
.checkout_wrapper .addressbox .name span{
  float: right;
}
.checkout_wrapper .addressbook_footer > a {
  text-decoration: none;
  color: #878787;
  font-weight: bold;
}
.checkout_wrapper .addressbook_footer > a > i,
.account .account-address .aa-box-inner i {
  font-size: 10px;
  margin-top: -3px;
  display: inline-block !important;
}
.checkout_wrapper .addressbook_footer {
  padding-left: 0px;
  padding-top: 10px;
}
.checkout_2_page .checkout_wrapper .plus_address{
  text-align: center;
  margin-top: 10px;
} 
.checkout_2_page .checkout_wrapper .plus_address p{
  margin-top: 0px;
}
.checkout_wrapper .plus_address a >i{
  margin-bottom: 10px !important;
  font-weight: bold;
  font-size: 20px;
}
/*popup*/
.popup-addAddress,.popup-editAddress{
  overflow: auto;
}
.popup-addAddress .popup-close,
.popup-editAddress .popup-close{
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 17px;
  font-weight: lighter;
  color: #878787;
}
.popup-addAddress .item-content,.popup-editAddress .item-content{
  margin: 35px 0;
  border-bottom: 1px solid #878787;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px !important;
}
.popup-addAddress .item-content input,
.popup-editAddress .item-content input{
 color: #878787 !important;
}
.popup-addAddress .block-title,
.popup-editAddress .block-title{
  margin-left: 10px;
}
.popup-addAddress .block-title > label,
.popup-editAddress .block-title > label{
  font-weight: bold;
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
  color: #151414;
}
.popup-addAddress .block-heading,
.popup-editAddress .block-heading{
  font-weight: bold;
  font-size: 15px;
  font-family:  'Muli', sans-serif;;
  color: #151414;
  text-transform: uppercase;
  margin-top: -20px;
}
.popup-addAddress .block,
.popup-editAddress .block{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.popup-addAddress .item-input-wrap input,
.popup-editAddress .item-input-wrap input{
  font-size: .875rem;
  font-family:  'Muli', sans-serif;;
  max-width: 80%;
}
.popup-addAddress .item-floating-label,
.popup-editAddress .item-floating-label{
  color:151414 !important;
}
.popup-addAddress .save_address,
.popup-editAddress .save_address{
  width:100%;
  height: 40px;
  background-color: #151414;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none !important;
  font-family:  'Muli', sans-serif;;
  border-radius: 0px !important;
  border-color: #151414 !important;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
}
.popup-addAddress .save_address a:hover,
.popup-editAddress .save_address a:hover{
  background-color: #151414;
}
/*checkout_3*/
.checkout_3_page .checkout_wrapper{
  padding: 20px 30px;
}
.checkout_wrapper .payment_method{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.payment_method .payment_type{
  width: 172px !important;
  height: 58px !important;
  margin-left: auto;
  margin-right: auto;
}
.checkout_3_page .login_details .final_amount{
  display: flex;
  justify-content: center;
}
.login_details .final_amount > p{
  font-size: 15px;
  font-family:  'Muli', sans-serif;;
  color: #151414;
  line-height: 2.059;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.login_details .final_amount > p:nth-of-type(2){
  font-size: 15px;
  font-family:  'Muli', sans-serif;;
  color: #878787;
  line-height: 2.059;
  margin-left:8px;
}
.login_details .final_amount > .discount_percent{
  color: red !important;
  font-weight: bold;
}
.payment_method input[type="checkbox"][id^="cb"] {
  display: none;
}
.payment_method label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 172px !important;
  margin-left: auto;
  margin-right: auto;
}
label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  left: -12px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
:checked + label:before {
  content: "✓";
  background-color: black;
  transform: scale(1);
}
/*contact us*/
.contact .resp-container{
  position: relative;
  overflow: hidden;
  padding-top: 75.25%;
  margin: none;
}
.contact .resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.contact .locations h3{
  text-align: center;
  font-family: Cormorant !important;
  font-size: 24px;
  color: #151414;
}
.contact .locations .location_div{
  margin-left: auto;
  margin-right: auto;
  border-left: 2px solid #151414;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact .location_div .heading{
  font-family:  'Muli', sans-serif;;
  font-size: 15px;
  text-transform: uppercase;
  color: #151414;
  margin-top: -10px;
  font-weight: bold;
}
.contact .location_div .address{
  text-transform: capitalize;
}
.contact .location_div .address,
.contact .location_div .address2{
  font-family:  'Muli', sans-serif;;
  font-size: 15px;
  color: #878787;
  max-width: 325px;
  margin-top:10px;
}
 .location_div .address span,
 .location_div .address2 span{
  font-weight: bold;
  color: #151414;
  margin-right: 5px;
  text-transform: none;
}
.contact hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0.7px solid #e3e3e3 !important;
}
/*account main page*/
.md .accordion-list .account-menu:before{
 display: none !important;
}
.md .accordion-list .account-menu:after{
 display: none !important;
}
.account h2{
  font-family: Cormorant !important;
  font-weight: bold;
  color: #151414;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 25px;
}
/*account personal information*/
.account .account-address .list
{
  margin-top: 0px;
}
.account .personal_information{
  padding-top: 0px !important;
}
.account .personal_information .as-hero  .ah-image{
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right:auto;
}
.account .personal_information .as-hero  .ah-desc{
  margin-top: 10px;
  margin-left: 14px;
}
.account .personal_information .as-hero  label{
  color: #878787;
  font-weight: 500;
  font-size: 15px;
  font-family:  'Muli', sans-serif;;
}
.account .personal_information .as-hero  h3{
  font-family:  'Muli', sans-serif;;
  font-weight: 600;
  color: #151414;
  font-size:15px;
  text-transform: uppercase;
}
.account .personal_information .as-hero
{
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 20px 30px;
  text-align: center;
}
.account .personal_information .textboxHead,
.account .change_password .textboxHead{
  margin: 30px 0;
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
}
.account .personal_information .textboxHead > input,
.account .personal_information .drpdwn select,
.account .change_password .textboxHead > input,
.account .change_password .drpdwn select
{
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
  padding: 10px;
  width: 100%;
}
.account .personal_information ul,
.account .change_password ul{
  margin:10px;
}
.account .change_password ul{
  list-style: none;
  padding: 0;
  position: relative;
}
.account .personal_information li,
.account .change_password li
{
  padding-left: 0px !important; 
}
.account .change_password li{
  min-height: 48px;
}
.account .personal_information .drpdwn{
  padding-right: 0px;
}
.account .account_footer {
  background-color: #151414;
}
.account .account_footer .toolbar-inner a{
  color: #fff;
}
/*account address*/ 
.account .aa-box-inner:hover {
  border: 1px solid #151414 !important;
}
.account .account-address {
  padding-top: 0px !important;
}
.account .aa-box{
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 30px;
}
.account .account-address .aa-box h3{
  font-size: 13px;
  margin-bottom: 10px;
  font-family:  'Muli', sans-serif;;
  text-transform: capitalize;
  text-align: center;
}
.account .account-address .aa-box label{
  color: orange;
}
.account .account-address .aa-box .name{
  color: #151414;
  margin-bottom: 20px;
  font-weight: bold;
  font-family:  'Muli', sans-serif;;
  font-size: 14px;
}
.account .account-address .aa-box h5{
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
  color: #878787;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: normal !important;
  margin-top: 0px !important;
}
.account .account-address .aa-box h5 a{
  color: orange;
  text-decoration: none;
  float: right;
}
.account .account-address .aa-box .aa-box-inner{
  border: 1px solid #878787;
  background-color: #fff;
  padding: 10px 26px;
}
.account .account-address .aa-links-wrap .aal-edit{
  color: orange;
  text-decoration: none;
  margin-right:5px;
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
}
.account .account-address .aa-links-wrap .aal-delete {
  color:red;
  float: right;
  font-family:  'Muli', sans-serif;;
  font-size: 13px;
}
.account .account-address .add_address button,
.account .personal_information .update_address button,
.account .account-orders .load_more button,
.account .change_password .update_password button{
  border-radius: 0px !important;
  font-family:  'Muli', sans-serif;
  color: #fff;
  height: 52px;
  background: #151414 !important;
  border: 1px solid #151414 !important;
}
.popover-verifyotp .verify_block{
  border-bottom: 1px solid #e3e3e3 !important;
  margin-top: 5px;
  margin-bottom: 10px;
} 
.popover-verifyotp .verify_block p{
  font-family:  'Muli', sans-serif;;
  color: #151414;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
.popover-verifyotp .center p{
  font-family:  'Muli', sans-serif;;
  margin-bottom: 10px;
  font-size:13px;
  max-width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.popover-verifyotp .verify_block .popover-close{
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 14px;
  font-weight: lighter;
  color: #878787;
}
.popover-verifyotp form input{
  border: 1px solid #878787;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 35px;
  padding: 10px;
  color:#878787;
}
.popover-verifyotp form button{
  background-color: #151414 !important;
  border-radius: 0px !important;
  color:#fff !important;
  font-family:  'Muli', sans-serif;
}
/*account-orders*/
.account .account-orders .ao-box-pick{
  background-color: #fdfdfd;
  text-align: center;
  padding: 10px 0px;
  width: 100% !important;
}
.account .account-orders .aa-box h5{
  font-family:  'Muli', sans-serif;;
  font-size: 14px;
  color: #151414;
  margin-bottom: 15px;
  margin-top: 0px;
}
.account .account-orders .aob-link-box {
  padding: 0 10px;
}
.account .account-orders .ao-link,
.account .account-orders .ao-link_view{
  display: inline-block;
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  font-family:  'Muli', sans-serif;;
}
.account .account-orders .ao-link:after
{
  content: '|';
  display: inline-block;
  margin-left: 8px;
  margin-right: 4px;
  vertical-align: text-bottom;
}
.account .account-orders .ao-link_view:after{
  display: inline-block;
  margin-left: 8px;
  margin-right: 4px;
  vertical-align: text-bottom;
}
.account .account-orders .ao-link:nth-of-type(3):after,
.account .account-orders .ao-link_view:nth-of-type(3):after{
 display: none;
}
.account .account-orders .aob-footer {
  margin-top: 25px;
}
.account .account-orders  .aof-meta {
  width: 24.3%;
  float: left;
  background-color: #878787;
  border-right: 2px solid #fdfdfd;
  padding: 13px 0px;
}
.account .account-orders .aof-option,
.account .account-orders .aof-value {
  font-weight: 500;
  font-size:13px;
  color: #fdfdfd;
  text-transform: capitalize;
  line-height: normal;
  margin-bottom: 6px;
  font-family:  'Muli', sans-serif;;
}
.account .account-orders .aof-value{
  font-weight: bold;
}
.account .account-orders .ao-status-ship{
  color: orange;
}
.account .account-orders .ao-status-cancel{
  color: red;
}
/*account orders view*/
.account .account-address-view .account-orders-row{
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fdfdfd;
  padding: 20px 20px;
  margin-top: 20px;
}
.account .account-address-view .aw-image {
  float: left;
  margin-right: 30px;
}
.account .account-address-view .aw-image img{
  width:135px
  height:135px;
}
.account .account-address-view .aw-desc {
  float: left;
  margin-top: 10px;
}
.account .account-address-view .aw-d-title {
  font-family:  'Muli', sans-serif;;
  font-weight: 500;
  font-size: 13px;
  color: #151414;
  text-transform: capitalize;
  text-decoration: none;
  line-height: normal;
  display: block;
}
.account .account-address-view .aw-d-meta {
  margin-top: 7px;
  display: flex;
}
.account .account-address-view .aw-d-star {
  float: left;
  color: red;
  font-size:12px;
  margin-right: 12px;
}
.account .account-address-view .aw-d-review {
  font-size: 12px;
  font-weight: 400;
  color: #878787;
  text-decoration: none;
  font-family:  'Muli', sans-serif;;
  margin-left: 5px;
}
.account .account-address-view .aw-d-price {
  color: #151414;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family:  'Muli', sans-serif;;
}
.account .account-address-view .aw-d-btns a {
  color: #fff;
  text-transform: uppercase;
  font-size: .75rem;
  display: inline-block;
  text-decoration: none;
  font-family:  'Muli', sans-serif;;
}
.account .account-address-view .aw-d-btn-add{
  background-color: #151414;
  padding: 8px 17px;
  margin-right: 5px;
}
.account .account-address-view .aw-d-btn-remove {
  background-color: #878787;
  padding: 8px 17px;
  margin-right: 5px;
}
/*css files of sameer*/
/* Search*/
.search-page.chip_btns{
  margin:none !important;
  text-align:center !important;
}
.search-page .chip_row
{
    margin:13px 4px !important;
    text-align:center !important;
}
/* End Search*/
/* Brand page*/
.brand-page .brand-content .headings{
  margin: 0 !important;
  font-size: 14px  !important;
  font-weight: bold !important;
  font-family:  'Muli', sans-serif;;
  text-transform: uppercase;
  color: #151414;
}
.brand-page .brand-content p{
  margin-top: 5px;
  font-family:  'Muli', sans-serif;;
  font-size: 13px  !important;
  color: #878787;
  line-height: 1.706;
  text-align: justify;
}
.brand-page .brand_img
{
  height:40%;
  width:100%;
}
/* Empty_cart*/
.empty-cart-page .heading{
  margin:0px;
}
.empty-cart-page .heading h1{
  float: left;
  font-family: Cormorant !important;
  font-style: normal;
  color: #151414;
  text-transform: uppercase;
}
.empty-cart-page .heading p{
  float: right;
  font-size: 13px !important;
  color: #878787;
  font-family:  'Muli', sans-serif;;
  color: #878787;
  text-align: center;
  margin-top: 30px;
}
.empty-cart-page  hr{
  border: 1px solid #eee;
}
.empty-cart-page .empty_image{
  text-align:center !important;
  font-family:  'Muli', sans-serif;;
  margin:0px;
}
.empty-cart-page .empty_image {

}
.empty-cart-page .empty_cart_btn
{
  background-color: #151414;
  padding: 8px 17px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 24px ;
  border-radius: 0px !important;
  font-family: Open Sans,sans-serif !important;
}
.empty-cart-page .empty_image h2 {
  font-family: Open Sans,sans-serif !important;
  color: #151414;
}
.empty-cart-page .empty_image p{
   font-family: Open Sans,sans-serif !important;
  color: #151414;
}
/*SALE PAGE*/
.sale .new_arrivals .col-50{
  margin-left: auto;
  margin-right: auto;
}
/*New arrivals page*/
.new_arrivals .firstpart{
  margin-top: 37px;
}
.new_arrivals .thirdsection{
  margin-top: 0px;
}
.new_arrivals .firstpart .col-70{
  margin-left: auto;
  margin-right: auto;
}
.new_arrivals .firstpart .col-70 .text{
  margin-top: 30px;
}
.new_arrivals .thirdsection .col-70 .text{
  margin-top: 0px;
}
.new_arrivals .thirdsection .col-70 .text1{
  margin-top: 0px;
}
.new_arrivals .firstpart .col-70 .text1{
  text-align: center;
  font-size: 20px;
  font-family: Cormorant !important;
  color: #151414 !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
.new_arrivals .firstpart .col-70 .text2{
  font-size: 16px;
  font-family:  'Muli', sans-serif;
  color: #151414 !important;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.new_arrivals .firstpart .col-70 .Rectangle_633{
  margin-top: 30px;
  background-color:#151414;
  height: auto;
  max-width: 215px;
  margin-left: auto;
  margin-right: auto;
}
.new_arrivals .firstpart .View_Complete_Collection{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  color: #fff;
  line-height: 2.647;
  text-align: center;
  text-transform: uppercase;
}
.new_arrivals .secondpart{
  margin-top: -10px !important;
}
.new_arrivals .secondpart .col-50 .text{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.new_arrivals .secondpart .col-50 .text1{
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
  color: #151414;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.new_arrivals .secondpart .col-50 .text2{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  color: #878787 !important;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.new_arrivals .thirdsection .col-50{
  margin-bottom: 10px;
}
.new_arrivals .thirdsection .text2{
  margin-bottom: 25px;
}
/*Aboutus page*/
.aboutus .banner{
  position: relative;
  text-align: center;
}

.aboutus .abouttext,
.aboutus .core_values,
.aboutus .team,
.aboutus .join_us,
{
  line-height: 1.596;
}
.aboutus .team,
.aboutus .join_us,
.aboutus .evolution
{
  margin-top: 20px;
}
.aboutus .team h2,
.aboutus .join_us h2{
  margin-bottom: 0px;
}
.aboutus .core_values,
.aboutus .join_us{
  background-color: #fdfdfd;
  margin-top: 20px;
}
.aboutus .abouttext .text1,
.aboutus .core_values .text1,
.aboutus .team .text1,
.aboutus .join_us .text1,
.aboutus .evolution .text1
{
  color: #151414;
  font-size: 14px;
  font-family: Cormorant;
  font-weight: bold;
  word-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.aboutus .abouttext .text2, 
.aboutus .core_values .text2,
.aboutus .team .text2,
.aboutus .join_us .text2
{
  color: #878787;
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  word-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.aboutus .core_values .text2 .heading{
  font-weight: bold;
  color: #151414;
  margin-top: 0px;
}
.aboutus .abouttext .text2 p{
  margin-top: 0px;
}
.aboutus .team  .col-45{
  margin-left: auto;
  margin-right: auto;
}
.aboutus .join_us .Rectangle_633{
  margin-top: 30px;
  background-color: #151414;
  height: auto;
  max-width: 215px;
  margin-left: auto;
  margin-right: auto;
}
.aboutus .join_us .Rectangle_633 .View_openings{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  color: #fff;
  line-height: 2.647;
  text-align: center;
  text-transform: uppercase;
}
.aboutus .evolution .three_sections,
.aboutus .evolution .last_sections
{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.aboutus .evolution .last_sections{
  margin-top: 20px;
}
.evolution h2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}
.evolution_progress_leftside .single_item{
  max-width:200px;
  text-align: right;
  height:140px;
}
.evolution_progress_rightside .single_item{
  max-width: 200px;
  text-align: left;
  height: 140px;
}
.single_item p{
  font-size: 14px;
  font-family:  'Muli', sans-serif;;
  color: #151414;
  line-height: 1.333;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 8px;
}
.single_item p:nth-of-type(2){
  font-weight: normal;
  color:#878787;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 13px;
}
.evolution_progress_middle .circle_with_border{
  background-color: rgb(227, 227, 227);
  width:40px;
  height:40px;
  border-radius:50%;
  position: relative;
  border: 1px solid rgb(158, 158, 158);
  margin-left: 25px;
  margin-right:25px;
}
.circle_with_border .smalldot{
  background-color:#878787;
  width: 7px;
  height: 7px;
  border-radius:50%;
  position: absolute;
  top: 40%;
  left: 40%;
}
.evolution_progress_middle  .vertical_line{
  width: 1px;
  height:95px;
  background-color: rgb(210, 210, 210);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.aboutus .evolution .last_sections .single_item{
  max-width: 200px;
  text-align: center;
  height: 100px;
}
.evolution  .col-95 .single_item .last_one{
  max-width:200px;
}
/*TRACKING PAGE*/
.account-tracking .progressbar {
  height: 326px !important;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 50px;
  background-color: #fff !important;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.account-tracking .progressbar::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 5px !important;
  background: #777 !important;
  width: 5px !important;
  height: 100vh !important;
}
.account-tracking .progressbar li {
  background: #000 !important;
  border-radius: 100px !important;
  width: 15px !important;
  height: 15px !important;
  z-index: 1 !important;
  position: relative !important;
}
.account-tracking .progressbar li.active ~ li.deactive {
  background: #777 !important;
}
.account-tracking .progressbar li.active ~ li.deactive::after {
  height: 0 !important;
}
.account-tracking .progressbar li::after {
  content: "" ;
  position: absolute;
  bottom: 0;
  left: 5px;
  background: #000;
  width: 5px;
  height: 100vh;
}
.account-tracking .status_text{
  position: absolute;
  margin-left: 50px;
  top: -30%;
  width: 300px;
  height: 50px;
}
.account-tracking .status_text p{
  font-size: 13px;
  font-family:  'Muli', sans-serif;;
  color: black !important;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}
.account-tracking .status_text p:nth-of-type(2){
  font-size: 12px;
  color:grey !important;
  font-family:  'Muli', sans-serif;;
  font-weight: normal;
}
/**404 page**/
.four_O_four .top_image,
.four_O_four .categories{
  margin-top:20px;
}
.four_O_four .top_image .heading{
  font-family: 'Muli', sans-serif;",sans-serif;
  color: #151414;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-top: .625rem;
  text-transform: uppercase;
  margin-left: auto;
  margin-right:auto;
}
.four_O_four .top_image .descrptn{
  font-size: 16px;
  font-family: Cormorant !important;
  color: #151414;
  font-weight: bold;
  line-height: 1.607;
  text-align: center;
  word-spacing: 4px;
  margin-left: auto;
  margin-right:auto;
}
/*gifting*/
/*why choose kb*/
.gifting .features {
  background-color:#fcfcfc;
  height: auto;
  margin-top: -6px;
}
.gifting .Why_choose_KB_ {
  font-size: 25px;
  font-family: Cormorant !important;
  color: rgb(25, 25, 25);
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.gifting .box{
  margin-left:auto;
  margin-right: auto; 
  margin-bottom: 30px;
}
.gifting .box > img{
  width: auto;
}
.gifting .img-center {
  display: block;
  margin: 0 auto;
}
.gifting .features .decrptn {
  margin-top: 20px;
  max-width: 210px;
  margin-left: auto;
  margin-right: auto;
}
.gifting .decrptn p{
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: black !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*range of gifts*/
.gifting .Awesome_gifting_options {
  font-family: 'Muli', sans-serif;
  font-size:13px;
  color: #878787;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin:0px;
}
.gifting .Choose_from_our_wide_range_of_gifts {
  font-size:18px;
  font-family: Cormorant !important;
  color: #151414;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
/*Testimonials*/
.gifting .What_our_clients_say {
  font-size:18px;
  font-family: Cormorant !important;
  color: #151414;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}
.gifting .testimonails{
  margin-top: 40px;
}
.gifting .testimonails img{
  width:auto;
}
.gifting .testimonails .testimage > .image{
  justify-content: center;
}
.gifting .testimonails .text2{
  margin-bottom: 20px;
}
.gifting .testimonails .text1 .MD___ITC{
  margin-bottom: 0px;
}
.gifting .testimonail_text,
.gifting .testimonails .text1 {
  max-width:70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.gifting .testimonails .testimonail_text p{
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #878787 !important;
}
.gifting .Mr__Prakash_Jha {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: black !important;
  font-weight: bold;
  text-transform: uppercase;
}
.gifting .MD___ITC {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: black !important;
  font-weight: bold;
  text-transform: uppercase;
}
/*Personalized gifting*/
.gifting .personalised_pagination{
  bottom: 235px;
}
.gifting .prsnlzd_gifts .Personalised_gifting {
  font-family: 'Muli', sans-serif;
  font-size:13px;
  color: #878787;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin:0px;
}
.gifting .prsnlzd_gifts .Customise_you_gifts_as_per_your_need {
  font-size:18px;
  font-family: Cormorant !important;
  color: #151414;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
/*smallbox*/
.gifting .prsnlzd_gifts .Rectangle_841 {
  padding: 0px 20px 20px 20px;
}
.prsnlzd_gifts .Corporates {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: #151414;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.gifting .prsnlzd_gifts .Gift_your_employees_lorem_ipsum_dolor_sit_amet_ {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: #151414;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.gifting .prsnlzd_gifts .Starts_at_just_399 {
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: rgb(196, 57, 75);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.gifting .prsnlzd_gifts .Rectangle_842 {
  background-color:#151414;
  max-width: 255px;
  height: 65px;
  margin-left: auto;
  margin-right:auto;
}
.gifting .prsnlzd_gifts .customise_now {
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: white !important;
}
/*Social Impact*/
.gifting .socialimpact{
  padding: 0px !important;
}
.gifting .socialimpact .Social_impact {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  color: #151414 !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.929;
 }
.gifting .socialimpact .Rectangle_844 {
   background-color:white;
   padding: 5px 40px 20px 40px;
   text-align: center;
}
.gifting .socialimpact .Everyone_is_a_part_of_social_impact {
  font-size: 20px;
  font-family: Cormorant !important;
  color: black !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.464;
  margin-top: 0px;
  margin-bottom: 0px;
 }
.gifting .socialimpact .Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
  margin-top: 20px;
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color:#878787;
  line-height: 1.563;
  max-width: 100%;
  margin-bottom: 0px;
 }
.gifting .socialimpact .Lorem_ipsum_dolor_sit_amet__consectetur_adipisc:nth-of-type(even){
  margin-top: 15px;
 }
 /**call back**/
.gifting .call_back{
  margin-top:0px !important;
 }
.gifting .call_back .Rectangle_845 {
  background-color: #151414;
  width: auto;
  height: auto;
  padding: 30px 40px 30px 40px;
}
.gifting .call_back .WANT_US_TO_CALL_YOU_BACK_ {
  margin-top:0px;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.gifting .call_back .Etiam_tincidunt_lorem_orci__eget_congue_eros_al {
  margin-top: 20px;
  font-size: 20px;
  font-family: Cormorant !important;
  color: white !important;
  text-align: center;
}
.gifting .call_back .Rectangle_846 {
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  height: 81px;
  margin-left: auto;
  margin-right: auto;
}
.gifting .call_back .Request_a_call_back {
  padding-top: 25px;
  text-align: center;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: black !important;
}
/********Gift card******/
.gifting_card .card_graphics{
  margin-top:20px;
}
.gifting_card .text_and_form .text{
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.gifting_card .text_and_form .text .bold{
  font-size: 14px;
  color: #151414 !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.714;
  margin-bottom: 0px;
  font-family: 'Muli', sans-serif;
}
.gifting_card .text_and_form .text >h1{
  font-size: 28px;
  color: #151414;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.607;
  margin-top: 5px;
  font-family: Cormorant !important;
}
.gifting_card .text_and_form .text .normal{
  font-size: 16px;
  color: #878787;
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
}
.gifting_card .text_and_form form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
.gifting_card .text_and_form form h2{
  font-size: 14px;
  color: #151414;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin-top: 20px;
  margin-bottom: 0px;
}
.gifting_card form .jj{
  display: flex;
}
.gifting_card form .jj .box p{
  font-size: 14px;
  color: #878787;
  line-height: 1.5;
  font-family: 'Muli', sans-serif;
  margin-bottom: 10px;
  max-width: 70%;
}
.gifting_card form .jj .box{
  width: 50%;
}
.gifting_card form .jj .full-width{
  width:100% !important;
}
.gifting_card .adjust_top{
  margin-top:15px;
}
.gifting_card form .jj .full-width input{
  width: 99% !important;
}
.gifting_card form .jj .box input{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(202, 202, 202);
  background-color: rgba(0, 0, 0, 0);
  width: 97%;
  height: 54px;
  font-size: 13px;
  color: #878787;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Muli', sans-serif;
}
.gifting_card form button{
  background-color: rgb(40, 40, 40);
  width: 99% !important;
  height: 74px;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.5;
  border-color:#151414;
}
.gifting_card button:active,button:focus{
  outline:none;
}