
.artisan-collection-slider {
  .slide {
    .slide-content {
      width: rem(170px);
      margin: 0 auto;
      .slide-img {
        display: inline-block;
        width: 100%;
      }
      .title {
        display: inline-block;
        margin-top: $half-unit-layout;
        font-size: rem(17px);
        font-family: $ff-playfair-display;
      }
      .sub-title, .view-range {
        font-weight: 300;
        line-height: rem(28px);
        font-size: rem(14px);
        display: block;
      }
      .view-range {
        color: $brand-color;
        margin-top: $unit-layout*1.25;
        font-weight: 400;
        .fa-caret-right {
          font-size: rem(14px);
          display: inline-block;
          margin-left: $half-unit-layout;
        }
      }
      .slide-footer {
        text-align: center;
      }
    }
  }
  .slick-arrow {
    color: black;
    position: absolute;
    top: 25%;
    font-size: 23px;
    z-index: 100;
  }
  .slick-slide {
    opacity: 0.4;
    transition: opacity 1s;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-prev:before, .slick-next:before {
    color: $brand-color;
  }
  .slide-back {
    left: -30px;
  }
  .slide-next {
    right: -30px;
  }
}

@include respond-to(medium) {
  .artisan-collection-slider {
    .slide {
      .slide-content {
        .view-range {
          font-weight: 300;
        }
        .slide-footer {
          text-align: left;
        }
      }
    }
    .slick-slide {
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
