// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  outline: none;
  font-size: rem(14px);
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover, &:active, &:focus, 
  &:hover:focus, &:hover:active,
  &:focus:active, &:focus:hover,
  &:active:hover, &:active:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-primary {
  background-color: $brand-color;
  border-color: $brand-color;
  transition: all 0.5s;
  padding: 0;
  text-decoration: none;
  width: rem(190px);
  height: rem(45px);
  line-height: rem(45px);
  display: inline-block;
  text-align: center;
  &:hover, &:active, &:focus, 
  &:hover:focus, &:hover:active,
  &:focus:active, &:focus:hover,
  &:active:hover, &:active:focus{
    background-color: $brand-color;
    border-color: $brand-color;
    opacity: 0.8;
    text-decoration: none;
  }
}

.btn-pink {
  background-color: #f05d5e;
  border-color: #f05d5e;
  transition: all 0.5s;
  padding: 0;
  &:hover, &:active, &:focus {
    background-color: #f05d5e;
    border-color: #f05d5e;
    opacity: 0.8;
  }
}

.btn-white {
  background-color: white;
  border-color: white;
  transition: all 0.5s;
  padding: 0;
  color: $text-color-dark;
  &:hover, &:active, &:focus {
    background-color: white;
    border-color: white;
    opacity: 0.8;
  }
}

.btn-orange {
  background-color: $orange-color;
  border-color: $orange-color;
  transition: all 0.5s;
  padding: 0;
  color: white;
  width: rem(140px);
  height: rem(40px);
  line-height: rem(40px);
  text-align: center;
  &:hover, &:active, &:focus {
    background-color: $orange-color;
    border-color: $orange-color;
    color: white;
    opacity: 0.8;
  }
}

.btn-black {
  background-color: black;
  border-color: black;
  transition: all 0.5s;
  padding: 0;
  color: white;
  width: rem(140px);
  height: rem(40px);
  line-height: rem(40px);
  &:hover, &:active, &:focus {
    background-color: black;
    border-color: black;
    color: white;
    opacity: 0.8;
  }
}

.btn-border {
  background-color: transparent;
  border: rem(2px) solid white;
  color: white;
  transition: all 0.5s;
  padding: 0;
  height: rem(45px);
  width: 100%;
  line-height: rem(45px);
}

.btn-border-pink {
  border-width: rem(2px);
  border: rem(2px) solid #f05d5e;

  &:hover, &:active, &:focus {
    background-color: #f05d5e;
    color: $white-color;
  }
}

.btn-border-orange {
  border-width: rem(2px);
  border: rem(2px) solid $orange-color;
  color: $orange-color;

  &:hover, &:active, &:focus {
    background-color: $orange-color;
    color: $white-color;
  }
}

.btn-border-primary {
  border-width: rem(2px);
  border: rem(1px) solid $brand-color;
  color: $brand-color;

  &:hover, &:active, &:focus {
    background-color: $brand-color;
    color: $white-color;
  }
}
