.currency-dropdown {
  display: inline-block;
  vertical-align: top;
  margin-top: $unit-layout;
  .dropdown-toggle {
    min-width: rem(66px);
    height: rem(34px);
    line-height: rem(34px);
      span {
        display: inline-block;
        margin-left: $quarter-unit-layout;
        vertical-align: middle;
        color: $brand-color;
      }
  }
  .dropdown-menu {
    min-width: rem(85px);
    li {
      cursor: pointer;
    }
    .active {
      display: none;
    }
    .text {
      font-size: rem(14px);
      display: inline-block;
      height: rem(34px);
      line-height: rem(34px);
      text-align: center;
      width: 100%;
    }
  }
}


@include respond-to('small-2') {
  .currency-dropdown {
    margin-left: $unit-layout;
    .dropdown-toggle, .dropdown-menu {
      min-width: rem(85px);
    }
  }
}
