.hero-slider {
  .slide {
    .slide-frame {
      background-size: cover;
      height: rem(300px);
      background-position: center center;
      width: 100%;
      display: table;
      .slide-content{
        display: table-cell;
        vertical-align: middle;
        .container {
          max-width: rem($lg-container);
        }
        .btn {
          width: rem(170px);
          height: rem(40px);
          line-height: rem(40px);
          text-transform: uppercase;
          font-size: rem(20px);
          font-weight: 300;
          margin-top: $unit-layout;
        }
        h1 {
          color: white;
          font-family: $ff-playfair-display;
        }
        h5 {
          font-weight: 300;
          color: white;
        }
      }
    }
  }
  .slick-dots {
    bottom: rem(10px);
  }
  .slick-dots li button:before {
    font-size: rem(16px);
    color: white;
    opacity: 1;
  }  
  .slick-dots li button:hover:before, .slick-dots li button:focus:before {
    color: $brand-color;
  }
  .slick-dots li.slick-active button:before {
    color: $brand-color;
  }
}


@include respond-to(medium) {
  .hero-slider {
    .slide {
      .slide-frame {
        height: rem(460px);
      }
    }
  }
}
