// -----------------------------------------------------------------------------
// This file contains all styles related to the main search.
// -----------------------------------------------------------------------------

.kbsearch {
  max-width: rem(430px);
  height: rem(45px);
  border: 2px solid $light-grey;
  input {
    border: 0;
    width: 85%;
    height: 100%;
    font-weight: 300;
    font-size: rem(13px);
    padding-left: 10px;
    color: $text-color-dark;
  }
  .search-btn {
    width: 15%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    line-height: rem(40px);
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    svg {
      margin: rem(5px) auto;
      pointer-events: none;
      display: block;
    }
  }
}
