.masonary-gallery {
  .gallery-item {
    position: relative;
    width: 98%;
    margin: 0 1%;
    display: inline-block;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
    &:hover .gallery-item-content {
      display: none;
    }
    &:hover .overlay {
      top: 0;
    }
    .gallery-item-content {
      display: table;
      height: 100%;
      width: 100%;
      text-align: center;
      .name {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-family: $ff-playfair-display;
        font-weight: 700;
      }
    }
    .overlay {
      display: table;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      background-color: rgba(175, 127, 97, 0.5);
      -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
      .overlay-content {
        display: table-cell;
        vertical-align: middle;
        .name {
          color: white;
          display: inline-block;
          line-height: $unit-layout;
          font-family: $ff-playfair-display;
          font-weight: 700;
          &:after {
            content: '';
            display: inline-block;
            width: 130%;
            margin-left: -15%;
            border-top: 1px solid white;
          }
        }
        .excerpt {
          color: white;
          padding: $unit-layout*1.25;
        }
        .shop-now {
          width: rem(160px);
          height: rem(45px);
          line-height: rem(45px);
          display: block;
          margin: 0 auto;
          margin-top: $unit-layout;
        }
      } 
    }

  }
  .left-col, .right-col {
    .gallery-item {
      height: rem(400px);
      background-position: center center;
    }
  }
  .center-col {
    .gallery-item {
      background-position: center bottom;
      height: rem(188px);
      .excerpt {
        display: none;
      }
    }
  }
}


@include respond-to(medium) {
  .masonary-gallery {
    .gallery-item {
      &:hover .overlay {
        top: 0;
      }
      .gallery-item-content{
        display: table;
      }
      .overlay {
        top: 100%;
      }
    }
    .center-col {
      .gallery-item:first-child {
        margin-bottom: rem(8px);
      }
      .gallery-item:last-child {
        margin-top: rem(8px);
      }
    }
  }
}
