.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    //display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#mega-menu {
  background-color: white;
  .menu-toggle {
    display: block;
  }
  .navbar-nav {
    > li {
      > a {
        color: $text-color-dark;
        background-color: $white-color;
        font-weight: 500;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
  #shop-by-menu {
    .navbar-nav {
      > li {
        &:last-child {
          > a {
            color: $pantone-color;
          }
          > a:hover {
            color: $pantone-color;
          }
        }
      }
    }
    .navbar-collapse {
      background-color: white;
    }
    .dropdown-menu.multi-level {
      > .dropdown-submenu {
        &:hover {
          .dropdown-menu {
            //display: block;
          }
        }
        > ul {
          > li {
            &:first-child {
              padding-left: 40px;
              ul {
                list-style-type: none;
              }
            }
            &:last-child {
              display: none;
              ul {
                list-style-type: none;
              }
            }
            .sub-submenu {
              ul {
                li {
                  a {
                    font-weight: 300;
                    padding: $quarter-unit-layout 0;
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
      > .dropdown-submenu > a {
        &:after {
          display: none;
        }
        span:first-child {
          display: inline-block;
          width: 95%;
          vertical-align: top;
        }
        .fa-angle-right {
          line-height: rem(21px);
          font-size: rem(21px);
        }
      }
    }
  }
  #services-menu {
   
  }
} 



@include respond-to('large-only') {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding: 10px 0;
      padding-left: 20px;
  }
  .collapse.in{
      display:block !important;
  }

  #mega-menu {
    .navbar-nav {
      > li {
        border-top: 1px solid $light-grey;
        > .fa-angle-right {
          position: absolute;
          left: -8px;
          z-index: 10;
          font-size: rem(21px);
          top: 8px;
          transition: left 0.5s;
        }
        &:hover {
          > .fa-angle-right {
            left: 8px;
            display: inline;
          }
        }
      }
    }
    #shop-by-menu {
      .dropdown-menu.multi-level {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        padding: 0;
        > .dropdown-submenu {
          border-top: 1px solid $light-grey;
          > ul {
            margin-top: 0 !important;
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
          }
          > a {
            padding: 10px 0px;
            padding-left: 30px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

/* custom style */
@include respond-to(large) {
    #mega-menu {
      margin-bottom: 0;
      background-color: $white-color;
      border: 0;
      border-radius: 0;
      .container{
        padding: 0;
        max-width: 100%;
        width: 100%;
      }
      .menu-toggle {
        display: none;
      }
      .navbar-nav {
        > li {
            > .fa-angle-right {
              display: none;
          }
          &:hover {
            > .fa-angle-right {
              display: none;
            }
          }
        }
      }
      #shop-by-menu {
        .navbar-collapse {
          border-top: 1px solid $light-grey;
          border-bottom: 1px solid #ededed;
        }
        .navbar-nav {
          width: 100%;
          padding: 0;
          margin: 0;
          > li {
            line-height: rem(43px);
          }
        }
        .navbar-nav > li {
          position: static;
          width: 10%;
          text-align: center;
          height: 100%;
          vertical-align: top;
          > a {
            color: $text-color-dark;
            font-size: rem(12px);
            text-transform: uppercase;
            height: 100%;
            vertical-align: middle;
            display: block;
            width: 100%;
            min-height: inherit;
            padding: $unit-layout rem(5px);
            border-bottom: 2px solid transparent;
          }
          &.active, &.open {
            > a {
              border-bottom: 2px solid $brand-color;
              color: $brand-color;
            }
          }
          &:hover, &:active, &:focus {
            > a {
              border-bottom: 2px solid $brand-color;
              color: $brand-color;
            }
            > .dropdown-menu.multi-level {
              display: block;
            }
          }
          &:last-child:hover {
            > a {
              border-bottom: 2px solid $pantone-color;
            }
          }
        }
        .dropdown-menu.multi-level {
          width: 100%;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          top: auto !important;
          padding: 30px 0;
          border: 0;
          border-radius: 0;
          overflow: hidden;
          border-top: 1px solid $light-grey;
          > .dropdown-submenu {
              margin-bottom: 20px;
              display: block;
              > ul {
                width: 80%;
                float: right;
                left: 20%;
                margin: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 0;
                border: 0;
                padding: 0;
                li {
                  line-height: normal;
                }
                > li {
                  &:first-child {
                    width: 60%;
                    float: left;
                    padding-left: rem(50px);
                  }
                  &:last-child {
                    width: 40%;
                    float: left;
                    display: block;
                  }
                }
                .sub-submenu {
                  width: 50%;
                  float: left;
                  list-style-type: none;
                  padding-bottom: $unit-layout;
                  &:nth-of-type(2n+1) {
                    clear: left;
                  }
                  ul {
                    list-style-type: none;
                    > li > a {
                      font-weight: 300;
                    }
                  }
                  .sub-submenu-title {
                    display: inline-block;
                    text-decoration: none;
                    margin: $unit-layout * 0.5 0;
                  }
                }
              }
           }
          > .dropdown-submenu > a {
            width: 20%;
            float: left;
            padding: 20px !important;
            font-size: rem(15px);
            font-weight: 300;
            &:hover, &:active, &:focus {
              background-color: $brand-color;
              color: $white-color !important;
              background-image: none;
              display: block;
            }
            &:after {
              display: none;
            }
            span:first-child {
              display: inline-block;
              width: 85%;
            }
            .fa-angle-right {
              color: $white-color;
              line-height: rem(21px);
              font-size: rem(16px);
            }
          }
        }
      }
      .offer-box {
        .offer {
          width: 50%;
          float: left;
          .offer-heading {
            padding: $unit-layout * 0.5 0;
            span {
              font-size: rem(14px);
            }
          }
        }
      }
    }

  .active-submenu {
    background-color: $brand-color !important;
    color: $white-color !important;
    background-image: none;
  }

}

@include respond-to(large-only) {
  #mega-menu {
    #shop-by-menu {
      .dropdown-menu.multi-level {
        > .dropdown-submenu {
          > ul {
            > li {
              &:first-child {
                width: 70%;
              }
              &:last-child {
                width: 30%;
              }
            }
          }
        }
      }
    }
    .offer-box {
      .offer {
        width: 100%;
      }
    }
  }
}


@include respond-to('large-2') {
  #mega-menu {
    #shop-by-menu {
      .navbar-nav {
        > li {
          line-height: normal;
          min-height: auto;
          margin-bottom: -1px;
        }
      }
    }
  }
}


@include respond-to('medium-only') {
  #mega-menu {
    .navbar-nav {
      > li {
        border-top: 1px solid $light-grey;
        > .fa-angle-right {
          top: 10px;
        }
      }
    }
  }
}
