.number-input {
  height: rem(34px);
  overflow: hidden;
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      appearance: none;
      margin: 0; 
  }
  input[type="number"] {
    border: 0;
    width: 85%;
    float: left;
    -moz-appearance: textfield;
    background-color: $approx-snow-color;
  }
  .counter {
    height: rem(34px);
    position: relative;
    width: 15%;
    float: left;
    text-align: center;
    cursor: pointer;
    background-color: $approx-snow-color;
    .fa {
      display: block;
      vertical-align: top;
      width: 100%;
      border-left: 0;
    }
    .fa:first-child {
      border-bottom: 0;
      position: absolute;
      top: 0;
    }
    .fa:last-child {
      position: absolute;
      bottom: 0;
      border-top: 0;
    }
  }
}
