.selector, .white-selector {
  position: relative;
  border: 1px solid $mid-grey;
  height: rem(34px);
  overflow: hidden;
  width: rem(170px);
  .arrow {
    position: absolute;
    height: rem(34px);
    width: rem(34px);
    line-height: rem(34px);
    text-align: center;
    right: 0;
    border-left: 1px solid $mid-grey;
    z-index: 1;
  }
  select {
    background: rgba(0,0,0,0);
    z-index: 2;
    position: absolute;
    background: transparent;
    font-size: rem(14px);
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: rem(34px);
    -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
    width: 100%;
    max-width: 100%;
    padding-left: $half-unit-layout;
  }
  select::-ms-expand {
    display: none !important;
  }
}

.white-selector {
  .arrow {
    border-left: 0;
    text-align: right;
    background-color: $white-color;
    width: 100%;
    span {
      display: block;
      height: rem(34px);
      width: rem(34px);
      line-height: rem(34px);
      text-align: center;
      float: right;
      border-left: 1px solid $mid-grey;
    }
  }
}
