.story-view1 {
  background-color: $approx-snow-color;
  img {
    width: 100%;
  }
  .desc {
    padding: rem(20px);
    h5 {
      font-family: $ff-playfair-display;
      font-weight: 700;
      color: $text-color-dark;
      margin-bottom: $unit-layout;
    }
    p {
      font-weight: 300;
    }
    .read-more {
      padding-top: $unit-layout * 1.5;
      color: $brand-color;
      display: inline-block;
    }
  }
}
