.story-view2 {
  margin-top: $unit-layout * 1.875;
  display: inline-block;
  width: 100%;
  .overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: $unit-layout * 1.25;
    width: 100%;
    h6 {
      color: white;
      font-family: $ff-playfair-display;
      font-weight: 700;
      line-height: 1;
    }
  }
  a {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
    }
  }
}


@include respond-to(medium) {
  .story-view2 {
    margin: $unit-layout * 1.875 0;
    text-align: left;
    margin-top: 0;
  }
}


@include respond-to(large) {
  .story-view2 {
    a {
      height: (233px);
    }
    img {
      height: 100%;
    }
  }
}
