.testimonial-slider {
  margin: $unit-layout * 1.25 0;
  .testimony {
    background-color: $approx-snow-color;
    max-width: rem(350px);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    .testimony-image {
      width: 100%;
    }
    .desc {
      padding: $unit-layout * 1.25;
      .name{
        font-size: rem(15px);
        display: block;
        color: $text-color-dark;
      }
      .from {
        font-size: rem(15px);
        display: block;
        color: #7f7f7f;
      }
      p {
        font-weight: 300;
        margin-top: $unit-layout;
      }
    }
  }
  .slick-dots {
    bottom: -40px;
    li button:before {
      font-size: 12px;
    }
  }

}


@include respond-to(medium) {
  .testimonial-slider {
    .testimony {
      max-width: rem(270px);
      width: 100%;
      .testimony-image {
        width: auto;
        height: rem(95px);
      }
    }
    .slick-dots {
      bottom: -60px;
    }
  }
}
