/*Bread_crumb*/
.Bread_crumb {
  margin: 0 !important;
}
.Bread_crumb > .path > .productbreadcrumb{
  background-color: $red-color !important;
}
.Bread_crumb > .path > .productbreadcrumb > li > a{
  color: $grey;
  font-family:$ff-open-sans;
  font-size: rem(12px);
}
.productbreadcrumb > li > a:hover{
  text-decoration: none;
}
.productbreadcrumb > .breadcrumb-item:last-of-type{
  font-weight: bold;
}