.gift-card-form {
  > p {
    padding: $half-unit-layout 0;
  }
  form {
    width: 100%;
    .form-group {
      .form-control {
        width: 100%;
        max-width: rem(300px);
        height: rem(40px);
        float: left;
        border-radius: 0;
        background-color: $approx-snow-color;
        margin-right: $unit-layout;
      }
      button {
        float: left;
        width: 100%;
        max-width: rem(200px);
        height: rem(40px);
        line-height: rem(40px);
        font-size: rem(15px); 
        border-radius: 0;
      }
    }
  }
}
