/*loginpopup*/
.login_body{
  padding: 0;
}
.login_body>div>.modalLoginMain{
  padding: 0; 
}
.modalLoginMain>.modalLoginMainD2{
    margin-top:rem(30px);
    padding-left: rem(15px);
    padding-right: rem(15px);
}
.modalLoginMainD1{
  padding: 0;
  background: $brand-color;
}
.modalLoginMainD1 > img {
    width: 100%;
}
.modalLoginMainD1 > h2 {
    font-size: 18px;
    font-family: $ff-open-sans;
    margin: 0;
    padding: 20px 0px;
    color: #fff;
    text-align: center;
}
.modalLoginMainD1 > h4 {
    color: white;
    text-align: center;
    padding: 0 20px;
    margin: -5px 0 15px 0;
    font-family: $ff-open-sans;
}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    border: 0px !important;
}
.modalLoginClose {
    margin-top: rem(-2px);
    margin-right: rem(-2px);
    position: fixed;
    top: 0px;
    right: 7px;
    font-size: 35px;
    font-weight: lighter;
    z-index: 99999;
}
.textboxHead
{
    margin: 50px 0;
    border-bottom: 1px solid grey;
    position: relative;
}
.textboxHead>.textboxes
{
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: $ff-open-sans;
    font-size: rem(15px);
}
.modalLoginMainD2{
    height: 400px;
    overflow: auto;
}
.modalLoginMainD2>.textboxHead>a{
    float: right; 
    margin-right: rem(5px);
    font-family:$ff-open-sans;
    color: $red-color; 
    position: absolute;
    top: 4px;
    right: 0px;
    font-weight: bold;
    font-size: rem(15px);
}
.modalLoginMainD2>.login_and_signup{
    display: flex;
}
.modalLoginMainD2>.login_and_signup > .btnlogin_and_register{
    width: 50%;
    margin-right:rem(5px);
    margin-left:rem(5px);
}
.modalLoginMainD2>.login_and_signup > .btnlogin_and_register,
.modalLoginMainD2>.btn_connect
{
    background: $brand-color;
    color: $white-color;
    padding: 15px 0 ;
    font-family: $ff-open-sans;
    font-size:rem(15px);
    border-spacing: 0;
    border: none;
    text-transform: uppercase;
}
.modalLoginMainD2>.btn_connect{
    margin-top: rem(30px);
    background: #4267b2;/*facebook color*/
    width: 100%;
}