.search-tag-buttons{
	display:flex;
    float: left;
}
.search-tag-buttons .wrapper_for_button{
  margin-right: 10px;
}
.wrapper_for_button > input[type=text] {
    font-family: $ff-open-sans;
    font-size: rem(14px);
    color: $grey;
    height: rem(42px);
    line-height: 38px;
    border: 3px solid #e3e3e3;
    text-transform: capitalize;
    cursor: pointer;
    background-color: $white-color;
    padding: 0px 10px;
    width: rem(300px);
}
.search-tag-buttons .btn-black{
    width:rem(120px);
    height: rem(42px);
    margin-left:rem(10px);
}