.similar_products_slider {
  .slide {
    .slide-content {
      width: rem(253px);
      height: auto;
      margin: 0 auto;
      .slide-img {
        display: inline-block;
        width: 100%;
      }
      .title {
        display: inline-block;
        margin-top: $half-unit-layout;
        font-size: rem(17px);
        font-family: $ff-playfair-display;
      }
      .sub-title, .view-range {
        font-weight: 300;
        line-height: rem(28px);
        font-size: rem(14px);
        display: block;
      }
      .view-range {
        color: $brand-color;
        margin-top: $unit-layout*1.25;
        font-weight: 400;
        .fa-caret-right {
          font-size: rem(14px);
          display: inline-block;
          margin-left: $half-unit-layout;
        }
      }
    }
  }
  .slick-arrow {
    color: black;
    position: absolute;
    top: 40%;
    font-size: 23px;
    z-index: 100;
  }
  .slick-slide {
    opacity: 0.4;
    transition: opacity 1s;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-prev:before, .slick-next:before {
    color: $brand-color;
  }
  .slide-back {
    left: -30px;
  }
  .slide-next {
    right: -30px;
  }
}

@include respond-to(medium) {
  .artisan-collection-slider {
    .slide {
      .slide-content {
        .view-range {
          font-weight: 300;
        }
        .slide-footer {
          text-align: left;
        }
      }
    }
    .slick-slide {
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
.slide-content .product_text{
  font-size: rem(14px);
  font-family: $ff-open-sans;
  color:  $brand-color;
  line-height: 1.529;
  text-align: center;
  margin: 15px 0 8px;
  max-width: 219px;
  margin-left: auto;
  margin-right: auto;
}
.slide-content center{
  max-width: 219px;
  margin-left: auto;
  margin-right: auto;
  color:$grey;
}
.slide-content .product_text > center > .price{
  font-size: rem(14px);
  color: $brand-color;
  font-family: $ff-open-sans;
  font-weight:bold;
  margin-right: rem(5px);
}
.slide-content .product_text > center > strike{
  font-size: rem(13px);
  color: $grey;
  font-family: $ff-open-sans;
  margin-right: rem(5px);
}
.slide-content .product_text > center > .discount{
  font-size: rem(13px);
  color: $grey;
  font-family: $ff-open-sans;
  color:$red-color;
}