extends ./layouts/404.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block four_o_four_content
  main.four_o_four
    .container.go_to_homeage
      .row
        .col-lg-12.col-md-12
          img(src="images/404_banner.png").img-responsive
          p.heading oops!
          p.descrptn Lorem ipsum dolor sit amet, duo graeco mandamus in, ea usu mucius doming. Ea audire scriptorem sit, nulla iriure pro id.
      .row.products
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          a( href="https://www.kashmirbox.com/exotic-foods/healthy-living-exotic-foods-dry-fruits")
            img(src="images/product_for_404.png" alt="image").img-responsive          