extends ./layouts/aboutus.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block about_content
  main.aboutus
    .container_fluid
      .row
        .col-lg-12.col-md-12.padding-0.banner
          a(href="https://www.kashmirbox.com/christmas-offers-2018/")
            img(src="images/aboutus.png" alt="Banner").img-responsive
            h2.about_text1 Many Hearts, one beat
    //-abouttext
    .container
      .row.abt_text
        .col-lg-4.col-md-4
          h2 Lorem ipsum dolor sit amet, pro id dicit principes libris semper pro id dicit principes libris semper.
        .col-lg-8.col-md-8
          p  Lorem ipsum dolor sit amet, pro id dicit principes. Libris semper disputando sea et, diam convenire in vel. Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri. Te tantas integre eam, pro in ullum doctus, iracundia definitionem duo te. Ad dicam aliquip forensibus est, aperiam facilis ut nec. Vix legere persius corpora no.
          p Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri. Te tantas integre eam, pro in ullum doctus, iracundia definitionem duo te. Ad dicam aliquip forensibus est, aperiam facilis ut nec. Vix legere persius corpora no. Qui mutat tation scripserit id.Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri.
    //-evolution
    .container
      .row.evolution
        h3 continuous evolution
        .col-lg-12.col-md-12
          //-firstone
          .evolution_progress_leftside
            //-firstone
            .single_item
              p 
              p
            //-second   
            .single_item.text
              p 2013-2014
              p Lorem ipsum dolor sit amet, pro id dicit principles
            //-third  
            .single_item
              p 
              p  
            //-fourth
            .single_item
              p 2017-2018
              p Lorem ipsum dolor sit amet, pro id dicit principles
            //-fifth
          //-middleone     
          .evolution_progress_middle
            //-firstone
            .circle_with_border
              .smalldot
            .vertical_line
            //-second  
            .circle_with_border
              .smalldot
            .vertical_line
            //-third   
            .circle_with_border
              .smalldot
            .vertical_line
            //-fourth
            .circle_with_border
              .smalldot
            .vertical_line
            //-fifth
            .circle_with_border
              .smalldot      
          .evolution_progress_rightside
            .single_item
              p 2011-2012
              p Lorem ipsum dolor sit amet, pro id dicit principles
            .single_item
              p 
              p
            .single_item
              p 2015-2016
              p Lorem ipsum dolor sit amet, pro id dicit principles
        .col-lg-12.col-md-12
          .single_item
              p 2011-2012
              p.last_one Lorem ipsum dolor sit amet, pro id dicit principles            
    //-corevalues
    .section.corevalues.padding-0
      .container
        .row.core_values
          h2 Our core values
          .col-lg-4.col-md-4
            h3 empowerment
            p Lorem ipsum dolor sit amet, pro id dicit principes. Libris semper disputando sea et, diam convenire in vel. Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri.
          .col-lg-4.col-md-4
            h3 creating delight
            p Lorem ipsum dolor sit amet, pro id dicit principes. Libris semper disputando sea et, diam convenire in vel. Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri.
          .col-lg-4.col-md-4
            h3 KB'ISM
            p Lorem ipsum dolor sit amet, pro id dicit principes. Libris semper disputando sea et, diam convenire in vel. Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri.        
    //-team      
    .container
      .row.team_text
        .col-lg-4.col-md-4
          h2 The team behind Kashmir Box.
        .col-lg-8.col-md-8
          p  Lorem ipsum dolor sit amet, pro id dicit principes. Libris semper disputando sea et, diam convenire in vel. Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri. Te tantas integre eam, pro in ullum doctus, iracundia definitionem duo te.
      .row.abt_members
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          img(src="images/1.png" alt="member").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          img(src="images/1.png" alt="member").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          img(src="images/1.png" alt="member").img-responsive
        .col-lg-3.col-md-3.col-sm-3.col-xs-6
          img(src="images/1.png" alt="member").img-responsive  
    //-joinus           
    .section.joinus.padding-0
      .container
        .row.join_us
          .col-lg-12.col-md-12
            h2 Join us
            p Lorem ipsum dolor sit amet, pro id dicit principes. Libris semper disputando sea et, diam convenire in vel. Scaevola eleifend ad usu, est ne purto dicant admodum, cu zril veritus ullamcorper pri.
            button
              a(href="careers.html") view openings