extends ./layouts/account.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block account_content
  main.account
    include ./components/breadcrumb.pug
    ol.breadcrumb.productbreadcrumb
      li.breadcrumb-item
        a(href="#")
          span.fa.fa-home
      li.breadcrumb-item
        a(href="#") Account
      li.breadcrumb-item
        a(href="#") Personal Informatiom
    .container-fluid
      .row
        .col-lg-3.col-md-3.overview
          include ./components/account.pug
        .col-lg-9.col-md-9.personal_info
          h2 Personal Information
          .account-body-inner
            .form(method="post" action="#").apinfo-form
              .apinfo-form-row
                .apinfo-form-desc
                  label Name
                .apinfo-form-input
                  input(type="text" name="a_pi_name")
              .apinfo-form-row
                .apinfo-form-desc
                  label Last Name
                .apinfo-form-input
                  input(type="text" name="a_pi_name")
              .apinfo-form-row
                .apinfo-form-desc
                  label Address
                .apinfo-form-input
                  input(type="text" name="a_pi_name")
              .apinfo-form-row
                .apinfo-form-desc
                  label Email
                .apinfo-form-input
                  input(type="text" name="a_pi_name")
              .apinfo-form-row
                .apinfo-form-desc
                  label Password
                .apinfo-form-input
                  input(type="text" name="a_pi_name")
              .apinfo-form-row
                .apinfo-form-desc
                  label Phone Number
                .apinfo-form-input
                  input(type="text" name="a_pi_name")
              .apinfo-form-row.apinfo-form-row-gender
                .apinfo-form-desc
                  label Gender
                .apinfo-form-input
                  input(type="radio" name="a_pi_gender" id="a_pi_gender_male" value="male" checked)
                  label(for="a_pi_gender_male")  Male
                  input(type="radio" name="a_pi_gender" id="a_pi_gender_female" value="female")
                  label(for="a_pi_gender_female")  Female
                  input(type="radio" name="a_pi_gender" id="a_pi_gender_other" value="other")
                  label(for="a_pi_gender_other")  Other
              input(type="submit" name="a_pi_submit" value="SAVE")