extends ./layouts/blog.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block blog_content
  main.blog
    //-blog image
    .container_fluid
      .row
        .col-lg-12.col-md-12.padding-0.main_row
          .blog-hero-image-wrapper
            img(src="images/Rectangle 3 copy 2.png")
            .blog-hero-content
              p.featured_post featured post
              h2 From 500 To 15 Weavers - The Story of Kashmiri Waguv
              p.description Kashmir Box prides itself for being an artisan family of more than 1000 artisans, 200 producers and 50+ local brands from the remotest corners of Kashmir. We aim to bring the most cherished and glorious of authentic Kashmiri Crafts and produce to our valued customers, giving them the most seamless shopping experience ever.
              a(href="")
                p.read_more Read more
                  span.fa.fa-caret-down
        .col-lg-12.col-md-12.padding-0.blog_menu_background
          .blog_menu
        .col-lg-12.col-md-12.padding-0.menu_items
          .blog_menu
            ul.nav.nav-tabs.responsivea-tabs
              li 
                a(href="#") Artisans of Kashmir
              li 
                a(href="#") Women Entrepreneurs of Kashmir
              li 
                a(href="#") Craft
              li 
                a(href="#") Artisans of Kashmir
              li 
                a(href="#") Women Entrepreneurs of Kashmir
              li 
                a(href="#") Craft
              li 
                a(href="#") Artisans of Kashmir
              li 
                a(href="#") Women Entrepreneurs of Kashmir
              li 
                a(href="#") Craft  
      .row
        .col-lg-12.col-md-12.blog_articles
          h5 Kashmir Box prides itself for being an artisan family of more than 1000 artisans, 200 producers and 50+ local brands from the remotest corners of Kashmir. We aim to bring the most cherished and glorious of authentic Kashmiri Crafts and produce to our valued customers, giving them the most seamless shopping experience ever.
          .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .blog-link-wrapper
              .blog-link
                .blog-image   
                  a(href="") 
                    img(src="https://www.kashmirbox.com/catalog/view/theme/kashmirbox_1/images/blog/default_blog.png" alt="blog-image-goes-here")
                .blog-heading
                  p BLOG: THE PASHMINA RING TEST
                .title
                  p
                    a(href="") The Pashmina Ring Test - Truth.
                .authorndatemodified
                  p.author
                    span.info-span
                      i.fa.fa-user
                    | SAMIYA ANDRABI
                  p.date
                    span.info-span
                      i.fa.fa-calendar
                    | 04/01/2019
          .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .blog-link-wrapper
              .blog-link
                .blog-image   
                  a(href="") 
                    img(src="https://www.kashmirbox.com/catalog/view/theme/kashmirbox_1/images/blog/default_blog.png" alt="blog-image-goes-here")
                .blog-heading
                  p BLOG: THE PASHMINA RING TEST
                .title
                  p
                    a(href="") The Pashmina Ring Test - Truth.
                .authorndatemodified
                  p.author
                    span.info-span
                      i.fa.fa-user
                    | SAMIYA ANDRABI     
                  p.date
                    span.info-span
                      i.fa.fa-calendar
                    | 04/01/2019
          .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .blog-link-wrapper
              .blog-link
                .blog-image   
                  a(href="") 
                    img(src="https://www.kashmirbox.com/catalog/view/theme/kashmirbox_1/images/blog/default_blog.png" alt="blog-image-goes-here")
                .blog-heading
                  p BLOG: THE PASHMINA RING TEST
                .title
                  p
                    a(href="") The Pashmina Ring Test - Truth.
                .authorndatemodified
                  p.author
                    span.info-span
                      i.fa.fa-user
                    | SAMIYA ANDRABI
                  p.date
                    span.info-span
                      i.fa.fa-calendar
                    | 04/01/2019
          .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .blog-link-wrapper
              .blog-link
                .blog-image   
                  a(href="") 
                    img(src="https://www.kashmirbox.com/catalog/view/theme/kashmirbox_1/images/blog/default_blog.png" alt="blog-image-goes-here")
                .blog-heading
                  p BLOG: THE PASHMINA RING TEST
                .title
                  p
                    a(href="") The Pashmina Ring Test - Truth.
                .authorndatemodified
                  p.author
                    span.info-span
                      i.fa.fa-user
                    | SAMIYA ANDRABI     
                  p.date
                    span.info-span
                      i.fa.fa-calendar
                    | 04/01/2019
          .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .blog-link-wrapper
              .blog-link
                .blog-image   
                  a(href="") 
                    img(src="https://www.kashmirbox.com/catalog/view/theme/kashmirbox_1/images/blog/default_blog.png" alt="blog-image-goes-here")
                .blog-heading
                  p BLOG: THE PASHMINA RING TEST
                .title
                  p
                    a(href="") The Pashmina Ring Test - Truth.
                .authorndatemodified
                  p.author
                    span.info-span
                      i.fa.fa-user
                    | SAMIYA ANDRABI     
                  p.date
                    span.info-span
                      i.fa.fa-calendar
                    | 04/01/2019
          .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .blog-link-wrapper
              .blog-link
                .blog-image   
                  a(href="") 
                    img(src="https://www.kashmirbox.com/catalog/view/theme/kashmirbox_1/images/blog/default_blog.png" alt="blog-image-goes-here")
                .blog-heading
                  p BLOG: THE PASHMINA RING TEST
                .title
                  p
                    a(href="") The Pashmina Ring Test - Truth.
                .authorndatemodified
                  p.author
                    span.info-span
                      i.fa.fa-user
                    | SAMIYA ANDRABI     
                  p.date
                    span.info-span
                      i.fa.fa-calendar
                    | 04/01/2019                              
