extends ./layouts/brand.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block brand_content
  main.brand
    //-Product_banner
    .container_fluid
      .row
        .col-lg-12.col-md-12.padding-0.brandbanner
          img(src="images/product_banner.png" alt="Banner").img-responsive
          h1 yinder pashmina society
        //-Productlist and filters
      .row
        .col-lg-11.col-md-11.col-lg-offset-1.col-md-offset-1.brand_description
          img(src="images/Rectangle 898.png" alt="atisan image")
          .discription  
            h3 yinder pashmina society
            p Lorem ipsum dolor sit amet, mea ferri lobortis complectitur ex. Nulla dignissim theophrastus in quo, eos verterem recusabo ex. Ne sit tota movet, latine omnesque salutatus et pro. Prima tractatos assueverit ne sea, ea nominati consectetuer cum, ea nam delenit albucius antiopam. Unum quas homero in qui. His falli torquatos id, no eum cibo feugiat vituperatoribus, cu scripserit eloquentiam pro. Eu meliore partiendo est, partem aliquip bonorum vis no.
            p Lorem ipsum dolor sit amet, mea ferri lobortis complectitur ex. Nulla dignissim theophrastus in quo, eos verterem recusabo ex. Ne sit tota movet, latine omnesque salutatus et pro. Prima tractatos assueverit ne sea, ea nominati consectetuer cum, ea nam delenit albucius antiopam. Unum quas homero in qui. His falli torquatos id, no eum cibo feugiat vituperatoribus, cu scripserit eloquentiam pro. Eu meliore partiendo est, partem aliquip bonorum vis no.
            h5 - Rouf Ahmed (Pashmina artisan)
      .row
        .col-lg-2.col-md-2.filter_list
          h3 Filters
          .panel-group#accordion(role="tablist" aria-multiselectable="true")
            .panel.panel-default
              .panel-heading(role="tab" id="headingOne")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Color
              .panel-collapse.collapse.in#collapseOne(role="tabpanel" aria-labelledby="headingOne")
                .panel-body
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox" placeholder='title of book')
                      //-span(data-colorhex="black")
                      | Option 1
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      | Option 2                  
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      |  Option 3
            .panel.panel-default
              .panel-heading(role="tab" id="headingTwo")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Fabric
              .panel-collapse.collapse.in#collapseTwo(role="tabpanel" aria-labelledby="headingTwo")
                .panel-body
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox" placeholder='title of book')
                      //-span(data-colorhex="black")
                      | Option 1
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      | Option 2                  
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      |  Option 3
            .panel.panel-default
              .panel-heading(role="tab" id="headingThree")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Type
              .panel-collapse.collapse.in#collapseThree(role="tabpanel" aria-labelledby="headingThree")
                .panel-body
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox" placeholder='title of book')
                      //-span(data-colorhex="black")
                      | Option 1
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      | Option 2                  
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      |  Option 3
            .panel.panel-default
              .panel-heading(role="tab" id="headingFour")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour") Embroidery
              .panel-collapse.collapse.in#collapseFour(role="tabpanel" aria-labelledby="headingFour")
                .panel-body
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox" placeholder='title of book')
                      //-span(data-colorhex="black")
                      | Option 1
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      | Option 2                  
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      |  Option 3
            .panel.panel-default
              .panel-heading(role="tab" id="headingFive")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive") Brand
              .panel-collapse.collapse.in#collapseFive(role="tabpanel" aria-labelledby="headingFive")
                .panel-body
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox" placeholder='title of book')
                      //-span(data-colorhex="black")
                      | Option 1
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      | Option 2                  
                  .checkbox.filter_checkbox
                    label
                      input(type="checkbox")
                      |  Option 3
        .col-lg-10.col-md-10.product_list
          .col-lg-12.col-md-12
            select.option_list.dropdown(data-settings='{"wrapperClass":"metro"}')
              option(data-ref="value" aria-placeholder="Select a country") We Recommend
              option(value="1") Newest
              option(value="2") Lowest Price
              option(value="3") Highest Price
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="#")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>                        