extends ./layouts/cart.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block cart_content
  main.cart_
    .container
      .row
        .col-lg-12.col-md-12.continue_shopping
          .continue_icon
            a(href="index.html")
              span.fa.fa-chevron-left
              p continue shopping   
          include ./components/tagline.pug
    .container
      .row.cartproducts
        .col-lg-8.col-md-8.product_details_incart
          .row
            blockquote.offers_blockquote 
              h4 offers
              ul
                li 10% Cashback on Airtel Payments Bank.
                li 10% Cashback on Airtel Payments Bank.
                li 10% Cashback on Airtel Payments Bank.
          .row
            .alert.alert-info(role="alert").free_delivery_alert 
              span.fa.fa-truck 
              |Yay! 
              b Free Delivery 
              |on this order 
          h3 My Shopping Bag(1 Items)
          .row.product_wrapper
            .col-lg-3.col-md-3
              img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10513(1)-168x212.jpg" style="width:80%")
            .col-lg-9.col-md-9
              .name_and_rate
                p Emerald Hand Embroidered Silk Suit
              .type
                p Choose the suit type: Unsitched Suit  
              .name_and_rate.size_and_quantity
                p Qty
                input(type="text" name="quantity[234863]" value="1" size="10").form-control
                span.input-group-btn
                  button(type="submit" data-toggle="tooltip" title="" class="btn btn-primary refresh_button" data-original-title="Update")
                    i.fa.fa-refresh
                .sq
              .name_and_price
                p Rs.7000  
              hr.divider
              .name_and_rate.remove_and_wishlist
                a(href="#")
                  p remove
                a(href="#") 
                  span move to wishlist
          .row.product_wrapper
            .col-lg-3.col-md-3
              img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10513(1)-168x212.jpg" style="width:80%")
            .col-lg-9.col-md-9
              .name_and_rate
                p Emerald Hand Embroidered Silk Suit
              .type
                p Choose the suit type: Unsitched Suit  
              .name_and_rate.size_and_quantity
                p Qty
                input(type="text" name="quantity[234863]" value="1" size="10").form-control
                span.input-group-btn
                  button(type="submit" data-toggle="tooltip" title="" class="btn btn-primary refresh_button" data-original-title="Update")
                    i.fa.fa-refresh
                .sq
              .name_and_price
                p Rs.7000  
              hr.divider
              .name_and_rate.remove_and_wishlist
                a(href="#")
                  p remove
                a(href="#") 
                  span move to wishlist
          .row.product_wrapper
            .col-lg-3.col-md-3
              img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10513(1)-168x212.jpg" style="width:80%")
            .col-lg-9.col-md-9
              .name_and_rate
                p Emerald Hand Embroidered Silk Suit
              .type
                p Choose the suit type: Unsitched Suit  
              .name_and_rate.size_and_quantity
                p Qty
                input(type="text" name="quantity[234863]" value="1" size="10").form-control
                span.input-group-btn
                  button(type="submit" data-toggle="tooltip" title="" class="btn btn-primary refresh_button" data-original-title="Update")
                    i.fa.fa-refresh
                .sq
              .name_and_price
                p Rs.7000  
              hr.divider
              .name_and_rate.remove_and_wishlist
                a(href="#")
                  p remove
                a(href="#") 
                  span move to wishlist           
        .col-lg-3.col-md-3.col-lg-offset-1.col-md-offset-1.rate_details
          p price details
          .rate_feature.bag_discptn
            p Box Total
            p Rs.21000
          .rate_feature.bag_discptn
            p Box Discount
            p Rs.300
          .rate_feature.bag_discptn.apply_coupon
            p Discount
            p 
              a(href="" data-toggle="modal" data-target="#applycoupon") Apply Coupon
          .rate_feature.bag_discptn
            p Estimated Tax
            p Rs.35   
          .rate_feature.bag_discptn
            p Delivery Charges
            p Rs.149
          hr
          .rate_feature.bag_discptn.total
            p Total
            p Rs.20,884
          button.checkout(type="button" onclick="location.href='checkout_1.html';")
            |checkout
          .footer_section  
            p (inclusive of shipping, handling and taxes)
            .partner_images
              img(src="images/d.png").img-responsive
              img(src="images/m.png").img-responsive
              img(src="images/v.png").img-responsive
              img(src="images/a.png").img-responsive  
          //--OTP Modal
          #applycoupon.applyModal.modal.fade(role="dialog")
            .modal-dialog
              //-Modal content
              .modal-content
                .modal-header
                  button(type="button" data-dismiss="modal").close &times;
                  h4.modal-title Apply Coupon
                .modal-body.apply_coupon_body
                  h3 enter coupon code.
                  form(method="POST" action="#").apply_form
                    input(type="text" name="applycoupon" required="required" placeholder="Type coupon code here").coupon-code
                  p or  
                  h4 Best coupon for you.
                  .couponcontainer
                    .couponcode
                      input(type="radio" name="pt")
                      .codebox HELLO001
                      p save
                        span.fa.fa-inr  
                      p.amount 207
                    p.info Rs. 300 off on minimum purchase of Rs. 799.0 Valid till 31st December 2019
                      span Details  
                .modal-footer
                  form(method="POST" action="#").button_form
                    a(href="#")
                      p cancel
                    input(type="submit" name="" value="APPLY")