extends ./layouts/contact.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block contact_content
  main.contact
    .container-fluid.padding-0
      .row
        .resp-container.col-lg-12.col-md-12.col-sm-12.col-xs-12
          iframe.resp-iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.2811865429544!2d74.7997133147003!3d34.08793642329671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e1855fbf3228e5%3A0xbc47827c1f5d58d0!2sKashmirbox.com!5e0!3m2!1sen!2sin!4v1548746564288" allowfullscreen)
    .container
      .row.locations
        h3 Locations
        .col-lg-6.col-md-6
          p.heading srinagar office
          p.address 
            span Address:
            | Second Floor, Kashmir Business Factory, Zaldagar, Nawab Bazar. 
          p.address2 Srinagar 190002 
        .col-lg-5.col-md-5.col-lg-offset-1.col-md-offset-1
          p.heading New delhi
          p.address 
            span Address:
            | Second Floor, 152A, Shahpur Jat, New Delhi - 110049.
      .row.locations
        h3 Contact
        .col-lg-6.col-md-6
          p.heading customer care
          p.address 
            span Phone:
            | +91 979 665 9999
          p.address 
            span Email:
            | cs@kashmirbox.com
        .col-lg-5.col-md-5.col-lg-offset-1.col-md-offset-1
          p.heading wholesale
          p.address 
            span Phone:
            | +91 979 797 8377
          p.address 
            span Email:
            | business@kashmirbox.com    
    hr