extends ./layouts/contact.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block contact_content
  main.contact
    .container
      .row
       .contact_info
          h2 Our Location
          .col-lg-12.col-md-12.contact_wrapper
            .col-lg-4.col-md-4.single_wrapper
              p.name KashmirBox.com
              p Kashmir Box Online Pvt Ltd.
              p Kashmir Business Factory
              p Indo Kashmir Complex, Nawab Bazar, Srinagar, Jammu and Kashmir India 190002
              p GSTIN: 01AAECK9299A1ZN 
            .col-lg-3.col-md-3.single_wrapper
              p.address Telephone
              p +91-9796-659-999