extends ./layouts/index.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block home_content
  main.home-content#content
    //Hero Section
    section.hero-slider-section.row
      include components/hero-slider.pug
    //Artisan Section
    section.artisan-collection-section.row
      .container
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title The Artisan Collection
            p.desc Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.
        .col-md-10.col-md-offset-1  
          include components/artisan-collection-slider.pug
    // Pashmina Section
    section.pashmina-section.row
      .container
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title Luxurious Pashmina Wraps
            p.desc Choose from our best selection of Pashmina wraps. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
        .masonary-gallery
          .left-col.col-sm-4
            .gallery-item(style='background-image:url(images/pashmina/pashmina-1.png)')
              .gallery-item-content
                h5.name Solid Pashmina
              .overlay
                .overlay-content
                  h5.name Solid Pashmina
                  p.excerpt.
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Fusce vel rutrum mauris. In velit libero, tincidunt ac congue ut, rhoncus commodo sapien.
                  a(href="#" class="btn btn-white shop-now") Shop Now <span class='fa fa-caret-right'></span>
          .center-col.col-sm-4
            .gallery-item(style='background-image:url(images/pashmina/pashmina-3.png)')
              .gallery-item-content
                h5.name GI Pashmina
              .overlay
                .overlay-content
                  h5.name GI Pashmina
                  p.excerpt.
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Fusce vel rutrum mauris. In velit libero, tincidunt ac congue ut, rhoncus commodo sapien.
                  a(href="#" class="btn btn-white shop-now") Shop Now <span class='fa fa-caret-right'></span>
            .gallery-item(style='background-image:url(images/pashmina/pashmina-2.png)')
              .gallery-item-content
                h5.name Dip Dye Pashmina
              .overlay
                .overlay-content
                  h5.name Dip Dye Pashmina
                  p.excerpt.
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Fusce vel rutrum mauris. In velit libero, tincidunt ac congue ut, rhoncus commodo sapien.
                  a(href="#" class="btn btn-white shop-now") Shop Now <span class='fa fa-caret-right'></span>
          .right-col.col-sm-4
            .gallery-item(style='background-image:url(images/pashmina/pashmina-4.png)')
              .gallery-item-content
                h5.name Kani Pashmina
              .overlay
                .overlay-content
                  h5.name Kani Pashmina
                  p.excerpt.
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Fusce vel rutrum mauris. In velit libero, tincidunt ac congue ut, rhoncus commodo sapien.
                  a(href="#" class="btn btn-white shop-now") Shop Now <span class='fa fa-caret-right'></span>
    // Latest Arrivals Section
    section.latest-arrivals-section.row
      .container
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title Latest Arrivals
            p.desc Health. Exotic Indulgence. Stylish Apparels.
      .product-slider-wrap
        - var productSliderId = 'product-slider-1';
        include components/product-slider.pug
    //Kashmiri Products Categories
    section.kashmiri-product-section.row
      .container.padding-0
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title With Love From Kashmir
            p.desc Health. Exotic Indulgence. Stylish Apparels.
        .product-grid-wrap
          include components/product-category-grid.pug
    //Kashmir Stories Section
    section.stories-section.row
      .container.padding-0
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title Stories from the valley
            p.desc People, Places, Art, Craft and Food!
        .left-col.col-sm-7
          .story-view1
            img(src='images/ghulam-nabi.png' alt='Ghulam Nabi')
            .desc
              h5 The Genius of Ghulam Nabi Dar
              p.
                As I walk into his Karkhana, he is completely lost in his own world, carving out the intricacies of a tree which demand his full attention. The constant drumming of his tools against planks of wood begins to sound like a melodious rhythm.
              a.read-more(href="#") Read more <span class="fa fa-caret-right"></span>
        .right-col.col-sm-5
          .story-view2
            a(href='#')
              img(src='images/nusrat-flower-power.png' alt="Nusrat Jahan")
              .overlay
                h6 Flower Power-The Story Of Nusrat Jahan Ara
          .story-view2
            a(href='#')
              img(src='images/cold-pressed-essential-oil.png')
              .overlay
                h6 Cold Pressed Essential Oils
    //Deals Section           
    section.deals-section.row
      .container
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title Deal of the day
        .right-col.col-sm-5.col-sm-offset-1.padding-0
          a(href='#')
            img(src="images/products/jute-bag.png" alt="Jute Bag")
        .left-col.col-sm-6.padding-0
            h4 Handcrafted Jute Bag
            .rating
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
            .desc
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat lacus quis rhoncus vestibulum. Nulla egestas at felis vitae pretium. Aliquam et scelerisque leo. Nulla nec eros laoreet, porta mauris eu, lobortis felis. In porttitor egestas vehicula. Morbi sagittis ipsum sit amet quam dictum, vitae venenatis eros porttitor.
              p.offer Starts from $229
            a.btn-orange.shop-now(href="#") 
              span#deal-countdown 00:22:33 
              span |
              span Shop Now <span class="fa fa-caret-right"></span>
    // Best Sellers Section
    section.best-sellers-section.row
      .container
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title Best Sellers
            p.desc Health. Exotic Indulgence. Stylish Apparels.
      .product-slider-wrap
        - var productSliderId = 'product-slider-2';
        include components/product-slider.pug
    //Special Products Categories
    section.special-product-section.row
      .container.padding-0
        .section-title
          .col-md-6.col-md-offset-3.padding-0
            h2.title You can’t do without
            p.desc Health. Exotic Indulgence. Stylish Apparels.
        .product-grid-wrap
          include components/product-category-grid.pug      
    //Testimonial Section
    include partials/testimonial-section.pug
    //Seen on Section
    include partials/seen-on-section.pug 
