extends ./layouts/product.pug
block append app_scripts
  script(src='js/product.js' async)
block app_variables
  - var pageTitle = "Kashmir Box";
block product_content
  main.product
    include ./components/breadcrumb.pug
    ol.breadcrumb.productbreadcrumb
      li.breadcrumb-item
        a(href="#")
          span.fa.fa-home
      li.breadcrumb-item
        a(href="#") Women
      li.breadcrumb-item
        a(href="#") Women Clothing
      li.breadcrumb-item
        a(href="#") Home 
    .container
      .row
        //-Image
        .left-col.col-md-6.padding-0.clearfix.product_image
          //Mobile Slider
          #product-img-slider
            //insert slider content using jquery
          //Large Screen Thumbnail Gallery
          #product-img-gal.clearfix
            a.active(href='#', data-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg', data-zoom-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg')
              img#img_01(src='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg' alt="Product 1")
            a(href='#', data-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg', data-zoom-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg')
              img#img_02(src='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg' alt="Product 2")
            a(href='#', data-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(3)-786x1000.jpg', data-zoom-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(3)-786x1000.jpg')
              img#img_03(src='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(3)-786x1000.jpg' alt="Product 3")
            a(href='#', data-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg', data-zoom-image='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg')
              img#img_04(src='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(5)-786x1000.jpg' alt="Product 4")
          .product-img
            img#product-img(src='https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(1)-786x1000.jpg' data-zoom-image="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(1)-786x1000.jpg" alt='Product 1')
            .three_features
              .features 
                p 100% Genuine
              .features
                p EMI
              .features
                p Ready to ship
        //-Product_Info  
        .col-lg-6.col-md-6.product_info
          .share
            a(href="#" data-toggle="popover" data-placement="bottom").share_popover
              span.fa.fa-share.shareicon
              h6 Share
            #popover_content_wrapper.content
              a(href="#")
                img(src="images/facebook.png")
              a(href="#")    
                img(src="images/google+.png")
              a(href="#")
                img(src="images/instagram.png")
              a(href="#")
                img(src="images/linkedin.png")
          a(href="brand.html")
            h3 Amma
          h5.product_name Coin Grey Vine Tilla Embroidered Wool Phiran
          .rating
            span.fa.fa-star.checked
            span.fa.fa-star.checked
            span.fa.fa-star.checked
            span.fa.fa-star
            span.fa.fa-star
          hr
          p.product_price 
            strong Rs. 8000
            s Rs. 10000
            span.discount (20% OFF)
          .size
            h5 Choose type 
            //-#[button(type="button").size-chart Choose type]
            .type
              select.form-control.product-type.form-control-product
                option unstiched
                option stiched
            .buttons
              button.size_buttons S
              button.size_buttons M
              button.size_buttons L
              button.size_buttons XL
          .more_colors
            h5 More colors
            img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10301(1)-786x1000.jpg")
            img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10300(1)-786x1000.jpg" alt="product_image")
            img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10432(1)-786x1000.jpg")    
          .cod
            .heading
              h5 delivery options
              span.fa.fa-truck
            .input_field
              input(type="text" placeholder="Enter pincode (India)")
              span.fa.fa-search
          .buttons
            button.add_to_cart(type="button" onclick="location.href='cart.html';")
              .wrapper_for_button 
                span.fa.fa-shopping-cart.fa-2x
                p Add to Cart 
            button.add_to_wishlist
              .wrapper_for_button 
                span.fa.fa-heart-o.fa-2x
                p Add to Wishlist 
          hr
          .description
            .heading
              h5 Product details
              span.fa.fa-info-circle
            p KBCODE: #[b KB0001]
            .product_details
              h6 MORE INFO
              ul
                li Material: Cotton
                li Color: Black
                li Size: Custom made
                li Care: Dry Clean
                li Embriodery: Hand Aari
                li Estimated Arrival: Between 20-30 days in India
                li Availability: Ships Internationally
            .product_details
              h6 DESCRIPTION
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
            .product_details
              h6 SELLER DETAILS
              p  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
            .product_details
              h6 About the craft
              p  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
            .product_details
              h6 Reviews
              p  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
    //-You may also like           
    .container-fluid
      .row.similar_products
        h3 Similar Products
        .col-lg-3.col-md-3
          a(href="#")
            img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10432(1)-786x1000.jpg").img-responsive
        .col-lg-3.col-md-3
          a(href="#")
            img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10301(1)-786x1000.jpg").img-responsive
        .col-lg-3.col-md-3
          a(href="#")
            img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10432(1)-786x1000.jpg").img-responsive
        .col-lg-3.col-md-3
          a(href="#")
            img(src="https://www.kashmirbox.com/image/cache//catalog/Kb_Images/women/clothing/dress_material/kb10301(1)-786x1000.jpg").img-responsive