extends ./layouts/search.pug

block app_variables
  - var pageTitle = "Kashmir Box";
block search_content
  main.category
    //-Product_banner
    .container_fluid
      .row
        //-will remove with breadcrumb file
        include ./components/breadcrumb.pug
        ol.breadcrumb.productbreadcrumb
          li.breadcrumb-item
            a(href="#")
              span.fa.fa-home
          li.breadcrumb-item
            a(href="#") Women
          li.breadcrumb-item
            a(href="#") Women Clothing
          li.breadcrumb-item
            a(href="#") Home
      .row
        .col-lg-12.col-md-12.product_list
          .col-lg-12.col-md-12
            include ./components/search_tags.pug
            include ./components/sort-order.pug
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
          .col-lg-3.col-md-3.column
            a(href="product.html")
              img(src="images/product.png" alt="Kashmir Box").img-responsive
              p.product_text Aftab Garden Silk Saree
              center
                span.price Rs. 3,344
                strike Rs. 4,500
                span.discount (10% OFF)
              center
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>