block app_variables
doctype html
html(lang='en')
  block app_head
  body
    .site-overlay    
    block app_header

    block app_content

    block app_footer

    include ../components/register_login_popup.pug
    block app_scripts
      script(src='js/main.min.js')
