block app_variables
doctype html
html(lang='en')
  block app_head
  body
    .site-overlay    
    block app_header
<<<<<<< HEAD
    .site-overlay
=======

>>>>>>> 4f66d318faeee140467966ba5b938960a49499c7
    block app_content

    block app_footer

<<<<<<< HEAD
    include ../components/register_login_popup.pug
=======
>>>>>>> 4f66d318faeee140467966ba5b938960a49499c7
    block app_scripts
      script(src='js/main.min.js')
