extends ./app.pug

block app_head
  include ../partials/head.pug

block app_header
  include ../partials/header-checkout.pug

block app_content
  block cart_content

block app_footer
  include ../partials/footer-checkout.pug