extends ./app.pug

block app_head
  include ../partials/head.pug

block app_header
  include ../partials/header.pug

block app_content
  block home_content

block app_footer
  include ../partials/footer.pug

block append app_scripts
  script(src='js/home.js' async)
