extends ./app.pug

block app_head
  include ../partials/head.pug

block app_header
  include ../partials/header.pug

block app_content
  block home_content

block app_footer
<<<<<<< HEAD
  include ../partials/footer.pug	
=======
  include ../partials/footer.pug
>>>>>>> 4f66d318faeee140467966ba5b938960a49499c7

block append app_scripts
  script(src='js/home.js' async)
