@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/bootstrap',
  'vendor/slick.scss',
  'vendor/slick-theme.scss';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/tagline',
  'layout/testimonial-section',
  'layout/seen-on-section',
  'layout/header-checkout',
  'layout/footer-checkout',
  'layout/checkout-steps';

// 5. Components
@import
  'components/button',
  'components/kbsearch',
  'components/newsletter-form',
  'components/social-connect',
  'components/hero-slider',
  'components/artisan-collection-slider',
  'components/masonary-gallery',
  'components/product-slider',
  'components/product-category-grid',
  'components/story-view1',
  'components/story-view2',
  'components/testimonial-slider',
  'components/seen-on-list',
  'components/mega-menu',
  'components/category-banner',
  'components/breadcrums',
  'components/selector',
  'components/number-input',
  'components/checkbox-input',
  'components/radio-input',
  'components/counter-input',
  'components/giftcard-form',
  'components/register-login-popup',
  'components/currency-dropdown';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/category',
  'pages/product',
  'pages/checkout',
  'pages/cart';

// 7. Themes
@import
  'themes/default';
